Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

merge canonical projects
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-data-layer

apply to v2 round
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

rm logging
  packages/data-layer/src/utils.ts
Due: prettier, lint-data-layer

update apply/redirect
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

add check for redirect
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

meh (#2969)
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Details.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/reducers/grantsMetadata.test.ts
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/utils.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

adding projectType and merge function
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-builder, lint-data-layer

refresh projects
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/grants/List.tsx
Due: prettier, lint-builder

smol fixes
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/base/ProjectForm.tsx
  packages/builder/src/components/grants/Edit.tsx
Due: prettier, lint-builder

some fixes/app view/exit btn
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

load only version specific rounds
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

wip
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

rm log
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

wip
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

create linked profile and process modal
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/reducers/grantsMetadata.test.ts
  packages/builder/src/reducers/roundApplication.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/steps.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

fixes
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/types/index.ts
Due: prettier, lint-builder

smol test fixes
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-builder, lint-data-layer

wip (#2982)
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

update view application
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/reducers/roundApplication.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/roundApplication.types.ts
Due: prettier, lint-builder, lint-data-layer

test udpates
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/base/StatusModal.test.tsx
  packages/builder/src/__tests__/components/grants/Card.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/routes.tsx
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

wip
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/reducers/roundApplication.ts
Due: prettier, lint-builder

feat: load projects from indexer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: update application id in project page
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/utils/graphql.ts
Due: prettier, lint-builder

remove subgraph url
  packages/builder/.env.example
  packages/builder/.env.test
Due: none

fix test/1
  packages/builder/src/__tests__/components/base/StatusModal.test.tsx
Due: prettier, lint-builder

fix test/2
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/reducers/projects.ts
Due: prettier, lint-builder

Create Allo v2 Round (#2934)
  packages/common/.env.test
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.test
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

load programs even if user is not in roles
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

working on tests
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/rounds/__tests__/Rounds.test.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/reducers/rounds.ts
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

fix
  packages/builder/src/components/grants/Card.tsx
Due: prettier, lint-builder

fix tests
  packages/round-manager/src/features/api/__tests__/program.test.ts
Due: prettier, lint-manager

fix linter errors
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

fix test/4
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/grants/Show.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

fix tests
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/components/grants/List.tsx
Due: prettier, lint-builder

fix lint
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

fix tlint
  packages/builder/src/__tests__/components/application/Form.test.tsx
Due: prettier, lint-builder

add start to dev commands to run `concurrently` for all the packages
  package.json
  packages/builder/src/index.tsx
  packages/common/package.json
  packages/data-layer/package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/dev
Due: prettier, lint-builder

fix typo
  scripts/dev
Due: none
