Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix error on useState used after if statement
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

fix Builder imports order
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

use unknown instead of any in Pinata
  packages/common/src/services/pinata.ts
Due: prettier

use round id instead of project id (#3316)
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

feat: submit to passport lite during checkout
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

feat: add checkPassportLiteRound
  packages/common/src/index.ts
Due: prettier

feat: update passport widget
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

fix
  packages/common/src/credentialVerifier.ts
Due: prettier

remove verified from data layer
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

chore: bypass expiration
  packages/common/package.json
  packages/common/src/credentialVerifier.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/Details.test.tsx
  packages/builder/src/__tests__/components/providers/Github.test.tsx
  packages/builder/src/__tests__/components/providers/Twitter.test.tsx
  packages/builder/src/hooks/useValidateCredential.tsx
  packages/common/package.json
  packages/common/src/credentialVerifier.ts
  packages/common/src/index.ts
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-data-layer

fix
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

lint
  packages/builder/src/__tests__/components/grants/Details.test.tsx
  packages/builder/src/__tests__/components/providers/Github.test.tsx
  packages/builder/src/__tests__/components/providers/Twitter.test.tsx
Due: prettier, lint-builder

rm mock
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix lint errors
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

remove expiry check
  packages/common/src/credentialVerifier.ts
Due: prettier

update applications in collection share dialog when cart is updated
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

fix lint
  packages/common/src/credentialVerifier.ts
Due: prettier

fix: changed tab name, no milestone text position (#3323)
  packages/grant-explorer/src/features/round/KarmaGrant/GrantItem.tsx
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneItem.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix: address design feedback
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

fix cart issue
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix: font issues
  packages/grant-explorer/public/ModernEra-Regular.woff
  packages/grant-explorer/src/index.css
Due: none

match style for Passport widget to new designs (#3305)
  packages/common/src/assets/passport-shield-green.svg
  packages/common/src/assets/passport-shield-orange.svg
  packages/common/src/assets/passport-shield-white.svg
  packages/common/src/assets/passport-shield-yellow.svg
  packages/grant-explorer/public/ModernEra-Regular.woff
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/PassportShield.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

add limit to all queries
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: fix issues in passport widget
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

and round id
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix get projects by id
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

add a limit to all graphql queries (#3326)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

update collection share button styles
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

tweak bg
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

fix: address engg feedback
  packages/common/src/index.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

explorer changes for Passport Lite x Cluster Match MVP (#3322)
  packages/common/src/index.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

hotfix explorer query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

hotfix manager query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix cart issue (#3325)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix (#3321)
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

add Collections tab only visible on collections page
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

update dynamic class names to be compiled
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
