Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

integrate checker (#3730)
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/index.tsx
  packages/builder/src/routes.tsx
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/GrantApplications.tsx
Due: prettier, lint-builder, lint-manager

add retrofunding to builder
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

fix build
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/common/src/allo/allo.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
Due: prettier, lint-builder

rm test
  packages/builder/src/__tests__/utils/RoundApplicationBuilder.test.ts
  packages/builder/tsconfig.tsbuildinfo
Due: prettier, lint-builder

✅
  packages/builder/src/__tests__/utils/RoundApplicationBuilder.test.ts
  packages/builder/tsconfig.tsbuildinfo
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
Due: prettier, lint-builder, lint-manager

skip tests
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
Due: prettier, lint-manager

add retrofunding to builder (#3746)
  packages/builder/src/__tests__/utils/RoundApplicationBuilder.test.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/utils.ts
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-data-layer

update checker api call to not await
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

update checker api call to not await (#3748)
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

update lukso rpc
  packages/common/src/chains.ts
Due: prettier

update lukso rpc (#3751)
  packages/common/src/chains.ts
Due: prettier

adds filecoin drips account safe address
  funding.json
Due: none

adds filecoin drips account safe address (#3752)
  funding.json
Due: none

Rename funding.json to FUNDING.json
  FUNDING.json
Due: none

fix apply
  packages/common/.env.test
Due: none

fix index
  packages/builder/src/utils/roundApplication.ts
Due: prettier, lint-builder

make it foolproof
  packages/builder/src/utils/roundApplication.ts
Due: prettier, lint-builder

fix
  packages/builder/src/utils/roundApplication.ts
Due: prettier, lint-builder

ensure index is not overwritten (#3754)
  packages/builder/src/utils/roundApplication.ts
  packages/common/.env.test
Due: prettier, lint-builder

Update LICENSE
  LICENSE
Due: none

Typo in the dataRequest.md
  .github/ISSUE_TEMPLATE/dataRequest.md
Due: none

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Due: none

Update LICENSE (#3755)
  LICENSE
Due: none

handle no question scenario
  packages/builder/src/utils/roundApplication.ts
Due: prettier, lint-builder

handle no question scenario (#3759)
  packages/builder/src/utils/roundApplication.ts
Due: prettier, lint-builder

added chains to query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

added chains to query (#3761)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

splitting out query for rounds grid so we can show unapproved applications
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

added conditional display logic
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundProjects.tsx
Due: prettier, lint-explorer

fixed test
  packages/grant-explorer/src/features/discovery/RoundProjects.tsx
Due: prettier, lint-explorer

some cleanup
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-explorer, lint-data-layer

Showing Pending Applications on Round Card (#3763)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundProjects.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

removing unneeded query and using same query on both screens
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

removing unneeded query and using same query on both screens (#3764)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

add hedera
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

update provider
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

add hedera (#3762)
  packages/builder/package.json
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier, lint-explorer

fix csv download
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
Due: prettier, lint-manager

remove sentry
  .env.example
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/craco.config.js
  packages/grant-explorer/package.json
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/sentry.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/index.tsx
  packages/round-manager/src/sentry.ts
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
