Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-ge, lint-rm, lint-builder

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-ge:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-rm:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: turbo run typecheck
    build:
      run: turbo run build
    test:
      run: turbo run test

feat: amount requested & app detail optional in DG
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-rm

feat: amount requested & app detail optional in DG (#2448)
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-rm

chore: address pr feedback
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/DEV.md
Due: none

fix: minor fixes for feedback from review
  packages/grant-explorer/src/features/common/MatchingEstimateTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-builder

fix: don't estimate when round is not loaded, fix total matching bugˆ
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

fix: don't estimate when round is not loaded, fix total matching bug, fix passport bug
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

fix: added text-area instead of input for multiline input
  packages/common/src/styles.ts
  packages/round-manager/src/features/round/ApplicationEligibilityForm.tsx
Due: prettier, lint-rm

Update round card design
  packages/grant-explorer/src/features/common/styles.ts
  packages/grant-explorer/src/features/discovery/RoundBanner.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundCardStat.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-builder

Add apply badge and date in meta
  packages/grant-explorer/src/features/common/styles.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-builder

Add plural days
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-builder

Remove by GITCOIN badge
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-builder

Add yellow color to round badge
  packages/grant-explorer/src/features/common/styles.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-builder

Add data-testid attributes to some form elements for builder (#2389)
  packages/builder/src/components/Header.tsx
  packages/builder/src/components/base/Button.tsx
  packages/builder/src/components/base/NetworkForm.tsx
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/components/base/ProjectForm.tsx
  packages/builder/src/components/base/VerificationForm.tsx
  packages/builder/src/components/grants/List.tsx
Due: prettier, lint-ge

chore: remove REACT_APP_DIRECT_GRANT_ENABLED and make it the default
  packages/round-manager/.env.example
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-rm

fix: don't display testnet rounds in production on expl. homepage
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

Fix conditionals
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-builder

docs: update contributing docs (#2440)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/DEV.md
  docs/KB.md
  packages/builder/README.md
  packages/grant-explorer/docs/DEV.md
  packages/round-manager/README.md
  packages/round-manager/docs/DEV.md
Due: none

chore: simplify
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

Check valid date in getDays
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-builder

Fix blurred images
  packages/grant-explorer/src/features/common/styles.ts
  packages/grant-explorer/src/features/discovery/RoundBanner.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundDaysLeft.tsx
Due: prettier, lint-builder

Fix truncate card title
  packages/grant-explorer/src/features/common/styles.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
Due: prettier, lint-builder

Short match amount copy
  packages/grant-explorer/src/features/discovery/RoundCardStat.tsx
Due: prettier, lint-builder

Update banner images
  packages/grant-explorer/src/assets/landing/stock1.jpg
  packages/grant-explorer/src/assets/landing/stock10.jpg
  packages/grant-explorer/src/assets/landing/stock11.jpg
  packages/grant-explorer/src/assets/landing/stock12.jpg
  packages/grant-explorer/src/assets/landing/stock13.jpg
  packages/grant-explorer/src/assets/landing/stock14.jpg
  packages/grant-explorer/src/assets/landing/stock15.jpg
  packages/grant-explorer/src/assets/landing/stock16.jpg
  packages/grant-explorer/src/assets/landing/stock17.jpg
  packages/grant-explorer/src/assets/landing/stock18.jpg
  packages/grant-explorer/src/assets/landing/stock19.jpg
  packages/grant-explorer/src/assets/landing/stock2.jpg
  packages/grant-explorer/src/assets/landing/stock20.jpg
  packages/grant-explorer/src/assets/landing/stock21.jpg
  packages/grant-explorer/src/assets/landing/stock22.jpg
  packages/grant-explorer/src/assets/landing/stock23.jpg
  packages/grant-explorer/src/assets/landing/stock24.jpg
  packages/grant-explorer/src/assets/landing/stock25.jpg
  packages/grant-explorer/src/assets/landing/stock26.jpg
  packages/grant-explorer/src/assets/landing/stock27.jpg
  packages/grant-explorer/src/assets/landing/stock28.jpg
  packages/grant-explorer/src/assets/landing/stock29.jpg
  packages/grant-explorer/src/assets/landing/stock3.jpg
  packages/grant-explorer/src/assets/landing/stock30.jpg
  packages/grant-explorer/src/assets/landing/stock31.jpg
  packages/grant-explorer/src/assets/landing/stock32.jpg
  packages/grant-explorer/src/assets/landing/stock4.jpg
  packages/grant-explorer/src/assets/landing/stock5.jpg
  packages/grant-explorer/src/assets/landing/stock6.jpg
  packages/grant-explorer/src/assets/landing/stock7.jpg
  packages/grant-explorer/src/assets/landing/stock8.jpg
  packages/grant-explorer/src/assets/landing/stock9.jpg
  packages/grant-explorer/src/features/discovery/RoundBanner.tsx
Due: prettier, lint-builder

chore: address pr feedback
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-rm

chore: describe rounds
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

chore: remove REACT_APP_DIRECT_GRANT_ENABLED and make it the default (#2465)
  packages/round-manager/.env.example
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-rm

chore: address engg feedback in builder
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/rounds/__tests__/Rounds.test.tsx
Due: prettier, lint-ge

chore: address engg feedback
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-ge, lint-rm

chore: update type for roundType
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/common/src/index.ts
  packages/grant-explorer/src/constants.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/ApplyNowPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-ge, lint-rm, lint-builder

fix: failing tests in rm
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-rm

chore: address review feedback.
  packages/builder/src/actions/projects.ts
  packages/round-manager/src/features/round/ReclaimFunds.tsx
Due: prettier, lint-ge, lint-rm

fix:explorer: handle replaced transactions on vote and token approval (#1783)
  packages/common/package.json
  packages/common/src/transactions.ts
  packages/grant-explorer/craco.config.js
  packages/grant-explorer/src/features/api/application.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

Manager: add ability to set a round or edit a round to be public or private (#1771)
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-rm

[1528] add/fixed verified badges, created, payout address, cropped banner (#1716)
  packages/builder/src/assets/index.ts
  packages/builder/src/assets/white-eth-icon-filled-circle.png
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/badges/GreenVerifiedBadge.tsx
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/icons/Shield.tsx
  packages/builder/src/utils/wallet.ts
  packages/round-manager/src/context/application/__tests__/BulkUpdateGrantApplicationContext.test.tsx
Due: prettier, lint-ge, lint-rm

feat: add bread crumbs :bread:
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/round/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-builder

fix: ci by rm unused imports
  packages/grant-explorer/src/features/round/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

feat: navbar logo click handling
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

feat: breadcrumb viz tests
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewCartPage.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-builder

Explorer: filter out private rounds (#1791)
  packages/grant-explorer/.env.sample
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/ApplyNowPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-builder
