Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

wip
  packages/common/src/chains.test.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

pointer
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

revert LUKSO name case
  packages/common/src/chains.ts
Due: prettier

fix: issues
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix erc20 fund contract safe approval bug (#3460)
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

update rainbowkit patch version to be able to override logos of existing chains (#3463)
  packages/common/src/chains.ts
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: prettier

Add Manage Team feature (#3446)
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/UpdateRolesContext.tsx
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

re-add networks
  packages/common/src/allo/abis/FundPool.abi.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/chains.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/misc/FundPool.abi.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

re-add networks
  packages/grant-explorer/src/app/chainConfig.ts
Due: prettier, lint-explorer

wip
  packages/builder/src/utils/test_utils.tsx
  packages/builder/src/utils/utils.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

remove REACT_APP_PINATA_GATEWAY in favour of REACT_APP_IPFS_BASE_URL
  packages/grant-explorer/src/features/common/CartNotification.tsx
  packages/grant-explorer/src/features/common/__tests__/CartNotification.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/BulkApplicationCommon.tsx
Due: prettier, lint-manager, lint-explorer

Explorer loads .env from the project's root
  packages/grant-explorer/craco.config.js
Due: prettier, lint-explorer

Manager loads .env from the project's root
  packages/round-manager/craco.config.js
Due: prettier, lint-manager

Builder loads .env from the project's root
  packages/builder/craco.config.js
Due: prettier, lint-builder

remove REACT_APP_ALLO_API_URL in favours of REACT_APP_INDEXER_V2_API_URL
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager, lint-explorer

remove hardcoded infura id
  packages/common/src/chains.ts
Due: prettier

wip
  packages/builder/package.json
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier

remove .env.example files from the 3 dapps
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/round-manager/.env.example
Due: none

add infura and alchemy providers only if env vars are set
  packages/builder/src/utils/chains.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/index.tsx
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

import arbitrum chain from wagmi instead of viem
  packages/grant-explorer/src/app/chainConfig.ts
Due: prettier, lint-explorer

wip
  package.json
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

fix error if passport API keys are not set
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

add .env.example at the root of the repo
  .env.example
Due: none

start script without rsbuild
  scripts/dev
Due: none

fix operator wallet
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
  packages/grant-explorer/src/features/collections/community/index.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/CardBanner.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/store.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-explorer, lint-data-layer

remove program filter
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager

updates
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix rsbuild .env config
  packages/builder/rsbuild.config.ts
  packages/grant-explorer/rsbuild.config.ts
  packages/round-manager/rsbuild.config.ts
  scripts/dev
Due: prettier, lint-builder, lint-manager, lint-explorer

fix rsbuild command
  scripts/dev
Due: none

Remove program filter (#3468)
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

passport API keys are required only in prod
  .env.example
  packages/common/src/config.ts
Due: prettier

remove unused vars
  packages/builder/src/utils/chains.ts
Due: prettier, lint-builder

remove voting token
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/store.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

verbose & sorted env.example
  .env.example
Due: none

Single .env file (#3467)
  .env.example
  packages/builder/.env.example
  packages/builder/craco.config.js
  packages/builder/rsbuild.config.ts
  packages/builder/src/utils/chains.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/craco.config.js
  packages/grant-explorer/rsbuild.config.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/common/CartNotification.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/common/__tests__/CartNotification.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/grant-explorer/src/index.tsx
  packages/round-manager/.env.example
  packages/round-manager/craco.config.js
  packages/round-manager/rsbuild.config.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/BulkApplicationCommon.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/hooks.ts
  scripts/dev
Due: prettier, lint-builder, lint-manager, lint-explorer

set public sepolia rpc
  packages/common/src/chains.ts
Due: prettier

set public sepolia rpc (#3469)
  packages/common/src/chains.ts
Due: prettier

added sei
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
