Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

fix: types
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
Due: prettier, lint-explorer

add allo version switch button to the footer
  packages/common/src/components/Footer.tsx
  packages/common/src/config.ts
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

enable Allo switch button if VERCEL_ENV === "preview"
  packages/common/src/components/Footer.tsx
Due: prettier

check `typeof window` before using localStorage for configOverrides
  packages/common/src/config.ts
Due: prettier

remove unused check on VERCEL_ENV
  packages/common/src/components/Footer.tsx
Due: prettier

add the common pkg to the tailwind config in Builder
  packages/builder/tailwind.config.js
Due: prettier, lint-builder

Add usdglo as payout token (#2894)
  packages/common/src/chain-ids.ts
  packages/common/src/payoutTokens.ts
  packages/round-manager/public/logos/usdglo-logo.svg
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

fix: update lock fileˆ
  pnpm-lock.yaml
Due: none

feat: move getApplication to data layer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

feat: move getApplication to data layer
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

fix: tsc, lints
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
Due: prettier, lint-explorer

Update packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

add allo version switch button to the footer (#2895)
  packages/builder/tailwind.config.js
  packages/common/src/components/Footer.tsx
  packages/common/src/config.ts
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-builder, lint-explorer

feat: add support for scroll mainnet
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/.env.test
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/icons/scroll-logo.svg
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/public/logos/scroll-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/public/logos/scroll-logo.svg
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: build issues
  packages/common/src/chains.ts
Due: prettier

fix: build issues
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-manager

fix: other issues
  packages/common/src/chains.ts
Due: prettier

fix: scroll icon ipfs
  packages/common/src/chains.ts
Due: prettier

feat: update lit version
  packages/builder/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

fix: issues after rebase
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/payoutTokens.ts
Due: prettier

fix: build issues
  packages/round-manager/src/features/api/deployments.ts
Due: prettier, lint-manager

fix: dontion history issue
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

feat: add synpress test commands to builder and ge
  packages/builder/package.json
  packages/grant-explorer/package.json
Due: none

fix: e2e test dir
  packages/builder/playwright.config.js
  packages/grant-explorer/playwright.config.js
  packages/round-manager/playwright.config.js
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: load all env files in playwrightˆ
  packages/builder/fixtures.ts
  packages/builder/tsconfig.json
  packages/grant-explorer/fixtures.ts
  packages/round-manager/fixtures.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: don't import userland code from tests
  packages/builder/fixtures.ts
  packages/round-manager/e2e/createProgram.test.ts
Due: prettier, lint-builder, lint-manager

fix: don't import userland code from tests
  packages/grant-explorer/fixtures.ts
  packages/round-manager/fixtures.ts
Due: prettier, lint-manager, lint-explorer

docs: add synpress documentation
  docs/DEV.md
Due: none

docs: ignore fixtures.ts to avoid linting error in githooks
  packages/builder/.eslintrc.js
Due: prettier, lint-builder

feat: add synpress (#2859)
  docs/DEV.md
  package.json
  packages/builder/.eslintrc.js
  packages/builder/craco.config.js
  packages/builder/e2e/homepage.test.ts
  packages/builder/fixtures.ts
  packages/builder/package.json
  packages/builder/playwright.config.js
  packages/builder/tsconfig.json
  packages/grant-explorer/e2e/homepage.test.ts
  packages/grant-explorer/fixtures.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/playwright.config.js
  packages/grant-explorer/vitest.config.ts
  packages/round-manager/.gitignore
  packages/round-manager/e2e/createDgRound.test.ts
  packages/round-manager/e2e/createProgram.test.ts
  packages/round-manager/e2e/homepage.test.ts
  packages/round-manager/fixtures.ts
  packages/round-manager/package.json
  packages/round-manager/playwright.config.js
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fetch rounds from indexer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/RoundContext.tsx
Due: prettier, lint-manager, lint-data-layer

wip
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: default to mainnet if chain id is not supported
  packages/builder/src/utils/AlloWrapper.tsx
Due: prettier, lint-builder

fix: default to mainnet if chain id is not supported (#2908)
  packages/builder/src/utils/AlloWrapper.tsx
Due: prettier, lint-builder

F
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
Due: prettier, lint-builder

setup wrapper for apply to round on v1/v2
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

add strategy abi
  packages/common/src/allo/abis/allo-v2/Strategy.ts
Due: prettier

fix
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

smol updates/test
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier, lint-builder
