Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

fix banner copy
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

fix navbar margins
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

Remove PGN Bridge and passport score decimals (#3155)
  packages/builder/src/components/Header.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

update address
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

redirect to v1
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

consistent horizontal padding between header-body-footer
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

consistent horizontal padding between header-body-footer
  packages/common/src/components/Footer.tsx
Due: prettier

fix: incorrect payout token issue on matic
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

Move QF payout code for Allo V1 to the Allo wrapper (#3129)
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/round-manager/src/constants.ts
  packages/round-manager/src/features/api/__tests__/payoutStrategy/merklePayoutStrategy.test.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

Implement QF Payout logic for Allo V2 (#3145)
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

update address (#3163)
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

implement "reclaim fund" on the allo wrapper
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
Due: prettier, lint-manager

fix reclaim funds tests
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

remove unused export
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
Due: prettier, lint-manager

fix lint
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

implement "reclaim fund" on the allo wrapper (#3153)
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

fix test
  packages/builder/src/__tests__/components/application/Form.test.tsx
Due: prettier, lint-builder

fix manager switcher
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-manager

update allo v2 sdk
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/deployments.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fix deployments
  packages/builder/src/contracts/deployments.ts
Due: prettier, lint-builder

implement reclaim funds for Allo V2
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
Due: prettier, lint-manager

fix test and lint warnings
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

fix build
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

fix decimal issue to show upto 5 decimal
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix lint error
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

always override config
  packages/common/src/config.ts
Due: prettier

fix test
  packages/builder/src/utils/test_utils.tsx
  packages/builder/tailwind.config.js
Due: prettier, lint-builder

builder switcher color
  packages/common/src/components/AlloVersionSwitcher.tsx
Due: prettier

fix tests
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

implement reclaim funds for Allo V2 (#3168)
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

remove log
  packages/builder/src/hooks/useValidateCredential.tsx
Due: prettier, lint-builder

fix
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

remove zksync
  docs/TOKENS.md
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

update sdk version until other branch is merged
  packages/common/package.json
  pnpm-lock.yaml
Due: none

fix: incorrect payout token issue on matic (#3164)
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

3174/update project to canonicalProject
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

3174/update project to canonicalProject (#3180)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer
