Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

fix
  packages/round-manager/src/features/round/RoundCard.tsx
  packages/round-manager/src/features/round/RoundListPage.tsx
Due: prettier, lint-manager

update flex for apps/fix badge
  packages/round-manager/src/features/common/styles.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

update date display/linting
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/round/ApplicationStatusView.tsx
  packages/round-manager/src/features/round/RoundCard.tsx
Due: prettier, lint-manager

update program details header/add chain icon
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager, lint-explorer

update footer layout
  packages/common/src/components/Footer.tsx
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

address comments/clean 🧹
  packages/round-manager/src/features/common/ActionPanel.tsx
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/round/ApplicationStatusView.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

update badge status for rounds
  packages/round-manager/src/features/common/Utils.ts
Due: prettier, lint-manager

fix bg
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

comment out test/more breaking changes..
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
Due: prettier, lint-manager

proper fix from rebase
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
Due: prettier, lint-manager

add chain icon for round header
  packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix build
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

remove logs
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/common/types.ts
  packages/round-manager/src/features/program/ProgramListPage.tsx
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/round/RoundCard.tsx
  packages/round-manager/src/features/round/RoundListPage.tsx
Due: prettier, lint-manager

fix auth/login page layout
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

fix gap/landing
  packages/round-manager/src/features/program/ProgramCard.tsx
Due: prettier, lint-manager

update nav color to white/style updates/address some feedback
  packages/round-manager/src/assets/manager-nav.svg
  packages/round-manager/src/features/common/ActionPanel.tsx
  packages/round-manager/src/features/common/BaseSwitch.tsx
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/common/styles.ts
  packages/round-manager/src/features/program/ProgramCard.tsx
  packages/round-manager/src/features/program/ProgramListPage.tsx
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationStatusView.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/RoundCard.tsx
  packages/round-manager/src/features/round/RoundListPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/index.css
Due: prettier, lint-manager

fixes/lint
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

fix landing nav
  packages/round-manager/src/features/common/LandingPage.tsx
Due: prettier, lint-manager

color/layout update
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

smol layout fix
  packages/round-manager/src/features/program/ProgramListPage.tsx
Due: prettier, lint-manager

add updated bg image for manager
  packages/round-manager/src/assets/landing/banner.svg
  packages/round-manager/src/features/common/Auth.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/common/styles.ts
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
Due: prettier, lint-manager

fix project loading bug
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

Update packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
Due: prettier, lint-manager

fix ui
  packages/round-manager/src/features/common/styles.ts
Due: prettier, lint-manager

update to pnpm/action-setup@v4
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
Due: none

fix
  .github/workflows/verify-env.yml
Due: none

fix
  .github/workflows/builder.yml
Due: none

fix project loading bug (#3550)
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  .github/workflows/verify-env.yml
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/common/styles.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

adding button
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

updated button copy
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

Add Public Profile Button (#3554)
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

fix: chainId is NaN
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

fix: chainId is NaN (#3557)
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

fix: hide button when round has ended
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

feat: update allo sdk version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

feat: add useDirectAllocation hook
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: show donate button only on chains that support direct donation
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer
