Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

Update packages/data-layer/src/openapi-search-client/apis/DefaultApi.ts
  packages/data-layer/src/openapi-search-client/apis/DefaultApi.ts
Due: prettier, lint-data-layer

[wip] add anchor to collections (#3370)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer, lint-data-layer

fix
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

disable project explore tab (#3373)
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

chore: use anchor address of project at the time of applying instead of the latest anchor address
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer, lint-data-layer

convert allo v2 donate into an operation
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

remove wait forindexer in donation
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

make projectstats panel collapse on mobile (#3369)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

remove wait forindexer in donation (#3377)
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

reintroduce project explor
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer, lint-data-layer

chore: use anchor address of project at the time of applying (#3376)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer, lint-data-layer

temp-fix: fetch anchor address at checkout
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder, lint-explorer, lint-data-layer

adds more collections
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

temp-fix: fetch anchor address at checkout (#3384)
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder, lint-explorer, lint-data-layer

disable explore project on v1
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

tweaked if styling
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

disable explore project on v1 (#3387)
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

log donation errors
  packages/grant-explorer/package.json
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/sentry.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

deduplicate context:
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer

remove console log
  packages/grant-explorer/src/sentry.ts
Due: prettier, lint-explorer

log through console.error
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer

log donation errors to sentry (#3388)
  packages/grant-explorer/package.json
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/sentry.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

specify timezone when creating rounds
  packages/common/src/index.ts
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix errant unix stamp displaying
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

add sentry cofig
  packages/builder/package.json
  packages/builder/src/index.tsx
  packages/builder/src/utils/sentry.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

sentry config
  packages/builder/.gitignore
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

update
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/FullPreview.tsx
Due: prettier, lint-builder

add some errors
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

hotfix: normalize depth for sentry
  packages/grant-explorer/src/sentry.ts
Due: prettier, lint-explorer

fix operator wallet
  packages/round-manager/src/features/api/program.ts
Due: prettier, lint-manager

add static ipfs collections (#3351)
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
  packages/grant-explorer/src/features/collections/community/index.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/CardBanner.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

ensure cart data is fresh
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/store.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

ensure we're not loading rejected applications
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer, lint-data-layer

restore pnpm lock
  pnpm-lock.yaml
Due: none

update comment
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix linter
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

add comment
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix comment
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer
