Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

feat: update batchDistributeFunds in v2
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: roud & application page redesign & integrate report card #2909
  packages/common/src/abi/merklePayoutStrategyImplementation.ts
  packages/common/src/abi/roundImplementation.ts
  packages/common/src/components/Footer.tsx
  packages/common/src/contracts.ts
  packages/common/src/icons.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/__tests__/GenericModal.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/projects/hooks/useRoundUniqueDonorsCount.ts
  packages/grant-explorer/src/features/round/ApplyButton.tsx
  packages/grant-explorer/src/features/round/BeforeRoundStart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageHero.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
  packages/grant-explorer/src/hooks/useWindowDimensions.ts
  packages/grant-explorer/src/index.css
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/tailwind.config.js
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

fix tests
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

round page/change tabs styles
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
Due: prettier, lint-explorer

feat: round page / display stats page as default only after round has ended
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageHero.tsx
Due: prettier, lint-explorer

fix get round applications after merge
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
Due: prettier, lint-explorer

use existing abi files
  packages/common/src/abi/merklePayoutStrategyImplementation.ts
  packages/common/src/abi/roundImplementation.ts
  packages/common/src/contracts.ts
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
Due: prettier, lint-explorer

add switcher dialog
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/common/src/components/Spinner.tsx
  packages/common/src/config.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

banner only on homepage
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/program/ListProgramPage.tsx
Due: prettier, lint-manager

fix lint
  packages/common/src/components/AlloVersionSwitcher.tsx
Due: prettier

disable switcher in view round
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

add allo version label
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

feat: update batchDistributeFunds in allo-v2
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: update ViewFundGrantees
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

chore: address engg feedback
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: build issues
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix: issues
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

disable create round for v1 programs on v2
  packages/common/src/config.ts
  packages/round-manager/src/features/program/ListProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix adding to cart bug
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

rm log
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

underline link
  packages/round-manager/src/features/program/ListProgramPage.tsx
Due: prettier, lint-manager

fix null assertion
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/api/voting.ts
Due: prettier, lint-explorer

feat: rm pgn bridge link
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

fix: passport score decimal issue
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

feat: rm pgn bridge link in builder
  packages/builder/src/components/Header.tsx
Due: prettier, lint-builder

feat: rm pgn bridge link in manager
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-manager

fix: explorer navbar margin issues
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

fix: lint issues
  packages/builder/src/components/Header.tsx
Due: prettier, lint-builder

feat: update passport score decimals from 0 to 2.
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

V2 Donations (#3116)
  packages/common/src/allo/abis/allo-v1/multiRoundCheckout.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/payoutTokens.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/utils/utils.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/grant-explorer/src/store.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer, lint-data-layer

builder allov2 release
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/Header.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/New.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/types/index.ts
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/program/ListProgramPage.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

fix builder linter
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

load explorer-v1 for v1 rounds
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

explorer changes
  packages/common/src/config.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

load all past rounds version on v2
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

auto redirect to v1 explorer for v1 rounds
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

allo going from allo v1 to v2
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

fix common test
  packages/common/src/config.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
