Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

updates
  packages/grant-explorer/src/features/round/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

tweak builder checker wording
  packages/builder/src/components/grants/ApplicationCard.tsx
Due: prettier, lint-builder

tweak builder checker wording (#3793)
  packages/builder/src/components/grants/ApplicationCard.tsx
Due: prettier, lint-builder

chore: refactor ViewCartPage splitting components and fixing hook dependencies
  packages/grant-explorer/src/features/round/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/SelectToken.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/index.ts
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix: hasura migration getApprovedApplicationsByExpandedFilter
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: hasura migration getApprovedApplicationsByExpandedFilter (#3794)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

wip
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/TotalAmountInclGitcoinDonation.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

add recipient copy to manager
  .env.example
  packages/common/package.json
  packages/common/src/assets/ethereum-icon.svg
  packages/common/src/components/CopyToClipboard.tsx
  packages/common/src/components/truncate.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/tsconfig.json
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager, lint-explorer

fix lockfile
  pnpm-lock.yaml
Due: none

add recipient address copy to manager (#3796)
  .env.example
  packages/common/package.json
  packages/common/src/assets/ethereum-icon.svg
  packages/common/src/components/CopyToClipboard.tsx
  packages/common/src/components/truncate.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/tsconfig.json
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

chore: moved ViewProjectDetails to its own folder to refactor
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/index.ts
Due: prettier, lint-explorer

chore: split ViewProjectDetails components into separate files
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ApplicationFormAnswers.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/CalendarIcon.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/CartButtonToggle.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Detail.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectDetailsTab.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLink.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLinks.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLogo.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Sidebar.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Stat.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/VerifiedBadge.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/hooks/useProjectDetailsParams.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/index.ts
Due: prettier, lint-explorer

chore: hide staking banner if it is not donation period
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
Due: prettier, lint-explorer

chore: avoid datadog and intercom on dev
  packages/grant-explorer/public/index.html
  packages/grant-explorer/src/datadog.tsx
Due: prettier, lint-explorer

feat: implemented StakingBannerAndModal
  .env.example
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/index.ts
Due: prettier, lint-explorer

chore: fix merge conflicts
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLink.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLinks.tsx
Due: prettier, lint-explorer

feat: implement staking flow - StakingBannerAndModal (#3795)
  .env.example
  packages/grant-explorer/public/index.html
  packages/grant-explorer/src/datadog.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ApplicationFormAnswers.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/CalendarIcon.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/CartButtonToggle.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Detail.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectDetailsTab.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLink.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLinks.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectLogo.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/ProjectStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Sidebar.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Stat.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/VerifiedBadge.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/hooks/useProjectDetailsParams.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/index.ts
Due: prettier, lint-explorer

updates
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
Due: prettier, lint-explorer

fix matching distribution
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

fix matching distribution (#3798)
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

use legcay endpoints
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager

changes
  packages/builder/tsconfig.tsbuildinfo
  packages/data-layer/src/data-layer.test.ts
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager, lint-data-layer

fix matching distribution (#3799)
  packages/builder/tsconfig.tsbuildinfo
  packages/data-layer/src/data-layer.test.ts
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager, lint-data-layer

Typo in the dataRequest.md (#3757)
  .github/ISSUE_TEMPLATE/dataRequest.md
Due: none

chore: added staking countdown functionality
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingCountDownLabel.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/types.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/utils.ts
Due: prettier, lint-explorer

updates
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
Due: prettier, lint-explorer

updates
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/SelectToken.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
Due: prettier, lint-explorer

gitcoin donations
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/features/round/DonateToGitcoin/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
Due: prettier, lint-explorer

update left hook 👀
  lefthook.yml
Due: none

rm logs
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
Due: prettier, lint-explorer

add addresses and filter by supported chains
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
Due: prettier, lint-explorer

Feat/donate to gitcoin (#3801)
  lefthook.yml
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonateToGitcoinContent.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/DonationInput.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/components/TotalAmountInclGitcoinDonation.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoin/index.ts
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutModals.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

chore: update env.example
  .env.example
Due: none

feat: new RoundViewLayout
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

chore: small fix on dropdown component
  packages/grant-explorer/src/features/common/Dropdown.tsx
Due: prettier, lint-explorer

feat: updated stakingBannerAndModal to support all the different variations
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingCountDownLabel.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/utils.ts
Due: prettier, lint-explorer

feat: added staking hooks
  packages/grant-explorer/src/features/projects/hooks/useRoundStakingSummary.tsx
  packages/grant-explorer/src/features/projects/hooks/useSortApplications.ts
Due: prettier, lint-explorer

fix: project card to support a staking banner
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
Due: prettier, lint-explorer

feat: staking sort dropdown
  packages/grant-explorer/src/features/round/ViewRoundPage/SortDropdown.tsx
Due: prettier, lint-explorer

feat: integrates staking round view
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
