Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-ge, lint-rm, lint-builder, lint-data-client

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-ge:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-rm:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-client:
  run: pnpm --filter "grants-stack-data-client" lint {staged_files}
  stage_fixed: true

chore: remove goerli (#2652)
  packages/builder/.env.example
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/components/base/__tests__/NetworkForm.test.tsx
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/checkoutStore.test.tsx
  packages/grant-explorer/src/features/api/__tests__/utils.test.tsx
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/round/ViewCartPage.ignored.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/__tests__/payoutStrategy/merklePayoutStrategy.test.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/verify-env/src/testSource.txt
Due: prettier, lint-ge, lint-rm, lint-builder

feat: re-enable matching estimates for polygon (#2658)
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

fix: minor screen bugs, grant tab name, message display position
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

fix: milestone update statement
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneItem.tsx
Due: prettier, lint-builder

feat: make summary box sticky
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

chore: simplify payout tokens handling
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-rm

chore: simplify payout tokens handling
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
Due: prettier, lint-rm

chore: simplify payout tokens handling
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-rm

feat: add sepolia testnet
  packages/builder/.env.example
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-ge, lint-rm, lint-builder

fix: build issues
  packages/builder/src/contracts/deployments.ts
  packages/grant-explorer/src/features/api/contracts.ts
Due: prettier, lint-ge, lint-builder

feat: make summary box sticky (#2663)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

chore: data docs
  docs/DATA.md
Due: none

Application page redesign
  packages/grant-explorer/src/assets/icons/ethereum-icon.svg
  packages/grant-explorer/src/assets/icons/globe-icon.svg
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/utils/truncate.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails._tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-builder

Add collections
  packages/grant-explorer/src/features/collections/data/givethGalaxy.ts
  packages/grant-explorer/src/features/collections/data/griffsOSS.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-builder

iterate on data docs
  docs/DATA.md
Due: none

Update collection
  packages/grant-explorer/src/features/collections/data/griffsOSS.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-builder

Add collections (#2672)
  packages/grant-explorer/src/features/collections/data/givethGalaxy.ts
  packages/grant-explorer/src/features/collections/data/griffsOSS.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-builder

Fix layout
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
Due: prettier, lint-builder

Shuffle collections
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
Due: prettier, lint-builder

Update descriptions
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-builder

feat: disable donate button if insufficient funds
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

chore: lints
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

Explorer: 2668 update collections layout + shuffle (#2674)
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-builder

iterate on data doc
  docs/DATA.md
Due: none

Update RoundEndedBanner
  packages/grant-explorer/src/features/common/RoundEndedBanner.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-builder

Clean up
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

Remove unused file
  packages/grant-explorer/src/features/round/ViewProjectDetails._tsx
Due: none

Remove console.log
  packages/grant-explorer/src/context/RoundContext.tsx
Due: prettier, lint-builder

Remove unused code
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-builder

Fix tests
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-builder

Explorer: remove unused use of query string in Karma tab (#2650)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

fix: minor screen bugs, grant tab name, message display position
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneItem.tsx
Due: prettier, lint-builder

Fix tests
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

Add loading skeleton for about text
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

Add wrapping div to reduce diff in component
  packages/grant-explorer/src/features/common/RoundEndedBanner.tsx
Due: prettier, lint-builder

update PGN Bridge link to point to docs
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-ge: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-rm: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-client: any of: **/*.{js,ts,jsx,tsx} and ^packages/grants\-stack\-data\-client/
