Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

feat: add useProjectsBySearchTerm hook
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
Due: prettier, lint-explorer

feat: search functionality
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

feat: update getProjects queries
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: ui issues
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

add explorer projects tab (#3524)
  packages/common/src/routes/explorer.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/common/ApplicationCard.test.tsx
  packages/grant-explorer/src/features/common/ApplicationCard.tsx
  packages/grant-explorer/src/features/common/ProjectBanner.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/ExploreApplicationsPage.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/PaginatedApplicationsList.test.tsx
  packages/grant-explorer/src/features/discovery/PaginatedApplicationsList.tsx
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: render milestone updates as markdown
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneUpdate.tsx
Due: prettier, lint-explorer

fix: use right signer
  packages/grant-explorer/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager, lint-explorer

fix test
  packages/grant-explorer/src/features/common/Auth.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager, lint-explorer

fix
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
Due: prettier, lint-manager

fix: use right signer (#3531)
  packages/grant-explorer/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager, lint-explorer

keep the finalize round button always enabled
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

update finalize results button styles
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

keep the finalize round button always enabled (#3534)
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix: isInfiniteDate should check if year is lower or equal to 1970
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

fix: render milestone updates as markdown (#3529)
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneUpdate.tsx
Due: prettier, lint-explorer

update navbar/disable featured ddl
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

clean
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

remove collection section from landing
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

remove share link from header
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

update navbar/disable featured ddl (#3539)
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

add share button
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

add share button (#3540)
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix(explorer): add `allov2.DirectGrantsSimpleStrategy` to isDirectRound check
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

fix(explorer): do not render Donate timeline in direct rounds
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix(explorer): ApplicationsCountdownVanner for direct rounds without end date
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
Due: prettier, lint-explorer

fix(explorer): direct rounds not displayed correctly (#3542)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

smol nits
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

update order by
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

add chain switch back
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

fix capitalization
  packages/round-manager/src/features/common/CopyToClipboardButton.tsx
Due: prettier, lint-manager

smol lint/fix
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

update applications layout
  packages/round-manager/src/features/common/ViewGrantsExplorerButton.tsx
  packages/round-manager/src/features/round/ApplicationStatusView.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/program/ProgramListPage.tsx
Due: prettier, lint-manager

update icon
  packages/round-manager/src/assets/explorer.svg
  packages/round-manager/src/features/common/ViewGrantsExplorerButton.tsx
Due: prettier, lint-manager

fix breadcrumb
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager, lint-data-layer

tests
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

fix test
  packages/round-manager/src/features/common/__tests__/CopyToClipboardButton.test.tsx
Due: prettier, lint-manager

fix
  packages/common/src/icons/AlloV1Black.tsx
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/types.ts
  packages/round-manager/src/features/program/ProgramCard.tsx
  packages/round-manager/src/features/program/ProgramListPage.tsx
  packages/round-manager/src/features/round/RoundCard.tsx
  packages/round-manager/src/features/round/RoundListPage.tsx
Due: prettier, lint-manager, lint-data-layer

sort is desc
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer
