Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

feat: karma gap project activities (#3820)
  .env.example
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/round/KarmaGrant/ActivityItem.tsx
  packages/grant-explorer/src/features/round/KarmaGrant/ActivityList.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
Due: prettier, lint-explorer

Update RoundImplementation.json and Data Layer Test (#3774)
  packages/builder/src/contracts/abis/RoundImplementation.json
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

remove match amount min check
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

quick celo round fix
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

quick celo round fix (#3826)
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

try fix
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix checklist
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

enable csv upload
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager
