Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

added rpc urls
  packages/common/src/chains.ts
Due: prettier

add posthog to builder
  packages/builder/.env.test
  packages/builder/package.json
  packages/builder/src/index.tsx
  packages/builder/src/utils/posthog.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

add ph to manager
  packages/round-manager/.env.test
  packages/round-manager/package.json
  packages/round-manager/src/index.tsx
  packages/round-manager/src/posthog.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

update chain data package
  packages/common/package.json
  pnpm-lock.yaml
Due: none

update chain data package (#3511)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

feat: add active rounds in sidetab & fix ui issues in past rounds tab
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add to cart functionality in project page
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: update ui to handle direct grant rounds
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

update builder
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/Show.test.tsx
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/global.ts
  packages/builder/src/services/lit.ts
  packages/builder/src/utils/AlloWrapper.tsx
  packages/builder/src/utils/projects.ts
  packages/builder/src/utils/utils.ts
  packages/builder/src/utils/wagmi.ts
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer

f
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/common/AddQuestionModal.tsx
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/hooks.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

fix ui
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

Update packages/common/src/index.ts
  packages/common/src/index.ts
Due: prettier

Add active rounds in sidetab (#3509)
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix ui (#3512)
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

update lock
  pnpm-lock.yaml
Due: none

update lock (#3513)
  pnpm-lock.yaml
Due: none

rm useWallet
  packages/builder/src/index.tsx
  packages/common/src/index.ts
  packages/grant-explorer/src/features/common/Auth.tsx
  packages/grant-explorer/src/index.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

f
  packages/round-manager/src/features/common/Auth.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

update Landing
  packages/builder/src/components/grants/Landing.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder

swap out rainbow with web3modal
  packages/round-manager/package.json
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

update packages
  packages/builder/package.json
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

fix
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

fix
  packages/builder/package.json
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

fix
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

change verify-env
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

bump
  pnpm-lock.yaml
Due: none

force engine
  package.json
Due: none

fix some tests
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/common/__tests__/ErrorModal.test.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
Due: prettier, lint-manager

fix test
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
