Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

feat: replace subgraph query with indexer query in manager
  packages/data-layer/src/data-layer.ts
  packages/round-manager/package.json
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

fix: query issues
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/program.ts
Due: prettier, lint-manager, lint-data-layer

fix: query issues
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
Due: prettier, lint-manager, lint-data-layer

fix: tests
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
Due: prettier, lint-manager

fix: tests
  packages/round-manager/src/context/program/__tests__/CreateProgramContext.test.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager

fix: don't crash the page on invalid roundsˆ
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

update indexer url in config
  packages/builder/.env.example
  packages/common/src/config.ts
Due: prettier

fix: typesˆ
  packages/round-manager/src/features/api/__tests__/application.test.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
Due: prettier, lint-manager

chore: remove synpressˆ
  packages/round-manager/.gitignore
  packages/round-manager/fixtures.ts
  packages/round-manager/package.json
  packages/round-manager/playwright.config.js
  packages/round-manager/tests/createDgRound.test.ts
  packages/round-manager/tests/createProgram.test.ts
Due: prettier, lint-manager

chore: update pnpm lock and remove stray line in package.jsonˆ
  packages/common/package.json
  pnpm-lock.yaml
Due: none

move function before emits
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

Apply suggestions from code review
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer, lint-data-layer

apply review changes
  packages/builder/src/actions/newGrant.ts
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

update config
  packages/common/src/config.ts
Due: prettier

fix: fix redirect bug
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

feat: add synpress
  packages/round-manager/.gitignore
  packages/round-manager/fixtures.ts
  packages/round-manager/package.json
  packages/round-manager/playwright.config.js
  packages/round-manager/tests/createDgRound.test.ts
  packages/round-manager/tests/createProgram.test.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

feat: wait for program name in program e2e test
  packages/round-manager/tests/createDgRound.test.ts
Due: prettier, lint-manager

feat: program and dg round testsˆ
  packages/round-manager/package.json
  packages/round-manager/playwright.config.js
  packages/round-manager/tests/createDgRound.test.ts
  packages/round-manager/tests/createProgram.test.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

fix: conflictsˆ
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  pnpm-lock.yaml
Due: prettier

fix: lints
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/deployments.ts
Due: prettier, lint-manager

fix: lints
  packages/builder/src/index.tsx
Due: prettier, lint-builder

fix: lintsˆ
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

init round apply wrapper work
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

work on v2 apply/tests
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

Update packages/common/src/AlloWrapper.tsx
  packages/common/src/AlloWrapper.tsx
Due: prettier

data layer reload
  packages/data-layer/package.json
Due: none

fix: review comments
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

data layer reload (#2867)
  packages/data-layer/package.json
Due: none

chore: address feedback
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

chore: address engg feedback
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

chore: update env example
  packages/builder/.env.example
Due: none

fetch Allo V1 programs from the indexer (#2844)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/package.json
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/program/__tests__/CreateProgramContext.test.tsx
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

fix: use real indexer v2 endpointˆ
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

fix active rounds
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

sort by amount of projects
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

fix: finish application page indexer v2 data
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

log rounds
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

chore: merge
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

create a round on allo V1 using allo wrapper in manager (#2826)
  packages/builder/craco.config.js
  packages/builder/src/index.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/src/AlloWrapper.tsx
  packages/common/src/allo/abis/allo-v2/Allo.ts
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/chain-ids.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/common/src/types.ts
  packages/common/tsconfig.json
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/CreateRoundContext.test.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer
