Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

chore: address feedback
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

fix: tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

test: add viewProject tests
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: add project page in explorer
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: updated at
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: address engg feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

feat: move useValidateCredential to common
  packages/builder/src/components/application/AboutProject.tsx
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/providers/Github.tsx
  packages/builder/src/components/providers/Twitter.tsx
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/services/passport/credentialVerifier.ts
  packages/common/src/services/passport/passportCredentials.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

feat: show verfied badge in project page
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix round access
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix round access (#3491)
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

update lock
  pnpm-lock.yaml
Due: none

fix allProjects to be an array instead of an object
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix allProjects to be an array instead of an object (#3492)
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

bump versin
  packages/common/package.json
  pnpm-lock.yaml
Due: none

feat: add stats sidebar
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix cart
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

feat: add getApplicationsByProjectId query
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: implemented getTimeLeftutils and parseTimeLeft reusing the logic of getDaysLeft
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

feat: implemented RoundStartCountdownBadge component
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
Due: prettier, lint-explorer

feat: implemented ApplicationsCountdownBanner component
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
Due: prettier, lint-explorer

feat: add getApplicationsByProjectId in data layer
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

feat: add useApplications
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

chore: update hook name
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

chore: removed unused BeforeRoundStart and AfterRoundStart components
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

lowercase address
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

feat: hide project card footer before round start
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: use ApplicationsCountdownBanner and RoundStartCountdownBadge before round starts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: hide AddToCart button in Project Details page before round start
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

chore: removed unused CountdownBanner and useCountdown
  packages/grant-explorer/src/features/round/CountdownBanner.tsx
  packages/grant-explorer/src/hooks/useCountdown.tsx
Due: prettier, lint-explorer

feat: fetch & show rounds data
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: update ui
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: extended TW theme with rainbow gradiend background
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

chore: use rainbow gradient for pre-round badge
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
Due: prettier, lint-explorer

chore: changed Apply button color orange-100
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
Due: prettier, lint-explorer

chore: changed Apply button text during round to "Check requirements"
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
Due: prettier, lint-explorer

chore: do not show application countdown banner in post-apply period
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix: project card description size broken in round period
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: removed button on direct rounds to avoid button duplication
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: added testId props to RoundStartCountdownBadge and ApplicationsCountdownBanner
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
Due: prettier, lint-explorer
