Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

wip
  packages/common/src/allo/allo.ts
Due: prettier

wip
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

meh
  packages/builder/src/components/grants/Edit.tsx
Due: prettier, lint-builder

start on edit flow
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

set projectId when using GrantApplication for direct payout
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager

set projectId when using GrantApplication for direct payout (#3092)
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager

fix(Manager): convert p to div to avoid invalid html
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

avoid react errors adding key to elements inside loops
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

v1 imp work
  packages/builder/src/actions/projects.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

add tx-builder file
  packages/common/src/allo/transaction-builder.ts
Due: prettier

add inner error as "cause" in custom AlloError
  packages/common/src/allo/allo.ts
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

wip
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

wip
  packages/common/src/types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
Due: prettier, lint-manager

f
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix(Manager): convert p to div to avoid invalid html (#3093)
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

g
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

f
  packages/common/src/allo/backends/allo-v1.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

feat: move edit code to wrapper (#3096)
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

improve docs and default .env vars to run builder in local
  docs/DEV.md
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
Due: prettier, lint-explorer

avoid react errors adding key to elements inside loops (#3094)
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

remove unused code
  packages/common/src/allo/backends/allo-v1.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
Due: prettier, lint-manager

fix tests
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/__tests__/round.test.ts
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
Due: prettier, lint-manager

fix types
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-builder.ts
Due: prettier

clean unused imports
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
Due: prettier, lint-manager

improve docs and default .env vars to run builder in local (#3097)
  docs/DEV.md
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
Due: prettier, lint-explorer

rm unused tets
  packages/round-manager/src/features/api/__tests__/round.test.ts
Due: prettier, lint-manager

fix 1 test
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
