Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

wait for indexer when applying to a round on v1 (#3156)
  packages/builder/src/__tests__/components/base/StatusModal.test.tsx
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/reducers/roundApplication.ts
  packages/builder/src/utils/steps.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

only dg in v1 and qf in v2'
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix max height
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager

wip/lit fix
  packages/builder/src/services/lit.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

default v2
  packages/common/src/config.ts
Due: prettier

fix explorer redirecT
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix test
  packages/common/src/config.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager

disable qf round creation in v1 (#3229)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager, lint-explorer

fix explorer applciation route
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

fix unsupported chains
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

fix explorer applciation route (#3244)
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

fix unsupported chains (#3245)
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

decrypt allo v2 lit from manager
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/api/lit.ts
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix allo version siwthcer icon warning
  packages/common/src/components/AlloVersionSwitcher.tsx
Due: prettier

feat: update fetchPassport to handle fetching for avalanche
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
Due: prettier, lint-explorer

feat: update passport widget
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

feat: update submit passoprt
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
Due: prettier, lint-explorer

implement lit encryption and decryption for allo v2 (#3243)
  packages/builder/src/services/lit.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/api/lit.ts
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager

fix unsupported redstone tokens
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix unsupported redstone tokens (#3247)
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix: other issues
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
Due: prettier, lint-explorer

chore: fix small issues
  packages/common/src/index.ts
Due: prettier

feat: change passport widget copy for avalanche
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

fix: tests
  packages/grant-explorer/src/features/api/__tests__/passport.test.tsx
Due: prettier, lint-explorer

chore: add comment
  packages/common/src/index.ts
Due: prettier

update close on overlay click (#3203)
  packages/builder/src/components/base/StatusModal.tsx
Due: prettier, lint-builder

wip/adding featured rounds
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

v1/v2 issue wip
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

linting
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

reorg a bit
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

chore:enable reapply
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

remove check if already applied
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

cleanup/update
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

lint/update for v1
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

chore:enable reapply (#3258)
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

fix: passport schema issue
  packages/common/src/index.ts
Due: prettier

fix: cart issue
  packages/common/src/index.ts
Due: prettier

fix: ui issues
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

feat: address engg feedback
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/__tests__/passport.test.tsx
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer
