Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-ge, lint-rm, lint-builder, lint-data-client

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-ge:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-rm:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-client:
  run: pnpm --filter "grants-stack-data-client" lint {staged_files}
  stage_fixed: true

iterate on data doc
  docs/DATA.md
Due: none

Refactor hooks and ProjectStats into seperate files
  packages/grant-explorer/src/features/projects/ProjectStats.tsx
  packages/grant-explorer/src/features/projects/ViewProjectPage.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProjectPage.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApprovedApplication.ts
  packages/grant-explorer/src/features/projects/hooks/useVerifyProject.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-builder

feat: add sepolia mrc contract
  packages/grant-explorer/src/features/api/contracts.ts
Due: prettier, lint-builder

feat: add sepolia test dai
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-rm, lint-builder

Revert "Refactor hooks and ProjectStats into seperate files"
  packages/grant-explorer/src/features/projects/ProjectStats.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApprovedApplication.ts
  packages/grant-explorer/src/features/projects/hooks/useVerifyProject.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-builder

feat: add sepolia dai to manager
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-rm

update PGN Bridge link to point to docs (#2677)
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

fix: don't assume system-wide installation for turbo
  lefthook.yml
Due: none

chore: remove obsolete query
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
Due: prettier

chore: try new PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: remove duplicate header
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: remove gist token
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-builder

Fix icon color
  packages/grant-explorer/src/assets/github-logo.svg
  packages/grant-explorer/src/assets/icons/ethereum-icon.svg
  packages/grant-explorer/src/assets/icons/globe-icon.svg
  packages/grant-explorer/src/assets/twitter-logo.svg
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

feat: enable add all to cart button in collections
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
Due: prettier, lint-builder

feat: enable add all to cart button in collections (#2682)
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
Due: prettier, lint-builder

temporarily disable matching estimate
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

temporarily disable matching estimate (#2685)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

add termporary disableEstimate var that will be taken from env vars
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

add disableEstimate var (#2686)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

remove call to match estimate
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

Disable matching estimate call (#2687)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

disable all matching estimates throwing a custom error
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

disable all matching estimate (#2688)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

feat: remove gist token (#2680)
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-builder

disable matching estimate via env var
  packages/common/src/config.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

disable matching estimate via env var (#2690)
  packages/common/src/config.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-builder

remove default value from controller component and fix svg attribute names
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
Due: prettier, lint-builder

Add number of projects for add collection to cart
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-builder

feat: donation history page copy
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-builder

feat: add donation history page copy (#2700)
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-builder

Add number of projects for add collection to cart (#2699)
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-builder

update twitter share url with the new path
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-builder

fixc twitter share url in test
  packages/grant-explorer/src/features/round/ThankYou.test.tsx
Due: prettier, lint-builder

update twitter share url with the new path (#2706)
  packages/grant-explorer/src/features/round/ThankYou.test.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-builder

Create useApplication hook to fetch data from the indexer
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-builder

chore: eagerly validate chains against chain ids
  packages/common/src/chains.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-builder

chore: try new PR template (#2679)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-ge: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-rm: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-client: any of: **/*.{js,ts,jsx,tsx} and ^packages/grants\-stack\-data\-client/
