Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

report card/allo v2 updates
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useRoundUniqueDonorsCount.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
Due: prettier, lint-explorer, lint-data-layer

consistent horizontal padding on homepage
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

2380/ Donations page overhaul (#3282)
  packages/common/src/index.ts
  packages/common/src/styles.ts
  packages/grant-explorer/src/features/api/__tests__/passport.test.tsx
  packages/grant-explorer/src/features/common/CopyToClipboardButton.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/StatCard.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

add back project tab
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

fix
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-data-layer

updates
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

feat: update passport widget ui
  packages/common/src/assets/passport-shield-green.svg
  packages/common/src/assets/passport-shield-orange.svg
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/PassportShield.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

remove bold Explore Rounds
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
Due: prettier, lint-explorer

fix/add sei to prod chains
  packages/builder/src/utils/chains.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: update passort shields
  packages/common/src/assets/passport-shield-green.svg
  packages/common/src/assets/passport-shield-orange.svg
  packages/common/src/assets/passport-shield-white.svg
  packages/common/src/assets/passport-shield-yellow.svg
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/PassportShield.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

add x logo and update buttons/ icons to white
  packages/common/src/components/Footer.tsx
  packages/common/src/icons/Builder.tsx
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/common/src/icons/Manager.tsx
  packages/grant-explorer/src/assets/x-logo-black.png
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-manager, lint-explorer

update test
  packages/grant-explorer/src/features/round/ThankYou.test.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

clean up / ready for bg-image
  packages/common/src/components/Footer.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

remove matching stat card
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

remove comments/not needed
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

remove btn
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

3228/navbar explorer gg20 (#3300)
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

Add SEI support for Grants Stack (#3278)
  packages/builder/.env.example
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/sei.png
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

remove btn (#3311)
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

3307/ remove matching stat card (#3310)
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

add ipfs collections
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/collections/__tests__/collections.test.tsx
  packages/grant-explorer/src/features/collections/collections.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer, lint-data-layer

return empty collection instead of selecting the first 100 if collection file is empty
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer, lint-data-layer

use round id instead of project id
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix collection tests
  packages/grant-explorer/src/features/collections/__tests__/collections.test.tsx
Due: prettier, lint-explorer

use unknown before parsing collection
  packages/grant-explorer/src/features/collections/collections.ts
Due: prettier, lint-explorer

fix: ui issues
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix: ui issues in cart
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: add submitPassportLite
  packages/common/src/index.ts
Due: prettier

add ipfs collections (#3315)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/collections/__tests__/collections.test.tsx
  packages/grant-explorer/src/features/collections/collections.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: changed tab name, no milestone text position
  packages/grant-explorer/src/features/round/KarmaGrant/GrantItem.tsx
  packages/grant-explorer/src/features/round/KarmaGrant/MilestoneItem.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

add bg image/fighting footer rn..
  packages/common/src/components/Footer.tsx
  packages/grant-explorer/src/assets/thank-you.svg
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

update style/layout
  packages/common/src/components/Footer.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

add unique keys to rounds dropdown child elements
  packages/common/src/services/pinata.ts
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

fix invalid html errors in cart
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

add collection share dialog
  packages/common/src/routes/explorer.ts
  packages/common/src/services/pinata.ts
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

fix isAlreadyInCart functionalities
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

use the collection share dialog in the cart page
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/base/ImageInput.tsx
  packages/builder/src/utils/components.ts
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-builder, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
