Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

Ensure cart data is fresh (#3394)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer, lint-data-layer

feat: add direct grants v2
  packages/builder/src/components/rounds/Show.tsx
  packages/common/package.json
  packages/common/src/allo/abis/allo-v1/RegistryFactory__factory.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/parseRoundDates.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

feat: add auto sybil screening option
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

feat: add different matching distribution options for different sybilDefence types
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix: build issues
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: make round results page code modular
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

feat: add UploadCustomResults option in round results
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

feat: addIsRecommendedDistribution
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

feat: useMatchCSVParser
  packages/round-manager/package.json
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

feat: handle custom results
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix: pnpm issue
  pnpm-lock.yaml
Due: none

fix: type issue
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix: type name issues
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

disable community colections on v
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

disable community colections on v (#3398)
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

fetch OSO stats on pageload
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

checking env vars safer
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

further env var safe checks
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

further env var tweaks
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

return to previous env check
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

update type/check
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

fix explorer navabar typo/lint
  packages/common/src/index.ts
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix explorer navabar typo/lint (#3401)
  packages/common/src/index.ts
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

more collections
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

updates
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

wip/update posthog with new account
  packages/grant-explorer/.env.example
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/posthog.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

adds more collections as they roll in from the community (#3403)
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

update env name
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/posthog.ts
Due: prettier, lint-explorer

remove doxxing info/wallet
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.tsx
Due: prettier, lint-explorer

more projs
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

lint
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.tsx
  packages/grant-explorer/src/posthog.ts
Due: prettier, lint-explorer

add grant scan
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingSection.tsx
Due: prettier, lint-explorer

add grant scan (#3408)
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingSection.tsx
Due: prettier, lint-explorer

update posthog with new account (#3406)
  packages/grant-explorer/.env.example
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/posthog.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

more projs (#3407)
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

fix: donations/when application is null
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

remove log
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: donations/when application is null (#3411)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: address design feedback
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
