Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

add GTC to voting tokens
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

Remove projects tab outside of GG rounds (#3423)
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

remove zk test token (#3422)
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

initial strategy adapters test implementation
  packages/common/src/allo-strategy-adapters/adapter.ts
  packages/common/src/allo-strategy-adapters/adapters/allov2.DonationVotingMerkleDistributionDirectTransferStrategy/allocation.ts
  packages/common/src/allo-strategy-adapters/adapters/allov2.DonationVotingMerkleDistributionDirectTransferStrategy/index.ts
  packages/common/src/allo-strategy-adapters/hooks.ts
  packages/common/src/allo-strategy-adapters/index.ts
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

fix
  packages/builder/src/actions/rounds.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-builder, lint-explorer

rm log
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

add AdapterErrorWrapper
  packages/common/src/allo-strategy-adapters/adapter.ts
  packages/common/src/allo-strategy-adapters/adapters/allov2.QF/allocation.ts
  packages/common/src/allo-strategy-adapters/adapters/allov2.QF/index.ts
  packages/common/src/allo-strategy-adapters/hooks.ts
  packages/common/src/allo-strategy-adapters/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

add error wrapper
  packages/common/src/allo-strategy-adapters/adapter.ts
  packages/common/src/allo-strategy-adapters/errorWrapper.ts
Due: prettier

fix SEI explorer link
  packages/common/src/chains.ts
Due: prettier

recipientsCounter
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix error wrapper import
  packages/common/src/allo-strategy-adapters/hooks.ts
Due: prettier

rename allo adapters folder
  packages/common/src/allo-adapters/adapter.ts
  packages/common/src/allo-adapters/adapters/allov2.QF/allocation.ts
  packages/common/src/allo-adapters/adapters/allov2.QF/index.ts
  packages/common/src/allo-adapters/errorWrapper.ts
  packages/common/src/allo-adapters/hooks.ts
  packages/common/src/allo-adapters/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: add/remove pool manager
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix bug
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

remove sei and era testnet
  packages/grant-explorer/src/app/chainConfig.ts
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager, lint-explorer

update deployments
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

support era
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

update direct grants deployments (#3431)
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: add manage team tab in round view
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

feat: update ViewManageTeam
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

feat: update round type
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager

feat: add team table
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix: alignment
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

improve getTimezoneName
  packages/common/src/index.ts
Due: prettier

change over explorer timezones
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

timezone names across all locales
  packages/common/src/index.ts
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier

fix dependencies
  packages/common/package.json
  packages/common/src/index.ts
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier

fix: explorer not showing DG
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

fix test
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
Due: prettier, lint-explorer, lint-data-layer

address feedback
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
Due: prettier, lint-explorer

feat: fetch ens names & update tests
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

fix: explorer not showing DG (#3432)
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

add fun to allo.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

Update UTC time to local time (#3331)
  packages/common/package.json
  packages/common/src/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/common/parseRoundDates.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

chore: rm console log
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

fix payouts for v1 and v2
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager
