Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

feat: don't show v2 projects on v1, disallow adding v2 projects to cart. fix adding v1 projects to cart
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

feat: don't show v2 projects on v1, disallow adding v2 projects to cart. fix adding v1 projects to cart
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

feat: type-safe non-optional useParams
  packages/common/src/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

logs
  packages/data-layer/src/backends/legacy.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer, lint-data-layer

wip: tests
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

logs
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

disable gg19 filter
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

remove logs
  packages/data-layer/src/backends/legacy.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer, lint-data-layer

fix round filter
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

fix test
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
Due: prettier, lint-explorer

temporary fix: active rounds sorting (#2869)
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
Due: prettier, lint-explorer

hotfix: homepage rounds skeleton
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

Revert "create a round on allo V1 using allo wrapper in manager (#2826)"
  packages/builder/craco.config.js
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/index.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/src/AlloWrapper.tsx
  packages/common/src/allo/abis/allo-v2/Allo.ts
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/chain-ids.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/common/src/types.ts
  packages/common/tsconfig.json
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/CreateRoundContext.test.tsx
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

Revert "create a round on allo V1 using allo wrapper in manager (#2826)" (#2873)
  packages/builder/craco.config.js
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/index.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/src/AlloWrapper.tsx
  packages/common/src/allo/abis/allo-v2/Allo.ts
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/chain-ids.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/common/src/types.ts
  packages/common/tsconfig.json
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/CreateRoundContext.test.tsx
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

explorer: enable markdown for any type of answer in round applications
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix: builder
  packages/builder/src/index.tsx
  packages/builder/src/utils/AlloWrapper.tsx
  packages/common/src/AlloWrapper.tsx
Due: prettier, lint-builder

feat: add synpress and homepage test to builder and explorer
  packages/builder/.eslintrc.js
  packages/builder/fixtures.ts
  packages/builder/package.json
  packages/builder/playwright.config.js
  packages/builder/tests/homepage.test.ts
  packages/builder/tsconfig.json
  packages/grant-explorer/fixtures.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/playwright.config.js
  packages/grant-explorer/tests/homepage.test.ts
  packages/round-manager/tests/homepage.test.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: add synpress and homepage test to builder and explorer
  packages/builder/craco.config.js
  packages/builder/e2e/homepage.test.ts
  packages/builder/tsconfig.json
  packages/grant-explorer/e2e/homepage.test.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/vitest.config.ts
  packages/round-manager/e2e/createDgRound.test.ts
  packages/round-manager/e2e/createProgram.test.ts
  packages/round-manager/e2e/homepage.test.ts
  packages/round-manager/package.json
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: type errorsˆ
  package.json
  packages/builder/tsconfig.json
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: none

fix: typo
  packages/grant-explorer/package.json
Due: none

Switch create round to use Allo SDK (#2887)
  packages/builder/craco.config.js
  packages/builder/src/index.tsx
  packages/builder/src/utils/AlloWrapper.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/src/allo/abis/allo-v2/Allo.ts
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/chain-ids.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/common/src/types.ts
  packages/common/tsconfig.json
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/CreateRoundContext.test.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

fix
  packages/builder/src/__tests__/components/providers/Github.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/index.tsx
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

update global css to use regular weight
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

add full URL to github/twitter links in application page
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

explorer: enable markdown for any type of answer in round applications (#2886)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

data-layer: filter out spam rounds based on a temporary csv blacklist
  packages/data-layer/src/backends/legacy.ts
Due: prettier, lint-data-layer

fix rounds spam filtering
  packages/data-layer/src/backends/legacy.ts
Due: prettier, lint-data-layer

feat: add usdglo as payout token
  packages/common/src/chain-ids.ts
  packages/common/src/payoutTokens.ts
  packages/round-manager/public/logos/usdglo-logo.svg
Due: prettier

feat: update payout tokens
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

fix
  packages/builder/src/actions/rounds.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

updated invalid date
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
Due: prettier, lint-builder

rm logs
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

data-layer: filter out spam rounds based on a temporary csv blacklist (#2893)
  packages/data-layer/src/backends/legacy.ts
Due: prettier, lint-data-layer

fix loading app issue
  packages/builder/src/components/rounds/ViewApplication.tsx
Due: prettier, lint-builder

fix: tests for application pageˆ
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

feat: simplify tests for application page
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

fix: fix cart tests
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
