Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

Fix direct allocation query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: show direct donations on donation history page (#3568)
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/common/BaseModal.tsx
  packages/grant-explorer/src/features/common/Button.tsx
  packages/grant-explorer/src/features/common/SwitchNetworkModal.tsx
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer, lint-data-layer

Fix direct allocation query (#3575)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: update gitcoin chain data package
  packages/common/package.json
  pnpm-lock.yaml
Due: none

feat: update gitcoin chain data package (#3577)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

fix: ui alignment bug
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

Update package.json
  packages/common/package.json
Due: none

pnpm install
  pnpm-lock.yaml
Due: none

update lock
  pnpm-lock.yaml
Due: none

fix test
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
Due: prettier, lint-manager

Update package.json (#3582)
  packages/common/package.json
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

Fixed Bug 3291 - can now select full area for project logo
  packages/builder/src/components/base/images/ImageCrop.tsx
Due: prettier, lint-builder

update chaindata version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

chain data version bump
  packages/common/package.json
  pnpm-lock.yaml
Due: none

fix: search projects by multiple words
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

chore: update chain data
  packages/common/package.json
Due: none

updating lockfile
  pnpm-lock.yaml
Due: none

chain data version bump (#3586)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

chore: setting pnpm version in engines
  package.json
Due: none

add/remove program manager
  packages/round-manager/src/context/program/UpdateRolesContext.tsx
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/program/ViewManageProgram.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

chore: add manageProfileMembers
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

remove duplicate info
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/program/ViewManageProgram.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix modal issue
  packages/round-manager/src/features/program/TabGroup.tsx
  packages/round-manager/src/features/program/ViewManageProgram.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

feat: update chain data version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

chore: update direct donation description
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix: add to cart issue & update side cart ui
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix: application ID on shopping cart
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix: wrong project added to cart bug (#3594)
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

update query to use latest oso models
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

fixes
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

Remove TEC (bump chain data version)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

bump version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

womyn in gg21
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

enable collections
  packages/grant-explorer/src/features/collections/community/index.ts
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

updates
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

types
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

update cUSD
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer
