Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix: viewProject page issue
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix lock file conflicts
  pnpm-lock.yaml
Due: none

test: update viewProject tests
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

test: update viewRound page tests
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

test: update round context tests
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
Due: prettier, lint-explorer

fix: other issues
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: update summary container
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

load projectID from indexer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager, lint-data-layer

fix stats
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

remove log
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-builder, lint-data-layer

loading spinner fix
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

loading spinner fix
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

fix view applications page
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix view round page and settings test
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager

fix v1 edit
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
Due: prettier, lint-builder

fix round context test
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
Due: prettier, lint-manager

fix round results and fund contract tests
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
Due: prettier, lint-manager

fix reclaim funds test
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

rm unused code
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

remove unused functions
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

fix url
  packages/builder/src/components/base/ProjectForm.tsx
  packages/builder/src/components/grants/Edit.tsx
Due: prettier, lint-builder

update datalayer method to getRoundsByProgramIdAndChainId
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

clean up
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

add start to dev commands to run `concurrently` for all the packages (#2944)
  package.json
  packages/builder/src/index.tsx
  packages/common/package.json
  packages/data-layer/package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/dev
Due: prettier, lint-builder

Update packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
Due: prettier, lint-explorer

fix: remove extra 0x in address
  packages/grant-explorer/src/features/api/contracts.ts
Due: prettier, lint-explorer

fix: remove extra 0x in address
  packages/common/src/allo/addresses/mrc.ts
Due: prettier

fix: timeout
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix: erc20 voting
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix: add pulse animation back in
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
Due: prettier, lint-explorer

fix: don't break landing page upon spam rounds fetching/parsing errors
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

fix: address pr feedback
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

fix: address pr feedback
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: address pr feedback
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

fix: address pr feedback
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
Due: prettier, lint-explorer

fix lint
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

Load program even if the user is not an operator (#2990)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

feat: update query name
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

test: update tests
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
