Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

move ErrorModal & ProgressModal into /common
  packages/common/package.json
  packages/common/src/components/ErrorModal.tsx
  packages/common/src/components/ProgressModal.tsx
  packages/round-manager/src/features/common/__tests__/ErrorModal.test.tsx
  packages/round-manager/src/features/common/__tests__/ProgressModal.test.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

feat: add share & edit functionality to ViewRoundPageStats #2909
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/assets/warpcast-logo.svg
  packages/grant-explorer/src/assets/x-logo.svg
  packages/grant-explorer/src/context/UpdateRoundContext.tsx
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/index.css
  packages/grant-explorer/src/index.tsx
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

merge main into feat/report-card-share-and-edit
  pnpm-lock.yaml
Due: none

fix merge
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: none

move enum ProgressStatus in common
  packages/common/src/components/ProgressModal.tsx
  packages/common/src/types.ts
  packages/grant-explorer/src/checkoutStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/context/UpdateRoundContext.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/context/round/FinalizeRoundContext.tsx
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/context/round/ReclaimFundsContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/__tests__/ProgressModal.test.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsApproved.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsRejected.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager, lint-explorer

move enum ProgressStatus in common
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/program/ListProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

load v2 qf rounds too
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

load v2 qf rounds too (#3200)
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

fix finalization on v2
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

fix finalization on v2 (#3201)
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

update close on overlay click
  packages/builder/src/components/base/StatusModal.tsx
Due: prettier, lint-builder

feat: add indexing step in ui
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/reducers/roundApplication.ts
  packages/builder/src/utils/steps.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

feat: wait for indexer
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

feat: add indexingStatus event to applyToRound in allo interface
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

fix: failing tests
  packages/builder/src/__tests__/components/base/StatusModal.test.tsx
Due: prettier, lint-builder

update allo version banner copy
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

disable round creation in v1
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

ensure user is in v2 if loading a v2 program
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix spam rounds
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

allo v2 program in test
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager

disable create program on v1
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-manager

feat: move passport widget to round page
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: update passport community id based on chainid
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: add comment
  packages/grant-explorer/src/features/api/passport.ts
Due: prettier, lint-explorer

chore: update alignment of passport widget
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: add passport widget in project page
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

chore: add alignment in widget
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: add passport widget in cart page
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

test: update navbar tests
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
Due: prettier, lint-explorer

feat: show passport widget only if sybilDefence is enabled
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: fetch correct passport community id depending round
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

fix spam rounds (#3230)
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

fix: build issues
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix: other issues
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/passport.ts
Due: prettier, lint-explorer

feat: add total donation in cart page
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

fix for contract link on arb
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

fix: update matching estimate ui
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-explorer

disable matching stats for avax
  packages/round-manager/src/features/round/ViewRoundStats.tsx
Due: prettier, lint-manager

fix for contract link on arb (#3234)
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
