Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

chore: add alchemy rpc to base
  packages/common/src/chains.ts
Due: prettier

chore: update default rpc in base
  packages/common/src/chains.ts
Due: prettier

chore: remove wconnect temporarily to guard against ledger drainerˆ
  packages/builder/src/utils/wagmi.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

chore: remove wconnect temporarily to guard against ledger drainerˆ
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

chore: remove connect buttons from manager and builderˆ
  packages/builder/src/components/Header.tsx
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-builder, lint-manager

chore: remove wconnect temporarily to guard against ledger drainerˆ (#2743)
  packages/builder/src/components/Header.tsx
  packages/builder/src/utils/wagmi.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/app/wagmi.ts
  packages/round-manager/package.json
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: builder alchemy issue
  packages/builder/src/utils/chains.ts
  packages/common/src/chains.ts
Due: prettier, lint-builder

Revert "chore: remove wconnect temporarily to guard against ledger drainerˆ (#2743)"
  packages/builder/src/components/Header.tsx
  packages/builder/src/utils/wagmi.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/app/wagmi.ts
  packages/round-manager/package.json
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

Revert "chore: remove wconnect temporarily to guard against ledger drainerˆ (#2743)" (#2745)
  packages/builder/src/components/Header.tsx
  packages/builder/src/utils/wagmi.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/app/wagmi.ts
  packages/round-manager/package.json
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

chore: gg19 cleanup
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

test: update landing page tests
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
Due: prettier, lint-explorer

cleanup
  packages/data-layer/src/backends/collections.data.ts
  packages/data-layer/src/backends/collections.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
Due: prettier, lint-explorer, lint-data-layer

fix: fix collections not being fetched
  packages/grant-explorer/src/features/categories/hooks/useCategories.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
Due: prettier, lint-explorer

upgrade custom lit sdk version
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

chore: simplify payout tokens handling (#2665)
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
Due: prettier, lint-manager

rename lit chain for zksync and upgrade lit js version
  packages/builder/package.json
  packages/builder/src/actions/roundApplication.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

fix: copy correct url when clicking "share profile"
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

feat: add chainIdToChainName
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

fix: build issues
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

chore: address engg feedback
  packages/builder/src/utils/wallet.ts
Due: prettier, lint-builder

update lit version in manager
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

upgrade lit version
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

fix: don't hide "apply" button before application end time
  packages/grant-explorer/src/features/api/__tests__/utils.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundTimeBadge.tsx
Due: prettier, lint-explorer

refactor: migrate rounds and passport query to data layer (#2731)
  packages/data-layer/.eslintrc.json
  packages/data-layer/package.json
  packages/data-layer/src/backends/legacy.test.ts
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ActiveRoundSection.tsx
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundsFilter.tsx
  packages/grant-explorer/src/features/discovery/RoundsGrid.tsx
  packages/grant-explorer/src/features/discovery/SortDropdown.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/features/discovery/utils/getExplorerPageTitle.ts
  packages/grant-explorer/src/features/discovery/utils/getFilterLabel.ts
  packages/grant-explorer/src/features/discovery/utils/getSortLabel.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

feat: update numbers on main page
  packages/grant-explorer/src/features/discovery/LandingHero.tsx
Due: prettier, lint-explorer

feat: clear projects from expired rounds from cart
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix: build issues
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

gg19 cleanup (#2748)
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

fix: allow multiple simultaneous states for rounds
  packages/grant-explorer/src/features/api/__tests__/utils.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundTimeBadge.tsx
Due: prettier, lint-explorer

chore: update payoutTokens
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

fix: don't hide "apply" button before application end time (#2752)
  packages/grant-explorer/src/features/api/__tests__/utils.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundTimeBadge.tsx
Due: prettier, lint-explorer

feat: add mrc contract for zksync
  packages/grant-explorer/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager, lint-explorer

feat: update numbers on main page (#2753)
  packages/grant-explorer/src/features/discovery/LandingHero.tsx
Due: prettier, lint-explorer

chore: use isPresent instead of manual type assertion
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

feat: clear projects from expired rounds from cart (#2754)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

chore: fix usdt logo
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

Add zksync mainnet & testnet support (#2726)
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/package.json
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/.env.test
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/icons/zksync-logo.svg
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/public/logos/lusd-logo.svg
  packages/grant-explorer/public/logos/mute-logo.svg
  packages/grant-explorer/public/logos/usdt-logo.svg
  packages/grant-explorer/public/logos/zksync-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/package.json
  packages/round-manager/public/logos/lusd-logo.svg
  packages/round-manager/public/logos/mute-logo.svg
  packages/round-manager/public/logos/usdt-logo.svg
  packages/round-manager/public/logos/zksync-logo.svg
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

chore: add base tokens
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

style: fix round settings responsive layout
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

chore: update gitcoin litjs version
  packages/builder/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none
