Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

Adds featured rounds (#3249)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

Revert "Adds featured rounds (#3249)"
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

Revert "Adds featured rounds (#3249)" (#3284)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

updated tokens and strategy addresses
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/chains.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/sei.png
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

wip
  packages/grant-explorer/src/features/round/ViewCartPage/ApplyTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/EmptyCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/round-manager/tailwind.config.js
Due: prettier, lint-manager, lint-explorer

f
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

update accordion data
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
Due: prettier, lint-explorer

clean up/format dates
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
Due: prettier, lint-explorer

start zk updates
  packages/common/src/chains.ts
  packages/grant-explorer/src/app/chainConfig.ts
Due: prettier, lint-explorer

update/smol fixes/tx button move/lint
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/__tests__/passport.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

smol updates to some layout
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
Due: prettier, lint-explorer

fix test
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

added missing env variables
  packages/builder/.env.example
Due: none

add button
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

changed text
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

fix:3272
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

close error modal
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

add MRC contract
  packages/common/src/allo/addresses/mrc.ts
Due: prettier

Close Error Modal when clicking Done Button
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

id instead of address
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

chore: update text
  packages/grant-explorer/src/features/discovery/LandingHero.tsx
Due: prettier, lint-explorer

fix: filtering bug in explorer
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
Due: prettier, lint-explorer, lint-data-layer

add new env to example/test
  packages/round-manager/.env.example
  packages/round-manager/.env.test
Due: none

update tab font (#3281)
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

remove bug assignees (#3260)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: filtering bug in explorer (#3296)
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
Due: prettier, lint-explorer, lint-data-layer

update the other env-examples
  packages/builder/.env.example
  packages/grant-explorer/.env.example
Due: none

Apply suggestions from code review
  packages/builder/.env.example
  packages/round-manager/.env.example
  packages/round-manager/.env.test
Due: none

feedback updates
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

smol update
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

cart revamp (#3283)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/round/ViewCartPage/ApplyTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/EmptyCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/store.ts
  packages/round-manager/tailwind.config.js
Due: prettier, lint-manager, lint-explorer

3182 done button (#3293)
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-builder

chore: update text (#3294)
  packages/grant-explorer/src/features/discovery/LandingHero.tsx
Due: prettier, lint-explorer

update allo version banner copy (#3223)
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

theme connect button
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

update cart icon(s)
  packages/grant-explorer/src/features/common/NavbarCart.tsx
Due: prettier, lint-explorer

setup dropdown/wip
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

finish style/cleanup
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
