Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix preview image
  packages/builder/src/components/application/FullPreview.tsx
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

fix: address feedback
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

manager: fetch rounds from indexer (#2907)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
Due: prettier, lint-manager, lint-data-layer

update lock file
  pnpm-lock.yaml
Due: none

chore: update turbo
  package.json
  pnpm-lock.yaml
Due: none

add fetch round query
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

wip
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

removing /cache folder
  cache/solidity-files-cache.json
  packages/builder/.gitignore
Due: none

fix test
  packages/builder/src/__tests__/components/application/Form.test.tsx
Due: prettier, lint-builder

remove hardcoded strategy name from application.round
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer, lint-data-layer

v2: builder applyToRound (#2926)
  packages/builder/.gitignore
  packages/builder/package.json
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/application/FullPreview.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/reducers/projects.ts
  packages/builder/src/reducers/rounds.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/components.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/roundIdentifier.ts
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

fix tests
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/getExplorerPageTitle.ts
Due: prettier, lint-explorer

update readme
  scripts/README.md
Due: none

fix type in test
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

add strategy name to Application type
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

Local dev env setup (#2923)
  docker-compose.yml
  packages/common/src/chains.ts
  scripts/README.md
  scripts/dev
Due: prettier

fix the homepage filtering using ROUND_PAYOUT_MERKLE_OLD
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/getExplorerPageTitle.ts
Due: prettier, lint-explorer

Update packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

remove hardcoded strategy name from application.round (#2939)
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/getExplorerPageTitle.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer, lint-data-layer

fetch Allo V2 programs from the indexer (#2871)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

only qf
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

initial create v2 round
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
Due: prettier

upgrade allo sdk
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/config.ts
  packages/round-manager/.env.example
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

fix metadata
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

load programs
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/program.ts
Due: prettier, lint-manager, lint-data-layer

feat: add sepolia to common
  packages/builder/.env.example
  packages/builder/.env.test
  packages/common/.env.test
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/chain-ids.ts
  packages/common/src/config.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/payoutTokens.ts
Due: prettier

fix: tests
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
Due: prettier, lint-manager

feat: add sepolia in explorer and manager
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager, lint-explorer

fix: build issues
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager

fix indexing and add pinata to env.test
  packages/common/.env.test
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/indexer.ts
  packages/grant-explorer/.env.test
  packages/round-manager/.env.test
Due: prettier

remove logs
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

remove logs
  packages/common/src/allo/indexer.ts
Due: prettier

fix: round type badge
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

fix: round type badge
  packages/common/src/index.ts
  packages/round-manager/src/features/common/Utils.ts
Due: prettier, lint-manager

ad temporary message to create program
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager

update strategy name/round types
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/common/src/allo/roundIdentifier.ts
  packages/common/src/index.ts
Due: prettier, lint-builder

update stats and type in data-layer
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

clean up
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/stats/Stats.tsx
Due: prettier, lint-builder

Load Programs from Indexer (#2946)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
Due: prettier, lint-manager, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
