Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

things
  cache/solidity-files-cache.json
  packages/data-layer/package.json
  packages/data-layer/src/allo/AlloV2.ts
  packages/data-layer/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-data-layer

event based interface
  packages/data-layer/package.json
  packages/data-layer/src/allo.ts
  packages/data-layer/src/allo/abis/allo-v1/DirectPayoutStrategyFactory.ts
  packages/data-layer/src/allo/abis/allo-v1/DirectPayoutStrategyImplementation.ts
  packages/data-layer/src/allo/abis/allo-v1/ProjectRegistry.ts
  packages/data-layer/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyFactory.ts
  packages/data-layer/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyImplementation.ts
  packages/data-layer/src/allo/abis/allo-v1/RoundFactory.ts
  packages/data-layer/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/data-layer/src/allo/allo-v1.ts
  packages/data-layer/src/allo/backends/allo-v1.ts
  packages/data-layer/src/allo/backends/allo-v2.ts
  packages/data-layer/src/allo/common.ts
  packages/data-layer/src/allo/operation.ts
  packages/data-layer/src/allo/transaction-sender.ts
  packages/data-layer/src/transaction-executor.ts
  pnpm-lock.yaml
Due: prettier, lint-data-layer

add docs
  packages/data-layer/src/allo.ts
  packages/data-layer/src/allo/operation.ts
Due: prettier, lint-data-layer

fix: if no passport rounds in cart, act as if passport is valid (#2795)
  packages/grant-explorer/src/features/common/MatchingEstimateTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix: round loading error on builder (#2794)
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

feat: add scroll mrc contract
  packages/grant-explorer/src/features/api/contracts.ts
Due: prettier, lint-explorer

chore: add payout icon
  packages/builder/src/utils/wallet.ts
Due: prettier, lint-builder

chore: fix build issues
  packages/grant-explorer/src/app/chainConfig.ts
Due: prettier, lint-explorer

chore: update test env
  packages/common/.env.test
  packages/round-manager/.env.test
Due: none

chore: add scroll logo
  packages/grant-explorer/public/logos/scroll-logo.svg
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/scroll-logo.svg
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager, lint-explorer

chore: add payout tokens
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

chore: update test erc20 token
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

chore: add scroll icon
  packages/common/src/chains.ts
  packages/common/src/icons/scroll-logo.svg
Due: prettier

chore: update testnet erc20 token name
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

Fix payouts for individual projects (#2763)
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

allo context
  packages/data-layer/src/allo/index.ts
  packages/data-layer/src/allo/operation.tsx
  packages/data-layer/src/allo/react.tsx
Due: prettier, lint-data-layer

better error handling
  packages/data-layer/src/allo/backends/allo-v1.ts
  packages/data-layer/src/allo/common.ts
  packages/data-layer/src/allo/index.ts
  packages/data-layer/src/allo/transaction-sender.ts
Due: prettier, lint-data-layer

create mock transaction sender
  packages/data-layer/src/allo/transaction-sender.ts
Due: prettier, lint-data-layer

mock transactions sender to store sent transactions
  packages/data-layer/src/allo/transaction-sender.ts
Due: prettier, lint-data-layer

move to common
  packages/common/package.json
  packages/common/src/allo/abis/allo-v1/DirectPayoutStrategyFactory.ts
  packages/common/src/allo/abis/allo-v1/DirectPayoutStrategyImplementation.ts
  packages/common/src/allo/abis/allo-v1/ProjectRegistry.ts
  packages/common/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyFactory.ts
  packages/common/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyImplementation.ts
  packages/common/src/allo/abis/allo-v1/RoundFactory.ts
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/index.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/ipfs.ts
  packages/common/src/allo/operation.ts
  packages/common/src/allo/operation.tsx
  packages/common/src/allo/react.tsx
  packages/common/src/allo/transaction-sender.ts
  pnpm-lock.yaml
Due: prettier

remove unused uploadtoipfsg
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/common.ts
Due: prettier

fix explorer tests
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

add create project test
  packages/common/package.json
  packages/common/src/allo/index.ts
  packages/common/src/allo/transaction-sender.ts
  packages/data-layer/package.json
  pnpm-lock.yaml
Due: prettier

add create project test
  packages/common/src/allo/backends/allo-v1.test.ts
Due: prettier

move index.ts to allo.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/ipfs.ts
  packages/common/src/allo/operation.tsx
  packages/common/src/allo/react.tsx
  packages/common/src/allo/transaction-sender.ts
Due: prettier

add todo
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

figure out project created by looking into receipt logs
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
  pnpm-lock.yaml
Due: prettier

fix: scroll projects not loadingˆ
  packages/builder/src/actions/projects.ts
  packages/common/src/chains.ts
Due: prettier, lint-builder

Common Allo interface for V1 and V2 (#2796)
  packages/common/package.json
  packages/common/src/allo/abis/allo-v1/DirectPayoutStrategyFactory.ts
  packages/common/src/allo/abis/allo-v1/DirectPayoutStrategyImplementation.ts
  packages/common/src/allo/abis/allo-v1/ProjectRegistry.ts
  packages/common/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyFactory.ts
  packages/common/src/allo/abis/allo-v1/QuadraticFundingVotingStrategyImplementation.ts
  packages/common/src/allo/abis/allo-v1/RoundFactory.ts
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/allo/ipfs.ts
  packages/common/src/allo/operation.ts
  packages/common/src/allo/react.tsx
  packages/common/src/allo/transaction-sender.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

add ethers transaction sender
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix: rolling applications bug on edit page
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix: allow jpeg files in image upload dialog in builderˆ
  packages/builder/src/components/base/ImageInput.tsx
Due: prettier, lint-builder

fix: allow jpeg files in image upload dialog in builderˆ (#2810)
  packages/builder/src/components/base/ImageInput.tsx
Due: prettier, lint-builder

fix: rolling applications bug on edit page (#2809)
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

add ethers transaction sender (#2808)
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix: common as an actual package
  packages/common/package.json
  packages/common/src/chains.ts
  packages/common/tsconfig.json
  pnpm-lock.yaml
Due: prettier

add typecheck to gh actions
  .github/workflows/common.yml
  package.json
  packages/common/package.json
Due: none

fix: lit decryption issue in manager on zksync.
  packages/builder/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

Fix common, make it an actual package (#2820)
  .github/workflows/common.yml
  package.json
  packages/common/package.json
  packages/common/src/chains.ts
  packages/common/tsconfig.json
  pnpm-lock.yaml
Due: prettier

chore: add recommended libraries and mention them under development docs
  docs/DEV.md
  docs/LIBRARIES.md
Due: none
