Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

feat: create round on allo v1ˆ
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

wip: create round on allo v1
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  pnpm-lock.yaml
Due: prettier, lint-data-layer

delete irrelevant test
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

fix types
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

feat: move allo wrapper to common
  packages/builder/src/index.tsx
  packages/common/src/AlloWrapper.tsx
Due: prettier, lint-builder

remove unused verifier
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix: builder tests
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

Explorer: Application page redesign (#2671)
  packages/grant-explorer/src/assets/github-logo.svg
  packages/grant-explorer/src/assets/icons/ethereum-icon.svg
  packages/grant-explorer/src/assets/icons/globe-icon.svg
  packages/grant-explorer/src/assets/twitter-logo.svg
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/RoundEndedBanner.tsx
  packages/grant-explorer/src/features/common/utils/truncate.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

profile creation v2
  cache/solidity-files-cache.json
  packages/builder/.env.example
  packages/builder/package.json
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/index.tsx
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/roundApplication.ts
  packages/builder/src/utils/test_utils.tsx
  packages/builder/src/utils/utils.ts
  packages/builder/src/utils/wallet.ts
  packages/common/.env.test
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer, lint-data-layer

feat: create round store
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

chore: address pr feedback
  docs/LIBRARIES.md
Due: none

chore: add recommended libraries and mention them under development docs (#2822)
  docs/DEV.md
  docs/LIBRARIES.md
Due: none

todos and small fixes
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/common/src/components/Footer.tsx
  packages/common/src/config.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

push updated lock from conflict resolution
  pnpm-lock.yaml
Due: none

some updates on v2/v1 compatibility
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

adding comment
  packages/builder/src/actions/grantsMetadata.ts
Due: prettier, lint-builder

feat: add support for data token on polygon
  packages/common/src/index.ts
  packages/grant-explorer/public/logos/data-logo.svg
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/data-logo.svg
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

wip: wip
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/types.ts
  packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/CreateRoundContext.test.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

some updates to the queries
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/common/src/chain-ids.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fix
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

adding comments and clean up
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/index.tsx
  packages/common/src/chain-ids.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

wip: updates
  packages/builder/craco.config.js
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/tsconfig.json
  packages/round-manager/package.json
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager

fixed some tests
  packages/builder/src/__tests__/components/base/Alert.test.tsx
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/index.tsx
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

fix
  packages/builder/src/utils/test_utils.tsx
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/react.tsx
Due: prettier, lint-builder, lint-data-layer

comment out 2 tests
  packages/builder/src/__tests__/components/grants/Show.test.tsx
Due: prettier, lint-builder

tests: unignore and fix tests
  packages/grant-explorer/src/features/common/__tests__/ErrorModal.test.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage.ignored.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

tests: unignore and fix tests
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: add support for data token on polygon (#2833)
  packages/common/src/index.ts
  packages/grant-explorer/public/logos/data-logo.svg
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/data-logo.svg
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

dispatch owner
  packages/builder/src/actions/grantsMetadata.ts
  packages/common/src/allo/backends/test-utils.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

tests: fix test
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

tests: fix test
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-builder, lint-explorer

tests: fix test
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

fixing registry address
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

tests: fix test in ci
  packages/grant-explorer/src/features/common/__tests__/ErrorModal.test.tsx
Due: prettier, lint-explorer

fixing registry address (#2836)
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

smol test update
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix edit issue
  packages/builder/src/__tests__/components/grants/Show.test.tsx
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
