Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

update params
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix payouts for v2 (#3437)
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

update lukso's logo + styling
  packages/common/src/chains.ts
  packages/common/src/icons/lukso-logo.svg
  packages/grant-explorer/public/logos/lukso-logo.svg
  packages/round-manager/public/logos/lukso-logo.svg
Due: prettier

update lukso's logo + styling (#3438)
  packages/common/src/chains.ts
  packages/common/src/icons/lukso-logo.svg
  packages/grant-explorer/public/logos/lukso-logo.svg
  packages/round-manager/public/logos/lukso-logo.svg
Due: prettier

fix: ensure token address is lowercased
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix: ensure token address is lowercased (#3439)
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

disabled payout
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

skip test
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

disabled payout (#3441)
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

Revert "disabled payout (#3441)"
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

fix: anchor adress issue
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: payout issue in v2
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

wip
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

Revert "disabled payout (#3441)" (#3443)
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

remove log
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

improve builder default envs
  packages/builder/.env.example
Due: none

explicitly list supported chains
  packages/builder/.env.example
Due: none

rm: generateMerkleTree from utils
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

rm initial question for token
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager

remove initial question
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager

remove payout token
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
Due: prettier, lint-manager

rm comment
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

rm var shadowing
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

remove grantscan
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

remove grantscan (#3445)
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

feat: update ViewManageTeam
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

feat: add manage team tab in round view
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

feat: update round type
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager

feat: fetch ens names & update tests
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

feat: add team table
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix: alignment
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

chore: rm console log
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

feat: filter roles
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

fix: payout issue in v2 (#3440)
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

add a Manage Team section to Round Details page (#3427)
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

feat: update text for admin view
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

update sepolia usdc decimals
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

rm payout tokens
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
