Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-ge, lint-rm, lint-builder

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-ge:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-rm:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: turbo run typecheck
    build:
      run: turbo run build
    test:
      run: turbo run test

Delete design-ticket.md
  .github/ISSUE_TEMPLATE/design-ticket.md
Due: none

feat: add tests
  packages/round-manager/src/features/round/ApplicationEligibilityForm.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationEligibilityForm.test.tsx
Due: prettier, lint-rm

feat: reset requirements when only one is left
  packages/round-manager/src/features/round/ApplicationEligibilityForm.tsx
Due: prettier, lint-rm

feat: add remove eligibility req button
  packages/round-manager/src/features/round/ApplicationEligibilityForm.tsx
Due: prettier, lint-rm

feat: show older valid rounds in explorer homepage
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

feat: remove explorer homepage redirect to grants.gitcoin.co
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-builder

Update dataRequest.md
  .github/ISSUE_TEMPLATE/dataRequest.md
Due: none

Delete product_ticket.md
  .github/ISSUE_TEMPLATE/product_ticket.md
Due: none

Delete feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Edit flow integration (#1755)
  packages/common/src/styles.ts
  packages/round-manager/src/context/application/__tests__/BulkUpdateGrantApplicationContext.test.tsx
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/abi/roundImplementation.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/ConfirmationModal.tsx
  packages/round-manager/src/features/round/ApplicationEligibilityForm.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/test-utils.tsx
  packages/round-manager/tailwind.config.js
Due: prettier, lint-rm

Rename dataRequest to dataRequest.md
  .github/ISSUE_TEMPLATE/dataRequest.md
Due: none

chore: improve to grant explorer (#1827)
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-builder

Create dataRequest
  .github/ISSUE_TEMPLATE/dataRequest
Due: none

feat: unify footer (#1801)
  packages/builder/src/components/Footer.tsx
  packages/builder/src/components/Layout.tsx
  packages/builder/src/components/grants/Landing.tsx
  packages/builder/src/components/icons/Code.tsx
  packages/builder/src/components/icons/Discord.tsx
  packages/builder/src/components/icons/Github.tsx
  packages/builder/src/styles/index.css
  packages/common/src/components/Footer.tsx
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/common/src/icons/Support.tsx
  packages/grant-explorer/src/assets/gitbook.svg
  packages/grant-explorer/src/assets/gitcoincommunity-logo.svg
  packages/grant-explorer/src/assets/github.svg
  packages/grant-explorer/src/assets/support.svg
  packages/grant-explorer/src/features/common/AccessDenied.tsx
  packages/grant-explorer/src/features/common/Footer.tsx
  packages/grant-explorer/src/features/common/NotFoundPage.tsx
  packages/grant-explorer/src/features/discovery/ApplyNowPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/NoRounds.tsx
  packages/grant-explorer/src/features/round/PassportConnect.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/assets/gitcoincommunity-logo.svg
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/Footer.tsx
  packages/round-manager/src/features/common/NotFoundPage.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ListProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-ge, lint-rm, lint-builder

use styles component and force compilation of classes with full string instead of dynamic ones
  packages/grant-explorer/src/features/common/NavbarCart.tsx
Due: prettier, lint-builder

updated cart icon and styles to fix alignment
  packages/grant-explorer/src/features/common/NavbarCart.tsx
Due: prettier, lint-builder

Builder: UX updates on Application Preview page (#1839)
  packages/builder/src/components/application/Form.tsx
Due: prettier, lint-ge

header: remove customer support button and change ConnectButton styles
  packages/grant-explorer/src/features/common/CustomerSupport.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

remove old test for the customer support button
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
Due: prettier, lint-builder

1789 - remove banner when no is selected (#1853)
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

1810 error summary block (#1851)
  packages/round-manager/src/features/common/FormValidationErrorList.tsx
  packages/round-manager/src/features/common/__tests__/FormValidationErrorList.test.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
Due: prettier, lint-rm

fix: remove border on last cart item (#1836)
  packages/grant-explorer/src/features/round/ViewCartPage.tsx
Due: prettier, lint-builder

builder: don't show stats/rounds tabs in new/edit preview
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/components/grants/Details.tsx
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-ge

fix: tests, add a new test for tab viz
  packages/builder/src/__tests__/components/grants/Details.test.tsx
Due: prettier, lint-ge

fix: apply button color (#1834)
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-builder

1529 - add preview copy message (#1866)
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-ge

chore: update text on round creation (#1864)
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-rm

chore: clean up explorer landing page
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-builder

set fixed decimals
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

fix: update matching amount correctly
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

feat: make banners disappear if matching cap or threshold are disabled
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

fix: update decimals to 2 from 4
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

feat: add reloadPageOnLocalStorageEvent in explorer
  packages/grant-explorer/src/features/api/LocalStorage.ts
Due: prettier, lint-builder

feat: update cart across all tabs if a project is added or removed
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

chore: rm null assertion
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-builder

chore: ux feedback
  packages/common/src/styles.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-rm

fix: error page fix
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-rm

fix: viewroundpage tests
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-rm

Update packages/round-manager/src/context/round/CreateRoundContext.tsx
  packages/round-manager/src/context/round/CreateRoundContext.tsx
Due: prettier, lint-rm
