Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix: post payout issue
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

increase collection size to 300
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

increase collection size to 300 (#3415)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

added celo lukso
  packages/builder/src/utils/chains.ts
  packages/common/src/chains.ts
Due: prettier, lint-builder

wip
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-manager

add to common
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
Due: prettier

wip
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/chain-ids.ts
  packages/common/src/icons/celo-logo.svg
  packages/common/src/icons/lukso-logo.svg
  packages/common/src/index.ts
  packages/grant-explorer/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer

add lukso celo
  packages/common/src/chains.ts
Due: prettier

smol fix for build/test fixes for manager
  packages/common/src/graphql_fetch.ts
  packages/round-manager/public/logos/celo-logo.svg
  packages/round-manager/public/logos/lukso-logo.svg
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

everything is custom now
  packages/common/src/chains.ts
Due: prettier

update indexer to production
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

rm: lit is optional
  packages/common/src/index.ts
  packages/round-manager/src/features/common/AddQuestionModal.tsx
  packages/round-manager/src/features/common/BaseSwitch.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager

update indexer to production (#3416)
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

add chains to mr
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager

fix application
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/utils/RoundApplicationBuilder.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/common/BaseSwitch.tsx
Due: prettier, lint-builder, lint-manager

feat: update sybilDefense type
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager, lint-explorer, lint-data-layer

feat: rm isRoundUsingPassportLite
  packages/common/src/index.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

feat: update isSybilDefenseEnabled to handle new type
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix: pnpm lock file issue
  pnpm-lock.yaml
Due: none

fix: build issues
  pnpm-lock.yaml
Due: none

fix: lowercase roundId on round page & application page
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

update
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

Manager changes for Passport Lite x Cluster Match MVP (#3336)
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer, lint-data-layer

update (#3419)
  packages/grant-explorer/src/features/collections/community/index.ts
Due: prettier, lint-explorer

changed v1/v2 switch
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

regenerate lock
  pnpm-lock.yaml
Due: none

feat: gg20Rounds to be passport-mbds rounds
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

feat: update cluster match option text in round results
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

chore: update gg20 rounds
  packages/common/src/index.ts
Due: prettier

fix: explorer ui issue once a round has ended
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

map gg20 rounds as passport-mbds rounds (#3420)
  packages/common/src/index.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager, lint-explorer

temp update switch for dg v2
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

remove zk test token
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

Merge branch 'main' into builder-sentry
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/collections/community/index.ts
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer, lint-data-layer

remove projects tab outside of GG rounds
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

remove route
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

undo voting tokens update
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
