Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix: gpl query argument type
  packages/data-layer/src/services/AttestationService.ts
Due: prettier, lint-data-layer

added mint attestation workflow in donation history page and code refactoring
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintAttestationProgressModal.tsx
  packages/grant-explorer/src/features/attestations/MintCostDetails.tsx
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/formatAmount.ts
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useAttestationStatus.ts
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/useGetImages.ts
  packages/grant-explorer/src/hooks/attestations/utils/getAttestationPreview.ts
  packages/grant-explorer/src/hooks/useENS.ts
  packages/grant-explorer/src/index.css
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

update OSO endpoint and queries
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

chore: use query in MintingActionBurron
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
Due: prettier, lint-explorer

Revert "refactor: splitted queries.ts into files in folder /queries/"
  packages/data-layer/src/queries.ts
  packages/data-layer/src/queries/applications/getApplicationStatusByRoundIdAndCID.ts
  packages/data-layer/src/queries/applications/getApplicationsByProjectIds.ts
  packages/data-layer/src/queries/applications/getApplicationsByRoundIdAndProjectIds.ts
  packages/data-layer/src/queries/applications/getApplicationsForExplorer.ts
  packages/data-layer/src/queries/applications/getApplicationsForManager.ts
  packages/data-layer/src/queries/applications/getApprovedApplication.ts
  packages/data-layer/src/queries/applications/getApprovedApplicationsByProjectIds.ts
  packages/data-layer/src/queries/applications/index.ts
  packages/data-layer/src/queries/donations/getDirectDonationsByProjectId.ts
  packages/data-layer/src/queries/donations/getDonationsByDonorAddress.ts
  packages/data-layer/src/queries/donations/index.ts
  packages/data-layer/src/queries/getBlockNumberQuery.ts
  packages/data-layer/src/queries/getPayoutsByChainIdRoundIdProjectId.ts
  packages/data-layer/src/queries/index.ts
  packages/data-layer/src/queries/programs/getProgramById.ts
  packages/data-layer/src/queries/programs/getProgramsByUserAndTag.ts
  packages/data-layer/src/queries/programs/index.ts
  packages/data-layer/src/queries/projects/getLegacyProjectId.ts
  packages/data-layer/src/queries/projects/getPaginatedProjects.ts
  packages/data-layer/src/queries/projects/getProjectAnchorByIdAndChainId.ts
  packages/data-layer/src/queries/projects/getProjects.ts
  packages/data-layer/src/queries/projects/getProjectsAndRolesByAddress.ts
  packages/data-layer/src/queries/projects/getProjectsByAddress.ts
  packages/data-layer/src/queries/projects/getProjectsById.ts
  packages/data-layer/src/queries/projects/getProjectsBySearchTerm.ts
  packages/data-layer/src/queries/projects/index.ts
  packages/data-layer/src/queries/rounds/generateRoundManagerFieldsForQuery.ts
  packages/data-layer/src/queries/rounds/getRoundByIdAndChainId.ts
  packages/data-layer/src/queries/rounds/getRoundForExplorer.ts
  packages/data-layer/src/queries/rounds/getRoundForManager.ts
  packages/data-layer/src/queries/rounds/getRoundsForManager.ts
  packages/data-layer/src/queries/rounds/getRoundsForManagerByAddress.ts
  packages/data-layer/src/queries/rounds/getRoundsQuery.ts
  packages/data-layer/src/queries/rounds/index.ts
Due: prettier, lint-data-layer

Revert "chore: moved type files to type folder"
  packages/data-layer/src/attestations.types.ts
  packages/data-layer/src/backends/categories.data.ts
  packages/data-layer/src/backends/categories.ts
  packages/data-layer/src/backends/collections.data.ts
  packages/data-layer/src/backends/collections.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/index.ts
  packages/data-layer/src/roundApplication.types.ts
Due: prettier, lint-data-layer

chore: remove types folder
  packages/data-layer/src/services/AttestationService.ts
  packages/data-layer/src/types/index.ts
Due: prettier, lint-data-layer

fix: imports
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer, lint-data-layer

ui: fix overflow in badge
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/common/styles.tsx
Due: prettier, lint-explorer

ui: add view history button
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

add placeholder
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
Due: prettier, lint-explorer

ui fixes (#3674)
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

workflow improvements
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEstimateGas.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/utils/getAttestationPreview.ts
  packages/grant-explorer/src/hooks/useENS.ts
Due: prettier, lint-explorer

refactored attestation mint modal
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/components/ActionButton.tsx
  packages/grant-explorer/src/features/attestations/components/BalanceDisplay.tsx
  packages/grant-explorer/src/features/attestations/components/CostDetails.tsx
  packages/grant-explorer/src/features/attestations/components/ErrorMessage.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/attestations/components/index.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

WIP: useGap hook in apply flow
  packages/builder/package.json
  packages/builder/src/components/application/Form.tsx
  packages/gap/.eslintrc.js
  packages/gap/package.json
  packages/gap/react-app-env.d.ts
  packages/gap/src/hooks.ts
  packages/gap/src/index.ts
  packages/gap/tsconfig.build.json
  packages/gap/tsconfig.json
  packages/gap/tsconfig.tsbuildinfo
  packages/gap/webpack.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint-builder

fix fetch conditions
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

rm unused var
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

improve data typing
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

added mint attestation workflow in donation history page and code ref… (#3671)
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintAttestationProgressModal.tsx
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/components/ActionButton.tsx
  packages/grant-explorer/src/features/attestations/components/BalanceDisplay.tsx
  packages/grant-explorer/src/features/attestations/components/CostDetails.tsx
  packages/grant-explorer/src/features/attestations/components/ErrorMessage.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/attestations/components/index.ts
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/attestations/utils/formatAmount.ts
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useAttestationStatus.ts
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEstimateGas.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/useGetImages.ts
  packages/grant-explorer/src/hooks/attestations/utils/getAttestationPreview.ts
  packages/grant-explorer/src/hooks/useENS.ts
  packages/grant-explorer/src/index.css
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

feat: implemented data-layer attestationService
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/data-layer/src/services/AttestationService/index.ts
  packages/data-layer/src/services/AttestationService/types.ts
  packages/data-layer/src/services/__tests__/AttestationService.test.ts
  packages/data-layer/src/services/__tests__/mocks.ts
Due: prettier, lint-data-layer

chore: implemented useMintingAttestations
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer

chore: renamed useContributionHistory to useContributionsByDonor
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryContainer.tsx
  packages/grant-explorer/src/features/contributors/hooks/useContributionsByDonor.tsx
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

update OSO endpoint and queries (#3672)
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

iterating on homepage
  apps/explorer/components.json
  apps/explorer/package-lock.json
  apps/explorer/package.json
  apps/explorer/src/app/globals.css
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/src/components/homepage/Hero.tsx
  apps/explorer/src/components/homepage/HomeNav.tsx
  apps/explorer/src/components/homepage/InfoCard.tsx
  apps/explorer/src/components/ui/button.tsx
  apps/explorer/src/components/ui/card.tsx
  apps/explorer/src/features/app/components/Header.tsx
  apps/explorer/src/lib/utils.ts
  apps/explorer/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier

refactor: useContributionsByDonor now uses useQuery
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryContainer.tsx
  packages/grant-explorer/src/features/contributors/hooks/useContributionsByDonor.tsx
Due: prettier, lint-explorer

chore: useMintingAttestations export type and add default parameter
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer

chore: changed MintDonationButtonProps
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
Due: prettier, lint-explorer

chore: check if transaction is minted - propDrilling
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/RoundDonations.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
Due: prettier, lint-explorer

fix: data-layer attestation types
  packages/data-layer/src/index.ts
Due: prettier, lint-data-layer

cleanup
  apps/explorer/src/app/collections/[collectionId]/page.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/src/app/projects/[chainId]/[roundId]/[applicationId]/page.tsx
  apps/explorer/src/app/rounds/[projectId]/page.tsx
  apps/explorer/src/app/rounds/components/ExploreRounds.tsx
  apps/explorer/src/components/homepage/DisplayGrid.tsx
  apps/explorer/src/components/homepage/Hero.tsx
  apps/explorer/src/components/homepage/HomeNav.tsx
  apps/explorer/src/components/homepage/StatsCard.tsx
  apps/explorer/src/components/ui/AnimatedNumber.tsx
  apps/explorer/src/features/projects/components/ExploreProjects.tsx
Due: prettier

updating lockfile
  pnpm-lock.yaml
Due: none

fixing build
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/Details.test.tsx
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: prettier, lint-builder

updating lockfile
  packages/builder/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: none

starting round details
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/app/round/[chainId]/[roundId]/page.tsx
  apps/explorer/src/components/app/Header.tsx
  apps/explorer/src/components/app/Providers.tsx
  apps/explorer/src/components/homepage/DisplayGrid.tsx
  apps/explorer/src/components/homepage/HomeNav.tsx
  apps/explorer/src/components/round/RoundCard.tsx
  apps/explorer/src/components/round/RoundHero.tsx
  apps/explorer/src/components/ui/badge.tsx
Due: prettier

chore: moved ImageWithLoading to common feature
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/components/ImageWithLoading.tsx
  packages/grant-explorer/src/features/common/components/index.tsx
Due: prettier, lint-explorer

fix: DonationsTransactions - missing key in rendering map
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
Due: prettier, lint-explorer

chore: AttestationService - added metadata and timestamp to query
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/data-layer/src/services/AttestationService/types.ts
Due: prettier, lint-data-layer

chore: useMintingAttestations sort response by timestamp desc
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer

fix: MintingAttestationIdsData - metadata is array
  packages/data-layer/src/services/AttestationService/types.ts
Due: prettier, lint-data-layer

chore: remove MintDonationButton from MintDonationImapactAction
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
