Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix(explorer) convert p to div to allow div child elements (#3059)
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

lint and typecheck common and datalayer (#3061)
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier

fix goto definition (#3060)
  packages/common/tsconfig.json
  packages/data-layer/tsconfig.json
Due: none

fix typecheck:
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

chore: move mrc voting to allo sdk (#2987)
  packages/common/src/allo/abis/allo-v1/multiRoundCheckout.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/allo/voting.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

disable eslint wrnings
  .github/workflows/common.yml
  packages/common/package.json
Due: none

fix program name
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fix: unused vars
  packages/eslint-config-gitcoin/index.js
Due: prettier

error on linter warnings (#3062)
  .github/workflows/common.yml
  packages/common/package.json
  packages/eslint-config-gitcoin/index.js
Due: prettier

add GTC as payout token for arbitrum
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

chore: add usd glo
  packages/common/src/payoutTokens.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

address review comments
  packages/common/src/payoutTokens.ts
Due: prettier

add GTC as payout token for arbitrum (#3068)
  packages/common/src/payoutTokens.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

fix program name (#3064)
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

wip
  packages/builder/src/actions/projects.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

working round badges
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/index.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-builder, lint-data-layer

wip
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

updare type
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

added fix in round list item
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
Due: prettier, lint-builder

move type to data-layer/add note
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/common/src/types.ts
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

wip
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

work on tests/update
  packages/data-layer/src/backends/legacy.test.ts
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager, lint-data-layer

ix
  packages/builder/src/actions/projects.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

update rest of type imports
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

rm console.log
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
Due: prettier, lint-builder

working stats :)
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

no stats
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

fix(Manager): remove invalid html errors in manager
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

fixing rounds tab
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

remove logs
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

fix test
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

fix(Manager): remove invalid html errors in manager (#3088)
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

fix builder tests
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

lint
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
Due: prettier, lint-builder, lint-manager

lint:fix builder
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

fix explorer type
  packages/common/src/index.ts
Due: prettier

fix rm
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PR checklist with donation/payout tokens check (#3089)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
