Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

wip modular navbar
  packages/builder/src/components/BuilderNavbar.tsx
  packages/builder/src/components/Header.tsx
  packages/builder/src/components/Layout.tsx
  packages/common/src/components/Navbar.tsx
  packages/common/src/icons/Plus.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/ManagerNavbar.tsx
  packages/round-manager/src/features/common/NotFoundPage.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

modular-navbar WIP
  packages/builder/package.json
  packages/builder/src/components/BuilderNavbar.tsx
  packages/builder/src/components/Header.tsx
  packages/builder/src/components/Layout.tsx
  packages/builder/src/providers.tsx
  packages/common/src/components/Navbar.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/Layout.tsx
  packages/round-manager/src/features/common/ManagerNavbar.tsx
  packages/round-manager/src/features/common/NotFoundPage.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

modular-navbar WIP
  lefthook.yml
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

Allokit integration new route : user/rounds
  packages/builder/package.json
  packages/builder/src/components/rounds/ViewRounds.tsx
  packages/builder/src/index.tsx
  packages/builder/src/providers.tsx
  packages/builder/src/routes.tsx
Due: prettier, lint-builder

cleaning
  lefthook.yml
  packages/round-manager/src/features/common/Auth.tsx
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/NotFoundPage.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

added the allo kit styles
  packages/builder/src/components/rounds/ViewRounds.tsx
Due: prettier, lint-builder

modular-navbar WIP
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/src/features/common/Navbar.tsx
Due: prettier, lint-explorer

chore: explorer - installed @allo-team/kit
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

chore: use providers from allo-kit
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

fix: typechecks
  packages/builder/src/components/grants/rounds/LinkManager.tsx
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

refactor: moved Navbar.tsx to Navbar folder
  packages/grant-explorer/src/features/common/Navbar/Navbar.tsx
  packages/grant-explorer/src/features/common/Navbar/NavbarCart.tsx
  packages/grant-explorer/src/features/common/Navbar/index.ts
  packages/grant-explorer/src/features/common/__tests__/NavbarCart.test.tsx
Due: prettier, lint-explorer

refactor: split Navbar into components
  packages/grant-explorer/src/features/common/Navbar/AlloVersionBanner.tsx
  packages/grant-explorer/src/features/common/Navbar/ContributionHistoryLink.tsx
  packages/grant-explorer/src/features/common/Navbar/Navbar.tsx
  packages/grant-explorer/src/features/common/Navbar/NavbarConnectButton.tsx
  packages/grant-explorer/src/features/common/Navbar/NavbarSeparator.tsx
Due: prettier, lint-explorer

feat: set import alias @/
  packages/builder/craco.config.js
  packages/builder/tsconfig.json
  packages/grant-explorer/craco.config.js
  packages/grant-explorer/tsconfig.json
  packages/grant-explorer/vitest.config.ts
  packages/round-manager/craco.config.js
  packages/round-manager/tsconfig.json
Due: prettier, lint-builder, lint-manager, lint-explorer

refactor: use import alias in Navbar
  packages/grant-explorer/src/features/common/Navbar/Navbar.tsx
Due: prettier, lint-explorer

refactor: manager - moved Navbar.tsx to Navbar/
  packages/round-manager/src/features/common/Navbar/Navbar.tsx
  packages/round-manager/src/features/common/Navbar/index.ts
Due: prettier, lint-manager

refactor: manager - moved NavbarProps to Navbar.tsx
  packages/round-manager/src/features/common/Navbar/Navbar.tsx
  packages/round-manager/src/features/common/types.ts
Due: prettier, lint-manager

refactor: manager - implemented NavbarConnectButton
  packages/round-manager/src/features/common/Navbar/Navbar.tsx
  packages/round-manager/src/features/common/Navbar/NavbarConnectButton.tsx
Due: prettier, lint-manager

chore: added build builder script
  package.json
Due: none

chore: add root tsconfig and extend in the packages
  packages/builder/tsconfig.json
  packages/common/tsconfig.json
  packages/grant-explorer/tsconfig.json
  packages/round-manager/tsconfig.json
  tsconfig.json
Due: none

feat: added root tsconfig and common package extends it
  packages/common/tsconfig.json
  tsconfig.json
Due: none

feat: implemented NavbarGeneric in common package;
  packages/common/src/assets/gitcoinlogo-black.svg
  packages/common/src/components/NavbarGeneric/NavbarActions.tsx
  packages/common/src/components/NavbarGeneric/NavbarBanner.tsx
  packages/common/src/components/NavbarGeneric/NavbarConnectButton.tsx
  packages/common/src/components/NavbarGeneric/NavbarContext.tsx
  packages/common/src/components/NavbarGeneric/NavbarCustomAction.tsx
  packages/common/src/components/NavbarGeneric/NavbarGeneric.tsx
  packages/common/src/components/NavbarGeneric/NavbarLogo.tsx
  packages/common/src/components/NavbarGeneric/NavbarSeparator.tsx
  packages/common/src/components/NavbarGeneric/index.ts
  packages/common/src/components/index.ts
Due: prettier

fix: common - lint errors
  packages/common/src/components/NavbarGeneric/NavbarGeneric.tsx
Due: prettier

feat: manager - implemented manager-logo-mobile.svg
  packages/round-manager/src/assets/manager-logo-mobile.svg
Due: none

chore: moved NavbarProps to Navbar.tsx
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/features/common/types.ts
Due: prettier, lint-manager

chore: moved Navbar.tsx to Navbar folder
  packages/round-manager/src/features/common/Navbar/Navbar.tsx
  packages/round-manager/src/features/common/Navbar/index.tsx
Due: prettier, lint-manager

fix: manager tests
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

fix: manager typecheck
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

feat: manager - use GenericNavBar
  packages/round-manager/src/features/common/LandingPage.tsx
  packages/round-manager/src/features/common/Navbar/Navbar.tsx
Due: prettier, lint-manager

feat: builder - implemented builder-logo-mobile.svg
  packages/builder/src/assets/builder-logo-mobile.svg
Due: none

fix: builder typecheck
  packages/builder/src/components/grants/rounds/LinkManager.tsx
Due: prettier, lint-builder

refactor: builder - CustomerSupport styling
  packages/builder/src/components/base/CustomerSupport.tsx
Due: prettier, lint-builder

feat: builder - use GenericNavBar
  packages/builder/src/components/Header.tsx
  packages/builder/src/components/grants/Landing.tsx
Due: prettier, lint-builder

chore: moved Navbar and NavbarCart to Navbar folder
  packages/grant-explorer/src/features/common/Navbar/Navbar.tsx
  packages/grant-explorer/src/features/common/Navbar/NavbarCart.tsx
Due: prettier, lint-explorer

feat: explorer - use GenericNavBar
  packages/grant-explorer/src/features/common/Navbar/AlloVersionBanner.tsx
  packages/grant-explorer/src/features/common/Navbar/ContributionHistoryLink.tsx
  packages/grant-explorer/src/features/common/Navbar/Navbar.tsx
  packages/grant-explorer/src/features/common/Navbar/NavbarCart.tsx
  packages/grant-explorer/src/features/common/Navbar/index.ts
Due: prettier, lint-explorer

fix: explorer - tests
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
  packages/grant-explorer/src/features/common/__tests__/NavbarCart.test.tsx
Due: prettier, lint-explorer

chore: restore common tsconfig
  packages/common/tsconfig.json
Due: none

Update tsconfig.json
  packages/common/tsconfig.json
Due: none

feat: implemented generic NavBar in common package (#3654)
  packages/common/src/assets/gitcoinlogo-black.svg
  packages/common/src/components/NavbarGeneric/NavbarActions.tsx
  packages/common/src/components/NavbarGeneric/NavbarBanner.tsx
  packages/common/src/components/NavbarGeneric/NavbarConnectButton.tsx
  packages/common/src/components/NavbarGeneric/NavbarContext.tsx
  packages/common/src/components/NavbarGeneric/NavbarCustomAction.tsx
  packages/common/src/components/NavbarGeneric/NavbarGeneric.tsx
  packages/common/src/components/NavbarGeneric/NavbarLogo.tsx
  packages/common/src/components/NavbarGeneric/NavbarSeparator.tsx
  packages/common/src/components/NavbarGeneric/index.ts
  packages/common/src/components/index.ts
  tsconfig.json
Due: prettier

minor cleanup
  packages/grant-explorer/src/features/common/CopyToClipboardButton.tsx
  packages/grant-explorer/src/features/common/StatCard.tsx
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

fix missing application metadata error
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager
