Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

some smol updates
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

wire in allo-v2
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

fix
  packages/builder/src/utils/components.ts
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier, lint-builder

remove abi
  packages/common/src/allo/abis/allo-v2/Strategy.ts
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

fix abi import
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

add applyToRound to allo.ts and wire it into builder for v1 (#2904)
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/utils/AlloWrapper.tsx
  packages/builder/src/utils/components.ts
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

feat: performance improvements
  .gitignore
  package.json
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/data-layer/package.json
  packages/data-layer/tsconfig.json
  packages/grant-explorer/tsconfig.json
  packages/round-manager/package.json
  packages/round-manager/rsbuild.config.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/tsconfig.json
Due: prettier, lint-manager

fix: revert code change and add alias in rsbuild config
  packages/round-manager/rsbuild.config.ts
  packages/round-manager/src/features/api/exports.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

chore: add rsbuild to builder
  packages/builder/package.json
  packages/builder/rsbuild.config.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

chore: add rsbuild to explorer
  packages/grant-explorer/package.json
  packages/grant-explorer/rsbuild.config.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

wip: migrate landing page to data layer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ActiveRoundSection.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundsGrid.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: add getProfilesByUser query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: update getProgramsByUser
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: build issues
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

feat: migrate landing page to data layer
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/SortDropdown.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/features/discovery/utils/getSortLabel.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: tests
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
Due: prettier, lint-explorer

fix: dates
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundDaysDetails.tsx
Due: prettier, lint-explorer

feat: update getProgramsByUser
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

Performance (#2868)
  .gitignore
  package.json
  packages/builder/package.json
  packages/builder/rsbuild.config.ts
  packages/builder/tsconfig.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/data-layer/package.json
  packages/data-layer/tsconfig.json
  packages/grant-explorer/package.json
  packages/grant-explorer/rsbuild.config.ts
  packages/grant-explorer/tsconfig.json
  packages/round-manager/package.json
  packages/round-manager/rsbuild.config.ts
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

local dev env setup
  .gitignore
  docker-compose.yml
  packages/common/src/chains.ts
  scripts/README.md
  scripts/dev
Due: prettier

rename dev commands
  scripts/dev
Due: none

Explorer: [2670] Application page indexer data (#2712)
  packages/common/src/index.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/data/application.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

small changes and logs
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/reducers/rounds.ts
  packages/common/src/allo/roundIdentifier.ts
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

add anchor reducer/action
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

Explorer: fix indexer v2 base url in data-layer initialization
  .gitignore
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

check fetch error
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

load strategy
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

fix more conflicts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

fix test
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
Due: prettier, lint-explorer

fix round context tests
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
Due: prettier, lint-manager

fix: warnings
  packages/round-manager/src/context/round/RoundContext.tsx
Due: prettier, lint-manager

fix round metadata types
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

Move application page fetcher to data layer (#2902)
  .gitignore
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/__tests__/useApplication.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

wip
  cache/solidity-files-cache.json
  packages/builder/package.json
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

wip
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

applied
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

applied
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
