Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

chore: add usd glo (#3075)
  packages/common/src/payoutTokens.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

remove timestamp check
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

rm log
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix: ready for payout
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

fix: ready for payout (#3121)
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

use indexer for round
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

allo v1 finalize round in interface
  packages/common/package.json
  packages/common/src/allo/abis/allo-v1/MerklePayoutStrategyImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/FinalizeRoundContext.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

show finalize transaction
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

redirect after finalizing
  packages/round-manager/src/context/round/FinalizeRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

add allov2 stub
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix lint
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

finalize round v2
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

delete unused test
  packages/round-manager/src/context/round/__tests__/FinalizeRoundContext.test.tsx
Due: prettier, lint-manager

fix(Manager): treat IN_REVIEW status as pending for the round contract
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix(Manager): treat IN_REVIEW status as pending for the round contract (#3122)
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

Update packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

edit flow migration
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/Edit.tsx
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/hooks.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-data-layer

fix imports
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/FormWizard.tsx
Due: prettier, lint-manager

fix imports
  packages/builder/src/actions/projects.ts
  packages/round-manager/src/features/round/CreateRoundPage.tsx
Due: prettier, lint-builder, lint-manager

use funded amount from contract for v1
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix payout screen
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/context/round/FinalizeRoundContext.tsx
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

remove console log
  packages/common/src/index.ts
Due: prettier

feat: edit Round migration (#3090)
  packages/builder/src/components/grants/Edit.tsx
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/hooks.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-data-layer

fix missing space
  packages/round-manager/src/features/round/CreateRoundPage.tsx
Due: prettier, lint-manager

fix missing space (#3136)
  packages/round-manager/src/features/round/CreateRoundPage.tsx
Due: prettier, lint-manager

fix conflict
  packages/common/src/allo/allo.ts
Due: prettier

fix the build
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

allo switcher and banner on manager
  packages/common/package.json
  packages/common/src/components/Footer.tsx
  packages/common/src/config.ts
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

allo switcher and banner on manager
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/common/src/icons/AlloV1.tsx
  packages/common/src/icons/AlloV2.tsx
Due: prettier

new design
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/round-manager/src/index.css
  packages/round-manager/tailwind.config.js
Due: prettier, lint-manager

banner copy
  packages/round-manager/src/features/common/Navbar.tsx
  packages/round-manager/src/index.css
Due: prettier, lint-manager

make dropdown button
  packages/common/src/components/AlloVersionSwitcher.tsx
Due: prettier

feat: fetch payout data from allo wrapper in v1
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

fix: build issues
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

feat: move batchDistributeFunds to allo wrapper
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix: issues
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
Due: prettier, lint-manager

fix: issues
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

lint and typecheck common and datalayer
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier

Revert "lint and typecheck common and datalayer"
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier
