Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

fix(Explorer): add project alias to canonicalProject subquery
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix(Explorer): add project alias to canonicalProject subquery (#3183)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix(Explorer): use strategy title
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix(Explorer): use strategy title (#3184)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

bump sdk version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

remove logs
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

working on donation bugs
  packages/common/package.json
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

updates
  packages/common/src/allo/common.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

address feedback
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer, lint-data-layer

roll back skd version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

fix links
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

wip
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer, lint-data-layer

rm logging
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/voting.ts
Due: prettier, lint-explorer, lint-data-layer

work on fetching donations
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer, lint-data-layer

update query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
Due: prettier, lint-explorer

updates
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
Due: prettier, lint-explorer

dinge
  packages/common/package.json
  pnpm-lock.yaml
Due: none

start updating donation fetching
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
Due: prettier, lint-explorer, lint-data-layer

stuff
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

fixed tests
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

load donations
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

udpate app card
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix stat query
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

update query for project
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

Donation History updates (#3159)
  packages/builder/src/utils/test_utils.tsx
  packages/common/package.json
  packages/common/src/allo/common.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useApplication.ts
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer, lint-data-layer

fix: wait for anchor until indexing
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

fix: wait for project changes to be indexed
  packages/builder/src/actions/newGrant.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

fix: wait until donation is indexed
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: default manager to mainnet for unsupported network
  packages/round-manager/src/features/api/AlloWrapper.tsx
Due: prettier, lint-manager

fix: redirect to landing when applying to round with wrong network and hitting cancel
  packages/builder/src/components/base/SwitchNetworkModal.tsx
Due: prettier, lint-builder

fix empty project bug
  packages/builder/src/components/base/formValidation.ts
Due: prettier, lint-builder

fix anchor address in explorer
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer, lint-data-layer

fix tests
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

fix empty array default
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

remove console.log
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer

Fix allo v2 voting incorrect anchor address (#3192)
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer, lint-data-layer

anchor address form aplication
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

enable DG only on v1
  packages/common/src/config.ts
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager

fix: disable v1 round ceation on v2
  packages/round-manager/src/features/program/ViewProgramPage.tsx
Due: prettier, lint-manager
