Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix
  packages/common/package.json
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer, lint-data-layer

update timestamps
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/round.ts
Due: prettier, lint-explorer, lint-data-layer

update lock
  pnpm-lock.yaml
Due: none

fix
  packages/builder/src/components/grants/Card.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder

update explorer
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/setupTests.ts
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
Due: prettier, lint-explorer

fix typecheck
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

f
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

test
  packages/round-manager/package.json
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

clean up
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/index.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
Due: prettier, lint-manager, lint-explorer

fixup
  packages/builder/src/components/grants/Card.tsx
Due: prettier, lint-builder

g
  packages/round-manager/package.json
Due: none

explorer tests
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/setupTests.ts
Due: prettier, lint-explorer

rm more
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.test.tsx
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-manager, lint-explorer

f
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

fix tests
  packages/common/src/types.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/common/__tests__/AddQuestionModal.test.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager, lint-explorer

fix lint issues
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

todo:fix
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
Due: prettier, lint-manager

clean
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

Update package.json
  packages/common/package.json
Due: none

remove faulty/unused package (#3481)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

chain data version bump
  packages/common/package.json
  pnpm-lock.yaml
Due: none

f
  pnpm-lock.yaml
Due: none

fi
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
Due: prettier, lint-manager

chain data version bump (#3485)
  packages/common/package.json
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

chain data version bump
  pnpm-lock.yaml
Due: none

fix token symbol
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix token symbol (#3489)
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: implemented useCountdown hook
  packages/grant-explorer/src/hooks/useCountdown.tsx
Due: prettier, lint-explorer

feat: implemented CountdownBanner component
  packages/grant-explorer/src/features/round/CountdownBanner.tsx
Due: prettier, lint-explorer

feat: unified round pages and added donations countdown banner
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: address feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: address engg feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
