Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

test: update tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

update UI
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

update poolId (new contract deployed
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

swap out fo sdk
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: handle case when wallet is not connected
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: code cleanup
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: handle error states
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add error modal
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: show donate button only on chains that support direct donation
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: update max height
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
Due: prettier, lint-explorer

fix: decimal issue on donation modal
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: update lock file
  pnpm-lock.yaml
Due: none

fix: erc20 donation issue
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

tests: fix failing tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

chore: refactor code
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: refactor getbalance in project page
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add direct donation button (#3560)
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/ProgressModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

fix builder round dates
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

add poolId and strategy
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: update gitcoin chain data package to add glo support to gs on celo
  packages/common/package.json
  pnpm-lock.yaml
Due: none

update direct allocation
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

add metis
  packages/common/package.json
  pnpm-lock.yaml
Due: none

update chain data and rpc
  packages/common/package.json
  packages/common/src/chains.ts
  pnpm-lock.yaml
Due: prettier

chore: add usdc to sei
  packages/common/package.json
Due: none

update package
  packages/common/package.json
  pnpm-lock.yaml
Due: none

Show direct donations
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/utils/wagmi.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

trycatch
  packages/builder/src/components/grants/stats/StatCard.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
Due: prettier, lint-builder

ignore project and round with no metadata
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/common/ProjectCard.tsx
Due: prettier, lint-explorer, lint-data-layer

Update packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/common/ProjectCard.tsx
Due: prettier, lint-explorer

chore: fix some comments
  packages/builder/src/components/base/images/ImageCrop.tsx
  packages/builder/src/utils/datadog.tsx
  packages/grant-explorer/src/datadog.tsx
  packages/round-manager/src/datadog.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: check if user chain id is same as project chainid when donating
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add switchNetwork modal
  packages/grant-explorer/src/features/common/BaseModal.tsx
  packages/grant-explorer/src/features/common/Button.tsx
  packages/grant-explorer/src/features/common/SwitchNetworkModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: getDonationsByDonorAddress query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: show direct donations in donation history page
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/contributors/DirectDonationTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: update direct donations table
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

chore: update tests
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

feat: update donation table ui
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
