Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

manager: Create programs for allo v1 and v2 (#3030)
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/roundApplication.ts
  packages/common/src/allo/abis/allo-v1/ProgramFactory.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/operation.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/CreateProgramContext.tsx
  packages/round-manager/src/context/program/__tests__/CreateProgramContext.test.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/useCreateProgram.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

load applications from indexer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/application/ApplicationContext.tsx
  packages/round-manager/src/context/application/__tests__/ApplicationContext.test.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

rename to use applications by round id
  packages/round-manager/src/context/application/__tests__/ApplicationContext.test.tsx
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix builder types
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
  packages/builder/src/components/grants/rounds/__tests__/Rounds.test.tsx
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/test_utils.tsx
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

fix view application page
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix view round page test
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

fix applications approved test
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsApproved.test.tsx
Due: prettier, lint-manager

fix applications received test
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
Due: prettier, lint-manager

fix application review screen
  packages/round-manager/src/features/round/__tests__/ApplicationsRejected.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
Due: prettier, lint-manager

delete unused test
  packages/round-manager/src/features/api/__tests__/application.test.ts
Due: prettier, lint-manager

update direct grants
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

rm console log
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager

fix: don't pulse the check icon
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
Due: prettier, lint-explorer

round manager: update direct grants (#3049)
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

fix: view application answers and status snapshots
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager, lint-data-layer

load payouts from subgraph
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

Update packages/builder/src/actions/rounds.ts
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

fix: round strategy type
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager, lint-data-layer

fix tests
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
Due: prettier, lint-builder

update for rebase
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

remove comment
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

fix: dg payouts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager, lint-data-layer

update status
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
Due: prettier, lint-builder

fix payouts list
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager

update type name
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

wait for approve button
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

wait for appprove button
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix view application page tesrt
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

get project metadata from application metadata
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager, lint-data-layer

fix owners
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager, lint-data-layer

Feedback fixes for 2962 (#3029)
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

bump allo sdk
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

work on apply to direct/tests
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

add roundCategory
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

applying to dorect grants round
  packages/builder/src/actions/rounds.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

lint/fix
  packages/builder/src/components/grants/ApplicationCard.tsx
Due: prettier, lint-builder

reuse type (#3042)
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
  packages/builder/src/utils/test_utils.tsx
  packages/builder/src/utils/utils.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-builder, lint-data-layer

Update allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

update test
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
