Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

chore: add usdc permit version on base
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

Add Base mainnet as a network on Grants Stack (#2737)
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/package.json
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/.env.test
  packages/common/package.json
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/icons/base-logo.svg
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/public/logos/base-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.test
  packages/round-manager/package.json
  packages/round-manager/public/logos/base-logo.svg
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fix: payouts for individual projects
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix test
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

style: remove unnecessary padding in fund grantees tab
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

style: fix round settings responsive layout (#2756)
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix: only index from projectregistry contract creation block on polygon pos
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

feat: add mkusd as a payout token
  packages/common/src/index.ts
  packages/round-manager/public/logos/mkusd-logo.svg
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

fix: usdc decimal place error
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

chore: use separate anvil / allo-deployer images
  docker-compose.yml
Due: none

fix: usdc decimal place error (#2768)
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix: copy correct url when clicking "share profile" (#2750)
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

chore: stanzas for the block explorer were missing
  docker-compose.yml
Due: none

chore: remove usdc as payout & donation token on zksync
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

fix: fonts and styles in passport banner and navbarˆ
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

fix: only index from projectregistry contract creation block on polygon pos (#2767)
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

chore: remove usdc as payout & donation token on zksync (#2772)
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

fix: build issues
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

chore: update finalise results copy
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

chore: update finalise results btn ui
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix: viewRoundResult tests
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
Due: prettier, lint-manager

test: update tests.
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
Due: prettier, lint-manager

fix: fonts and styles in passport banner and navbarˆ (#2773)
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

feat: add note about transparency in logos in builder
  packages/builder/src/components/base/images/ImageCrop.tsx
Due: prettier, lint-builder

remove weird line
  packages/builder/src/components/base/images/ImageCrop.tsx
Due: prettier, lint-builder

feat: disable finalization button when round is not fully funded (#2497)
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
Due: prettier, lint-manager

fix: website input glitch
  packages/builder/src/components/base/ProjectForm.tsx
  packages/builder/src/components/grants/inputs.tsx
Due: prettier, lint-builder

fix: ui issue
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

fix: padding issue
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

Add mkUSD as payout token for direct grants (#2766)
  packages/common/src/index.ts
  packages/round-manager/public/logos/mkusd-logo.svg
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

refactor: use plain methods for datalayer queries
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: round loading error on builder
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

fix: if no passport rounds in cart, act as if passport is valid
  packages/grant-explorer/src/features/common/MatchingEstimateTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

feat: add note about transparency in logos in builder (#2775)
  packages/builder/src/components/base/images/ImageCrop.tsx
Due: prettier, lint-builder

feat: add allo abstraction
  packages/data-layer/src/abis/allo-v1/DirectPayoutStrategyFactory.ts
  packages/data-layer/src/abis/allo-v1/DirectPayoutStrategyImplementation.ts
  packages/data-layer/src/abis/allo-v1/ProjectRegistry.ts
  packages/data-layer/src/abis/allo-v1/QuadraticFundingVotingStrategyFactory.ts
  packages/data-layer/src/abis/allo-v1/QuadraticFundingVotingStrategyImplementation.ts
  packages/data-layer/src/abis/allo-v1/RoundFactory.ts
  packages/data-layer/src/abis/allo-v1/RoundImplementation.ts
  packages/data-layer/src/allo.ts
  packages/data-layer/src/allo/allo-v1.ts
  packages/data-layer/src/transaction-executor.ts
Due: prettier, lint-data-layer

feat: add allo v2 placeholder
  packages/data-layer/src/allo/allo-v2.ts
Due: prettier, lint-data-layer

fix: website input glitch (#2776)
  packages/builder/src/components/base/ProjectForm.tsx
  packages/builder/src/components/grants/inputs.tsx
Due: prettier, lint-builder

things
  packages/builder/src/actions/newGrant.ts
Due: prettier, lint-builder

feat: add support for scroll testnet
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-builder, lint-manager, lint-explorer
