Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix: donating with erc20 issue during direct donations
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

chore: code cleanup
  packages/common/src/index.ts
Due: prettier

feat: fetch direct donation contracts from chain data package
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

fix: build issue
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

scaffolding
  apps/explorer/.eslintrc.json
  apps/explorer/.gitignore
  apps/explorer/README.md
  apps/explorer/next.config.mjs
  apps/explorer/package-lock.json
  apps/explorer/package.json
  apps/explorer/postcss.config.mjs
  apps/explorer/public/next.svg
  apps/explorer/public/vercel.svg
  apps/explorer/src/app/favicon.ico
  apps/explorer/src/app/globals.css
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/tailwind.config.ts
  apps/explorer/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

not sure what this is but ok
  packages/builder/tsconfig.tsbuildinfo
Due: none

Removed maxHeight and maxWidth properties instead of setting them to undefined per feedback
  packages/builder/src/components/base/images/ImageCrop.tsx
Due: prettier, lint-builder

explore rounds
  apps/explorer/package.json
  apps/explorer/src/app/collections/[collectionId]/page.tsx
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/app/projects/[chainId]/[roundId]/[applicationId]/page.tsx
  apps/explorer/src/app/rounds/[projectId]/page.tsx
  apps/explorer/src/features/app/components/Header.tsx
  apps/explorer/src/features/app/components/Providers.tsx
  apps/explorer/src/features/projects/components/ExploreProjects.tsx
  apps/explorer/src/features/rounds/components/ExploreRounds.tsx
  apps/explorer/src/utils/utils.tsx
  apps/explorer/tailwind.config.ts
Due: prettier

explore rounds
  pnpm-lock.yaml
Due: none

Explorer with ALlokit
  apps/explorer/src/app/collections/[collectionId]/page.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/src/features/rounds/components/ExploreRounds.tsx
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/Details.test.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: prettier, lint-builder

bumping chain data
  packages/common/package.json
Due: none

adding lockfile
  pnpm-lock.yaml
Due: none

fix lit for unsupported chain on builder
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/utils/RoundApplicationBuilder.ts
  packages/common/src/index.ts
Due: prettier, lint-builder

fix lit for unsupported chain on manager
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

Fix metis (#3624)
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/utils/RoundApplicationBuilder.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-builder, lint-manager

feat: update utc to local time in builder
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/utils/components.ts
Due: prettier, lint-builder

in progress
  apps/explorer/src/app/rounds/[projectId]/page.tsx
  apps/explorer/src/app/rounds/components/ExploreRounds.tsx
  pnpm-lock.yaml
Due: prettier

requiring round metadata and roundtype to filter
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

updating second filter
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
Due: prettier, lint-explorer

requiring round metadata and roundtype to filter (#3629)
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
Due: prettier, lint-explorer

update text
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager

fix missing profile
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

fix: ensure all columns are present in csv
  packages/round-manager/src/features/api/exports.ts
Due: prettier, lint-manager

include defaults
  packages/round-manager/src/features/api/exports.ts
Due: prettier, lint-manager

improv
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

Update MATIC to POL
  packages/common/package.json
  pnpm-lock.yaml
Due: none

trick lint
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

do not merge
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fix lukso
  packages/common/package.json
  pnpm-lock.yaml
Due: none

fix lukso (#3643)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

Add Gnosis Chain
  packages/common/package.json
  packages/common/src/chains.ts
  pnpm-lock.yaml
Due: prettier

bump version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

bump sdk version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

bump sdk version (#3644)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

Fix DG
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager

fix: direct allocation stats
  packages/builder/src/components/grants/stats/StatCard.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fix-ci
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
Due: prettier, lint-explorer

fix
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

gix
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
Due: prettier, lint-manager

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
