Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

fix: build issues
  packages/builder/.env.test
  packages/common/.env.test
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/round-manager/.env.test
Due: prettier, lint-explorer

fix: total donation issue
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

fix updateDonationAmount to search for chainId,roundId, and application id
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

remove bug assignees
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

update roundId for useRoundApprovedApplications
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
Due: prettier, lint-explorer

update project card
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix max height (#3240)
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager

fix spacing
  packages/grant-explorer/src/features/common/PassportWidget.tsx
Due: prettier, lint-explorer

comment out modal
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix useRoundById checking chainId as well
  packages/grant-explorer/src/context/RoundContext.tsx
Due: prettier, lint-explorer

fix transaction awaiter
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix transaction awaiter (#3264)
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix test
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

add mock
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

fix tests
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

import ChainId
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

hardcode chain id to 5 in tests
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

fix test
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
Due: prettier, lint-explorer

Move passport widget to round layer (#2983)
  packages/builder/.env.test
  packages/common/.env.test
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/api/__tests__/passport.test.tsx
  packages/grant-explorer/src/features/api/passport.ts
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/PassportWidget.tsx
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/grant-explorer/src/store.ts
  packages/round-manager/.env.test
Due: prettier, lint-explorer

disable matching stats for avax
  packages/round-manager/src/features/round/ViewRoundStats.tsx
Due: prettier, lint-manager

update for matching
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

add op token for op mainnet
  packages/common/src/chain-ids.ts
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

clean
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

almost working
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

add OP token for matching
  packages/common/src/chain-ids.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

update query filter
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

clean logs
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

increase tabs gap
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
Due: prettier, lint-explorer

add SEI to builder
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
Due: prettier, lint-builder

add OP token for matching (#3275)
  packages/common/src/chain-ids.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

add SEI to manager wallet
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager

explorer updates for SEI
  packages/builder/src/contracts/deployments.ts
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-builder, lint-explorer

bugfix: add error boundary for farcaster-embed
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

update tab font
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

start donations page overhaul
  packages/common/src/styles.ts
  packages/grant-explorer/src/features/common/CopyToClipboardButton.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/StatCard.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

wip
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

working on accordian/sorting
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
Due: prettier, lint-explorer

smol style tweaks
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
Due: prettier, lint-explorer

working on sorting the donations by roundId
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

2919/disable matching stats for avax (#3239)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
Due: prettier, lint-manager, lint-explorer
