Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix test
  package.json
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

g
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

test FundContract
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
Due: prettier, lint-manager

reclaim test 1
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

fix reclaim
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

fix program.test.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
Due: prettier, lint-manager

:white_check_mark:
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
Due: prettier, lint-manager

default v2
  packages/common/src/config.ts
Due: prettier

typecheck
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

fix explorer tests
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer

stop query spam
  packages/round-manager/src/context/round/RoundContext.tsx
Due: prettier, lint-manager

Update packages/builder/src/utils/chains.ts
  packages/builder/src/utils/chains.ts
Due: prettier, lint-builder

chainId instead of provider
  packages/round-manager/src/context/round/RoundContext.tsx
Due: prettier, lint-manager

fix: provider check
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

fix
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

fi
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

fix
  packages/builder/src/components/grants/Landing.tsx
  packages/builder/src/services/lit.ts
Due: prettier, lint-builder

update signer
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

tmp
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

update signer (#3521)
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix lock/rebase errors
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix builder
  packages/builder/src/index.tsx
Due: prettier, lint-builder

Add posthog to builder/manager (#3495)
  packages/builder/.env.test
  packages/builder/package.json
  packages/builder/src/index.tsx
  packages/builder/src/utils/posthog.ts
  packages/round-manager/.env.test
  packages/round-manager/package.json
  packages/round-manager/src/index.tsx
  packages/round-manager/src/posthog.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager

feat: add getPaginatedProjects query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: add projects route
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: getPaginatedProjects to data layer
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

feat: add useProjets hook
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
Due: prettier, lint-explorer

feat: add projects tab in explorer home page
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

chore: rename project page and card to application page and card
  packages/grant-explorer/src/features/common/ApplicationCard.test.tsx
  packages/grant-explorer/src/features/common/ApplicationCard.tsx
  packages/grant-explorer/src/features/discovery/ExploreApplicationsPage.tsx
  packages/grant-explorer/src/features/discovery/PaginatedApplicationsList.test.tsx
  packages/grant-explorer/src/features/discovery/PaginatedApplicationsList.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

fix: tests
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.test.tsx
Due: prettier, lint-explorer

chore: rm file
  packages/grant-explorer/src/features/discovery/PaginatedProjectsList.tsx
Due: prettier, lint-explorer

feat: move CardSkeleton
  packages/grant-explorer/src/features/common/ApplicationCard.test.tsx
  packages/grant-explorer/src/features/common/ApplicationCard.tsx
  packages/grant-explorer/src/features/common/ProjectBanner.tsx
  packages/grant-explorer/src/features/discovery/PaginatedApplicationsList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: add projectPath
  packages/common/src/routes/explorer.ts
Due: prettier

fix: query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: update explore projects page
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: add project card
  packages/grant-explorer/src/features/common/ProjectCard.tsx
Due: prettier, lint-explorer

feat: add getProjectsBySearchTerm to datalayer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
