Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

Review applications for QF Rounds on Allo V1 and Allo V2 (#3058)
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/common/src/allo/allo.ts
  packages/common/src/allo/application.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/react.tsx
  packages/data-layer/src/data.types.ts
  packages/round-manager/package.json
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/context/application/__tests__/BulkUpdateGrantApplicationContext.test.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/program/useCreateProgram.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/BulkApplicationCommon.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsApproved.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsRejected.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

lint and typecheck common and datalayer (#3061)
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier

fix goto definition (#3060)
  packages/common/tsconfig.json
  packages/data-layer/tsconfig.json
Due: none

chore: move mrc voting to allo sdk (#2987)
  packages/common/src/allo/abis/allo-v1/multiRoundCheckout.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/allo/voting.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

fix(Manager): convert p to div to avoid invalid html (#3093)
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

fix(manager): compare verifiable credential's id and round owners with lowercase strings (#3105)
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

add GTC as payout token for arbitrum (#3068)
  packages/common/src/payoutTokens.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

Update PR checklist with donation/payout tokens check (#3089)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

improve docs and default .env vars to run builder in local (#3097)
  docs/DEV.md
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
Due: prettier, lint-explorer

error on linter warnings (#3062)
  .github/workflows/common.yml
  packages/common/package.json
  packages/eslint-config-gitcoin/index.js
Due: prettier

set projectId when using GrantApplication for direct payout (#3092)
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager

avoid react errors adding key to elements inside loops (#3094)
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix program name (#3064)
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fix(Manager): remove invalid html errors in manager (#3088)
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

fetch round and applications from the Indexer instead of subgraph (#2988)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

fix round page in case an application doesn't have a project in db (#3115)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

chore: add usd glo (#3075)
  packages/common/src/payoutTokens.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager

Fund Contract for Allo V1 and V2 (#3111)
  packages/common/package.json
  packages/common/src/allo/abis/erc20.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/context/round/__tests__/FundContractContext.test.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

fix(Manager): treat IN_REVIEW status as pending for the round contract (#3122)
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: ready for payout (#3121)
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

feat: edit Round migration (#3090)
  packages/builder/src/components/grants/Edit.tsx
  packages/common/src/allo/abis/allo-v1/RoundImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/allo/transaction-builder.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/__tests__/utils.test.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/hooks.ts
Due: prettier, lint-builder, lint-manager, lint-data-layer

round page/change tabs styles
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
Due: prettier, lint-explorer

feat: round page / display stats page as default only after round has ended
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageHero.tsx
Due: prettier, lint-explorer

fix: other issues
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
Due: prettier, lint-manager

chore: fix issues
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix get round applications after merge
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
Due: prettier, lint-explorer

wip-fix-date
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

switch automatically to allo verison
  packages/common/src/components/AlloVersionSwitcher.tsx
  packages/common/src/config.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager, lint-explorer

load all programs in v2 and only v1 on v1
  packages/common/src/config.ts
  packages/data-layer/src/data-layer.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/ListProgramPage.tsx
Due: prettier, lint-manager, lint-data-layer

Finalize Round V1 / V2 (#3119)
  packages/common/package.json
  packages/common/src/allo/abis/allo-v1/MerklePayoutStrategyImplementation.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/FinalizeRoundContext.tsx
  packages/round-manager/src/context/round/__tests__/FinalizeRoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/api/payoutStrategy/payoutStrategy.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

feat: move txBlockExplorerLink to common
  packages/common/src/index.ts
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
Due: prettier, lint-explorer

feat: add indexing status
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/constants.ts
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
Due: prettier, lint-manager

fix: build issues
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix: tests
  packages/round-manager/src/features/api/__tests__/payoutStrategy/merklePayoutStrategy.test.ts
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

feat: donate via allo-v2
  packages/common/src/allo/abis/allo-v1/multiRoundCheckout.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/payoutTokens.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/utils/utils.ts
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer, lint-data-layer

fix: tests
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
Due: prettier, lint-builder, lint-manager

Update packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: tests
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
