Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

Updated Round Types - Builder, Common, Data-Layer (#2949)
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/common/src/allo/roundIdentifier.ts
  packages/common/src/index.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

chore: fix issues
  packages/builder/src/utils/chains.ts
Due: prettier, lint-builder

fix: logo issue
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

fix: time filters
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

feat: filter out duplicate bot rounds
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager, lint-data-layer

Add sepolia in manager & explorer (#2947)
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/src/utils/chains.ts
  packages/common/.env.test
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/chain-ids.ts
  packages/common/src/config.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: filter bot programs
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager, lint-data-layer

wip
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

fix: tests
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix: issues
  packages/round-manager/src/features/api/__tests__/program.test.ts
Due: prettier, lint-manager

fix: infinite loop
  packages/common/src/chain-ids.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

Revert "Load Programs from Indexer (#2946)"
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/program/ReadProgramContext.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
Due: prettier, lint-manager, lint-data-layer

fix direct round view
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix: is drect round
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix: application page
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

better fix
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

fix :test
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix all occurrences
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

fix program test
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager

fix direct round view (#2954)
  packages/round-manager/src/features/common/Utils.ts
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix/edit button fix
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

remove log
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

fix: strategy names
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

fix: multiple chain selection bug, chain filtering and version filtering
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer, lint-data-layer

fix: lint
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

fix: types
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
Due: prettier, lint-explorer, lint-data-layer

fix/edit button fix (#2956)
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

wip
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

complex
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

filter out duplicate bot rounds (#2952)
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
Due: prettier, lint-manager, lint-data-layer

adding projectType and merge function
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-builder, lint-data-layer

fix: types, tests and lints
  .gitignore
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer

fix: leftover
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-explorer

fix conflict
  packages/grant-explorer/.env.test
Due: none

only decode response if status is 200
  packages/common/src/allo/indexer.ts
Due: prettier

surface indexer error
  packages/common/src/allo/indexer.ts
Due: prettier

merge canonical projects
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-data-layer

rm logging
  packages/data-layer/src/utils.ts
Due: prettier, lint-data-layer

meh
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/reducers/projects.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer
