Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

chore: removed legacy PreRoundPage, ApplyButton and Inactive Button component code
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: added Apply date range
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

chore: updated ViewRoundPage tests with the changes of the new preround page
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

chore: after merge main, updated tests and fixed esLint warnings
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

use alchemy and infura provider
  packages/common/src/chains.ts
Due: prettier

rebase
  packages/common/src/chains.ts
Due: prettier

use alchemy and infura provider (#3498)
  packages/common/src/chains.ts
Due: prettier

feat: Explorer - change pre-round page (#3496)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

fix(explorer): description missing on project card with footer
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

feat: fetch legacy applications
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer, lint-data-layer

return without window.ethereum
  packages/builder/src/components/grants/Landing.tsx
Due: prettier, lint-builder

builder, manager wip
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/common/Auth.tsx
Due: prettier, lint-manager

feat: update RoundListItem
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

add window.ethereum check
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
Due: prettier, lint-explorer

remove coolMode
  packages/builder/src/index.tsx
  packages/grant-explorer/src/index.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: implemented getTimeLeftutils and parseTimeLeft reusing the logic of getDaysLeft
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

feat: implemented RoundStartCountdownBadge component
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
Due: prettier, lint-explorer

feat: implemented ApplicationsCountdownBanner component
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
Due: prettier, lint-explorer

feat: extended TW theme with rainbow gradiend background
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

fix
  packages/common/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

feat: hide AddToCart button in Project Details page before round start
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

feat: implemented RoundPage for pre/during/post round, removed unused components
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

test: updated tests with the changes made
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

fix: tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

chore: address feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: updated at
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: address feedback
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

chore: address engg feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: address engg feedback
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

test: add viewProject tests
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: add project page in explorer
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

feat: move useValidateCredential to common
  packages/builder/src/components/application/AboutProject.tsx
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/providers/Github.tsx
  packages/builder/src/components/providers/Twitter.tsx
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/services/passport/credentialVerifier.ts
  packages/common/src/services/passport/passportCredentials.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer

feat: add getApprovedApplicationsByProjectIds to datalayer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: add useProjectApplications hook
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
Due: prettier, lint-explorer

feat: add project stats & past rounds page & verified badges
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat(explorer): show project list in preround page (#3507)
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/round/ApplicationsCountdownBanner.tsx
  packages/grant-explorer/src/features/round/RoundStartCountdownBadge.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

Add project page in explorer (#3471)
  packages/builder/src/components/application/AboutProject.tsx
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/About.tsx
  packages/builder/src/components/providers/Github.tsx
  packages/builder/src/components/providers/Twitter.tsx
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/services/passport/credentialVerifier.ts
  packages/common/src/services/passport/passportCredentials.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-explorer, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
