Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

chore: implemented modal and used it to display MintingImage
  packages/grant-explorer/src/features/common/components/Modal.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
Due: prettier, lint-explorer

feat: add bridging widget to checkout (#3645)
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/discovery/RoundMatchAmountBadge.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/EmptyCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

added mint attestation workflow in donation history page and code ref… (#3671)
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintAttestationProgressModal.tsx
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/components/ActionButton.tsx
  packages/grant-explorer/src/features/attestations/components/BalanceDisplay.tsx
  packages/grant-explorer/src/features/attestations/components/CostDetails.tsx
  packages/grant-explorer/src/features/attestations/components/ErrorMessage.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/attestations/components/index.ts
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/attestations/utils/formatAmount.ts
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useAttestationStatus.ts
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEstimateGas.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/useGetImages.ts
  packages/grant-explorer/src/hooks/attestations/utils/getAttestationPreview.ts
  packages/grant-explorer/src/hooks/useENS.ts
  packages/grant-explorer/src/index.css
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

chore: check transaction minting in history page (#3676)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/index.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/data-layer/src/services/AttestationService/index.ts
  packages/data-layer/src/services/AttestationService/types.ts
  packages/data-layer/src/services/__tests__/AttestationService.test.ts
  packages/data-layer/src/services/__tests__/mocks.ts
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/components/ImageWithLoading.tsx
  packages/grant-explorer/src/features/common/components/Modal.tsx
  packages/grant-explorer/src/features/common/components/index.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryContainer.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/RoundDonations.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/hooks/useContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/hooks/useContributionsByDonor.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer, lint-data-layer

bump : squid widget
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
Due: prettier, lint-explorer

Update packages/builder/src/components/grants/rounds/LinkManager.tsx
  packages/builder/src/components/grants/rounds/LinkManager.tsx
Due: prettier, lint-builder

bump : squid widget (#3677)
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

remove unused coe
  packages/builder/src/components/grants/rounds/LinkManager.tsx
Due: prettier, lint-builder

add zero fee attestation
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer, lint-data-layer

free mint when totalAttestation < threshold
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer, lint-data-layer

seperated checkoutStore with attestation store
  packages/grant-explorer/src/attestationStore.ts
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer

getting round names for attestation frame for thank you page
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/getRoundsToFetchNames.ts
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

Gg22 thank you page improvs (#3679)
  packages/grant-explorer/src/attestationStore.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/getRoundsToFetchNames.ts
  packages/grant-explorer/src/features/contributors/utils/getContributionFrameProps.ts
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

allow minting below 20 attestation has no fee (#3678)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer, lint-data-layer

chore: implemented ViewTransactionButton
  packages/grant-explorer/src/features/contributors/components/Buttons/ViewTransactionButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/index.ts
Due: prettier, lint-explorer

chore: use ViewAttestationModal in MintingActionButtons
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
Due: prettier, lint-explorer

chore: added close icon
  packages/grant-explorer/src/assets/icons/close.svg
Due: none

chore: implemented ViewAttestationModal
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationBody.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationImage.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/index.ts
Due: prettier, lint-explorer

refactor: MindDonationButton renders RainbowBorderButton
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationButton.tsx
Due: prettier, lint-explorer

chore: added responsiveness to TransactionHeader
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
Due: prettier, lint-explorer

chore: refactored Modal
  packages/grant-explorer/src/features/common/components/Modal.tsx
Due: prettier, lint-explorer

chore: implemented RainbowBorderButton
  packages/grant-explorer/src/features/contributors/components/Buttons/RainbowBorderButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/index.ts
Due: prettier, lint-explorer

chore: added go to attestation transaction page functionality
  packages/grant-explorer/src/features/attestations/utils/generateTransactionUrl.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer

chore: view attestation modal design (#3681)
  packages/grant-explorer/src/assets/icons/close.svg
  packages/grant-explorer/src/features/attestations/utils/generateTransactionUrl.ts
  packages/grant-explorer/src/features/common/components/Modal.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/RainbowBorderButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/ViewTransactionButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/index.ts
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationBody.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationImage.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/index.ts
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
Due: prettier, lint-explorer

improved attestation frame made it more dynamic-minimal
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

make sure the frame projects images are fetched
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

improved attestation frame made it more dynamic-minimal (#3682)
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

Update Stats.tsx to point towards new gitcoindonordata domain
  packages/builder/src/components/grants/stats/Stats.tsx
Due: prettier, lint-builder

Update Stats.tsx to point towards new gitcoindonordata domain (#3684)
  packages/builder/src/components/grants/stats/Stats.tsx
Due: prettier, lint-builder

dynamic handling of fees and proxy attestations implementation
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/config.ts
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEASConfig.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/utils/createContractCallArgs.ts
Due: prettier, lint-explorer

dynamic handling of fees and proxy attestations implementation (#3687)
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/utils/constants.ts
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonationImpactAction.tsx
  packages/grant-explorer/src/features/contributors/hooks/useMintingAttestations.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/config.ts
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEASConfig.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/utils/createContractCallArgs.ts
Due: prettier, lint-explorer

adds twitter sharable urls
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/attestations/components/ActionButton.tsx
  packages/grant-explorer/src/features/attestations/components/MintingProcessContent.tsx
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/ViewTransactionButton.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/RoundDonations.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationBody.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

fix: update encoding and format for farcaster share URLs
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

massive build
  apps/explorer/components.json
  apps/explorer/package-lock.json
  apps/explorer/package.json
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/src/app/project/[projectId]/page.tsx
  apps/explorer/src/app/round/[chainId]/[roundId]/page.tsx
  apps/explorer/src/components/app/Providers.tsx
  apps/explorer/src/components/homepage/Hero.tsx
  apps/explorer/src/components/homepage/HomeNav.tsx
  apps/explorer/src/components/project/ProjectCard.tsx
  apps/explorer/src/components/project/ProjectDisplayGrid.tsx
  apps/explorer/src/components/project/ProjectHero.tsx
  apps/explorer/src/components/round/RoundDisplayGrid.tsx
  apps/explorer/src/domains/rounds/QueryFilters.tsx
  apps/explorer/src/domains/types.tsx
  apps/explorer/src/hooks/rounds/useRounds.tsx
  apps/explorer/src/services/GitcoinGraphql.tsx
  apps/explorer/src/utils/utils.tsx
  apps/explorer/tailwind.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier

iterating
  apps/explorer/package.json
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/components/homepage/HomeNav.tsx
  apps/explorer/src/components/project/ProjectCard.tsx
  apps/explorer/src/components/project/ProjectDisplayGrid.tsx
  apps/explorer/src/components/round/RoundCard.tsx
  apps/explorer/src/components/round/RoundDisplayGrid.tsx
  apps/explorer/src/components/ui/input.tsx
  apps/explorer/src/components/ui/label.tsx
  apps/explorer/src/components/ui/tabs.tsx
  apps/explorer/src/domains/rounds/QueryFilters.tsx
  apps/explorer/src/domains/types.tsx
  apps/explorer/src/hooks/projects/useProjects.tsx
  apps/explorer/src/services/GitcoinGraphql.tsx
  apps/explorer/tailwind.config.ts
Due: prettier

chore: make bridge button more prominent
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
Due: prettier, lint-explorer

- revese ui on thank you page mobile screen - add border to twitter button
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
