Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

update match
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

update balances after bridging
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

rm parseUnits
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

update icon
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
Due: prettier, lint-explorer

fix submit button
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

checkout
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

feat: add bridging widget to checkout (#3645)
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/discovery/RoundMatchAmountBadge.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/EmptyCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

chore: implemented ContributionHistoryError component
  packages/grant-explorer/src/features/contributors/components/ContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryContainer.tsx
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryError.tsx
  packages/grant-explorer/src/features/contributors/components/DonationHistoryTables.tsx
Due: prettier, lint-explorer

chore: implemented TransactionHeader component
  packages/grant-explorer/src/features/contributors/components/DonationsTable/DonationsTransactionTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/TransactionHeader.tsx
Due: prettier, lint-explorer

style: removed requires in tailwind config file
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

chore: added rainbow color to explorer theme
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

chore: last renames and reorganization
  packages/grant-explorer/src/features/contributors/components/ContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonations/DirectDonations.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonations/DirectDonationsHeader.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonations/DirectDonationsList.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonations/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonations/index.ts
  packages/grant-explorer/src/features/contributors/components/DonationsHistory.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/index.ts
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordion.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionContribution.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionPanel.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionTitle.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/DonationsTransactions.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/RoundDonations.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/RoundHeader.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/TransactionHeader.tsx
  packages/grant-explorer/src/features/contributors/components/RoundDonations/index.ts
Due: prettier, lint-explorer

chore: implemented MintingActionButton
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/index.ts
Due: prettier, lint-explorer

feat: implemented DonationsTable
  packages/grant-explorer/src/features/contributors/components/DonationsTable/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/DonationsTransactionTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/TableHeader.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/index.ts
Due: prettier, lint-explorer

feat: implemented RoundAccordion
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordion.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionHeader.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionTable.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionTableRow.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/index.ts
Due: prettier, lint-explorer

refactor: ViewContributionHistoryPage separate concerns
  packages/grant-explorer/src/features/api/round.ts
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistoryPage.tsx
  packages/grant-explorer/src/features/contributors/components/AvatarWithTitle.tsx
  packages/grant-explorer/src/features/contributors/components/ContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/components/ContributionHistoryContainer.tsx
  packages/grant-explorer/src/features/contributors/components/ContributorProfile.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationHistoryTables.tsx
  packages/grant-explorer/src/features/contributors/components/DonationImpactCards.tsx
  packages/grant-explorer/src/features/contributors/components/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/components/UnknownOrNoContributions.tsx
  packages/grant-explorer/src/features/contributors/hooks/useContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/index.ts
  packages/grant-explorer/src/features/contributors/types.ts
  packages/grant-explorer/src/features/contributors/utils/address.ts
  packages/grant-explorer/src/features/contributors/utils/calculateTotalContributions.ts
  packages/grant-explorer/src/features/contributors/utils/getCountributionRoundStatus.ts
  packages/grant-explorer/src/features/contributors/utils/time.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

chore: implemented Mint donation button
  packages/grant-explorer/src/features/contributors/components/Buttons/MintDonattionButton.tsx
Due: prettier, lint-explorer

test: comment ViewContributionHistoryPage test
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

style: donation history styling
  packages/grant-explorer/src/features/contributors/components/ContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/components/ContributorProfile.tsx
  packages/grant-explorer/src/features/contributors/components/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationHistoryTables.tsx
  packages/grant-explorer/src/features/contributors/components/DonationImpactCards.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/DonationsTransactionTable.tsx
  packages/grant-explorer/src/features/contributors/components/DonationsTable/TableHeader.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordion.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionHeader.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionTable.tsx
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionTableRow.tsx
Due: prettier, lint-explorer

chore: implemented ViewAttestationButton
  packages/grant-explorer/src/features/contributors/components/Buttons/ViewAttestationButton.tsx
Due: prettier, lint-explorer

style: fixed styling and added MintingActionButton
  packages/grant-explorer/src/features/contributors/components/DonationsTable/TransactionHeader.tsx
Due: prettier, lint-explorer

minor cleanup
  packages/grant-explorer/src/features/common/CopyToClipboardButton.tsx
  packages/grant-explorer/src/features/common/StatCard.tsx
  packages/grant-explorer/src/features/contributors/DirectDonationsTable.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/TransactionButton.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

remove test
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier, lint-explorer

ui-updates
  packages/grant-explorer/src/features/common/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/round/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

UI improvements + checkoutStore( attestation utils)
  packages/grant-explorer/src/assets/attestation-frame-logo.svg
  packages/grant-explorer/src/assets/gg22-logo.svg
  packages/grant-explorer/src/assets/preview_alt_1.svg
  packages/grant-explorer/src/assets/preview_alt_2.svg
  packages/grant-explorer/src/assets/preview_alt_3.svg
  packages/grant-explorer/src/assets/preview_alt_4.svg
  packages/grant-explorer/src/assets/preview_alt_5.svg
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/attestations/MintAttestationProgressModal.tsx
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/ShareButtons.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useAttestationStatus.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/useENS.ts
Due: prettier, lint-explorer

code cleaning + error handling
  packages/grant-explorer/src/assets/warning.svg
  packages/grant-explorer/src/features/round/MintProgressModalBody.tsx
  packages/grant-explorer/src/hooks/attestations/config.ts
  packages/grant-explorer/src/hooks/attestations/useAttestMutation.ts
  packages/grant-explorer/src/hooks/attestations/useAttestationStatus.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useEASConfig.ts
  packages/grant-explorer/src/hooks/attestations/useEstimateGas.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
  packages/grant-explorer/src/hooks/attestations/useSwitchChain.ts
  packages/grant-explorer/src/hooks/attestations/utils/createContractCallArgs.ts
  packages/grant-explorer/src/hooks/attestations/utils/handleTransactionError.ts
Due: prettier, lint-explorer

integrated production api with test data
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

UI updates
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

fix: eslint errors
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

chore: moved type files to type folder
  packages/data-layer/src/backends/categories.data.ts
  packages/data-layer/src/backends/categories.ts
  packages/data-layer/src/backends/collections.data.ts
  packages/data-layer/src/backends/collections.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/index.ts
  packages/data-layer/src/types/data-layer.types.ts
  packages/data-layer/src/types/data.types.ts
  packages/data-layer/src/types/roundApplication.types.ts
Due: prettier, lint-data-layer

refactor: splitted queries.ts into files in folder /queries/
  packages/data-layer/src/queries.ts
  packages/data-layer/src/queries/applications/getApplicationStatusByRoundIdAndCID.ts
  packages/data-layer/src/queries/applications/getApplicationsByProjectIds.ts
  packages/data-layer/src/queries/applications/getApplicationsByRoundIdAndProjectIds.ts
  packages/data-layer/src/queries/applications/getApplicationsForExplorer.ts
  packages/data-layer/src/queries/applications/getApplicationsForManager.ts
  packages/data-layer/src/queries/applications/getApprovedApplication.ts
  packages/data-layer/src/queries/applications/getApprovedApplicationsByProjectIds.ts
  packages/data-layer/src/queries/applications/index.ts
  packages/data-layer/src/queries/donations/getDirectDonationsByProjectId.ts
  packages/data-layer/src/queries/donations/getDonationsByDonorAddress.ts
  packages/data-layer/src/queries/donations/index.ts
  packages/data-layer/src/queries/getBlockNumberQuery.ts
  packages/data-layer/src/queries/getPayoutsByChainIdRoundIdProjectId.ts
  packages/data-layer/src/queries/index.ts
  packages/data-layer/src/queries/programs/getProgramById.ts
  packages/data-layer/src/queries/programs/getProgramsByUserAndTag.ts
  packages/data-layer/src/queries/programs/index.ts
  packages/data-layer/src/queries/projects/getLegacyProjectId.ts
  packages/data-layer/src/queries/projects/getPaginatedProjects.ts
  packages/data-layer/src/queries/projects/getProjectAnchorByIdAndChainId.ts
  packages/data-layer/src/queries/projects/getProjects.ts
  packages/data-layer/src/queries/projects/getProjectsAndRolesByAddress.ts
  packages/data-layer/src/queries/projects/getProjectsByAddress.ts
  packages/data-layer/src/queries/projects/getProjectsById.ts
  packages/data-layer/src/queries/projects/getProjectsBySearchTerm.ts
  packages/data-layer/src/queries/projects/index.ts
  packages/data-layer/src/queries/rounds/generateRoundManagerFieldsForQuery.ts
  packages/data-layer/src/queries/rounds/getRoundByIdAndChainId.ts
  packages/data-layer/src/queries/rounds/getRoundForExplorer.ts
  packages/data-layer/src/queries/rounds/getRoundForManager.ts
  packages/data-layer/src/queries/rounds/getRoundsForManager.ts
  packages/data-layer/src/queries/rounds/getRoundsForManagerByAddress.ts
  packages/data-layer/src/queries/rounds/getRoundsQuery.ts
  packages/data-layer/src/queries/rounds/index.ts
Due: prettier, lint-data-layer

fix: data-layer.types not imported correctly
  packages/data-layer/src/index.ts
  packages/data-layer/src/types/index.ts
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: data-layer: implemented AttestationService
  packages/data-layer/src/services/AttestationService.ts
  packages/data-layer/src/services/index.ts
  packages/data-layer/src/types/attestations.types.ts
Due: prettier, lint-data-layer

chore: data-layer - use AttestationService
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

docs: data-layer - added example usage of getMintingAttestationIdsByTransactionHash
  packages/data-layer/README.md
Due: none

chore: implemented test for AttestationService
  packages/data-layer/src/services/__tests__/AttestationService.test.ts
  packages/data-layer/src/services/__tests__/mocks.ts
Due: prettier, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
