Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

formary
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

fix missing application metadata error (#3657)
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-manager

fix
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/index.css
Due: prettier, lint-explorer

fix manager (hopefully)
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
Due: prettier, lint-manager

remove command
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
Due: prettier, lint-manager

update lock
  pnpm-lock.yaml
Due: none

typecheck
  packages/builder/tsconfig.tsbuildinfo
Due: none

update workflow
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  .github/workflows/verify-env.yml
Due: none

fix import
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

fix tests
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

update turbo, update chakra version
  package.json
  packages/builder/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

Revert "update turbo, update chakra version"
  package.json
  packages/builder/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

update chakra
  packages/builder/package.json
Due: none

update pnpm
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

update node
  package.json
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

expect error
  packages/builder/src/components/base/CustomerSupport.tsx
  packages/builder/tsconfig.tsbuildinfo
Due: prettier, lint-builder

update typescript
  packages/builder/package.json
  packages/builder/tsconfig.tsbuildinfo
  packages/common/package.json
  packages/data-layer/package.json
  packages/eslint-config-gitcoin/package.json
  packages/grant-explorer/package.json
  packages/verify-env/package.json
  pnpm-lock.yaml
Due: none

eslint updates
  packages/builder/.eslintrc.js
  packages/builder/package.json
  packages/builder/src/components/ErrorBoundary.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder

fix
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

fix-ci
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  .github/workflows/verify-env.yml
  package.json
  packages/builder/.eslintrc.js
  packages/builder/package.json
  packages/builder/src/components/ErrorBoundary.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/common/package.json
  packages/data-layer/package.json
  packages/eslint-config-gitcoin/package.json
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/verify-env/package.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

fix-ci (#3650)
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  .github/workflows/verify-env.yml
  package.json
  packages/builder/.eslintrc.js
  packages/builder/package.json
  packages/builder/src/components/ErrorBoundary.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/common/package.json
  packages/data-layer/package.json
  packages/eslint-config-gitcoin/package.json
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/__tests__/Navbar.test.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/verify-env/package.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

add back constructor
  packages/builder/src/components/ErrorBoundary.tsx
Due: prettier, lint-builder

lint
  packages/builder/src/components/ErrorBoundary.tsx
Due: prettier, lint-builder

add back ErrorBoundary constructor (#3668)
  packages/builder/src/components/ErrorBoundary.tsx
Due: prettier, lint-builder

poc
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

wip
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/discovery/RoundMatchAmountBadge.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/EmptyCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

brick
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

lock
  pnpm-lock.yaml
Due: none

rm log
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

floor
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

add login
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

log
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

remove comment
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

wrapping up
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SquidWidget.tsx
Due: prettier, lint-explorer

rm padding
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
Due: prettier, lint-explorer

fix padding
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
Due: prettier, lint-explorer

checkout not working
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer
