Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

chore: add edit QF
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier, lint-manager

fix
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
Due: prettier

edit metadata
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

wip timestamps
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

edit round
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix token issue
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

feat : wire in edit flow for QF on Allo v2 (#3098)
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/index.ts
  packages/round-manager/src/context/round/UpdateRoundContext.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/common/FormWizard.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/CreateRoundPage.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

update for direct v2
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

update for direct v2 (#3101)
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

Revert "update for direct v2 (#3101)"
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

Revert "update for direct v2 (#3101)" (#3102)
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

remove logs
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

remove logs
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix v1
  packages/builder/src/components/grants/Details.tsx
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

strategyname hotfix
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/Rounds.tsx
Due: prettier, lint-builder

smol fix
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

update fund contract
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

update stats
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager

fix DG dates
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

rm logs
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

fix(manager): compare verifiable credential's id and round owners with lowercase strings
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

resolve progress modal hickup
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

resolve progress modal hickup
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

remove log
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix(manager): compare verifiable credential's id and round owners with lowercase strings (#3105)
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

fund round for allo v1 and v2 in wrapper
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

use allo interface for funding contract
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/index.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fund contract works for native tokens
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager, lint-data-layer

fix copy
  packages/data-layer/src/data-layer.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager, lint-data-layer

fix wagmi import
  packages/common/src/allo/abis/erc20.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix test
  packages/common/src/allo/abis/erc20.ts
  packages/round-manager/src/context/round/__tests__/FundContractContext.test.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix :test
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-manager

add token approval to the steps
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

fetch round and applications from the Indexer instead of subgraph (#2988)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: quiery
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

Fund Contract for Allo V1 and V2 (#3111)
  packages/common/package.json
  packages/common/src/allo/abis/erc20.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/context/round/__tests__/FundContractContext.test.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-data-layer

fix round page in case an application doesn't have a project in db
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

support round edit for DG v2 (#3103)
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/hooks.ts
Due: prettier, lint-manager

fix round page in case an application doesn't have a project in db (#3115)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

resolve conflcits
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
