Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

wip
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/Show.tsx
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-builder, lint-data-layer

fix
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/reducers/projects.ts
Due: prettier, lint-builder

create DG round
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

create dg round
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

someone opened pandoras box
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Details.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/reducers/grantsMetadata.test.ts
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

fix: allo v2 creating
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

native token for DG
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

better error for transaction event not found
  packages/common/src/allo/transaction-sender.ts
Due: prettier

idk
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

fix payout token for native token
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

fix allo sdk
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/stores/createRoundStore.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

fix: graphcall
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/types/index.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fix
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

load round detail from indexer
  packages/data-layer/src/data-layer.ts
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

load ready to payout from indexer
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager, lint-data-layer

meh (#2969)
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Details.tsx
  packages/builder/src/components/grants/List.tsx
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/reducers/grantsMetadata.test.ts
  packages/builder/src/reducers/projects.ts
  packages/builder/src/types/index.ts
  packages/builder/src/utils/utils.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

Add support for scroll mainnet (#2862)
  packages/builder/.env.example
  packages/builder/.env.test
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/.env.test
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/scroll-logo.svg
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/.env.test
  packages/grant-explorer/public/logos/scroll-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/.env.test
  packages/round-manager/package.json
  packages/round-manager/public/logos/scroll-logo.svg
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/deployments.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

fix apps in progres badge
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

apply to v2 round
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

fix: filter out spam rounds
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

add check for redirect
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

update apply/redirect
  packages/builder/src/components/rounds/Apply.tsx
Due: prettier, lint-builder

refresh projects
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/grants/List.tsx
Due: prettier, lint-builder

load only version specific rounds
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
Due: prettier, lint-builder

wip
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

fix: filtering
  packages/common/src/index.ts
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
Due: prettier, lint-explorer

fix: types, tests
  packages/common/src/index.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: types, tests
  packages/builder/src/actions/projects.ts
  packages/common/src/index.ts
  packages/data-layer/src/backends/legacy.test.ts
Due: prettier, lint-builder, lint-data-layer

fix: types, tests
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
Due: prettier, lint-explorer

fix: sort by match amount usd, fix loading skeletons
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/RoundsGrid.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: sort by match amount usd, fix loading skeletons
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
Due: prettier, lint-explorer

fix date parsing
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

chore: move mrc voting to allo sdk
  packages/common/src/allo/abis/allo-v1/multiRoundCheckout.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/allo/voting.ts
  packages/common/src/types.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer, lint-data-layer

feat: fetch round data on round page from indexer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/context/RoundContext.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: allo wrapper backend null when wallet isn't connected
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix: allo wrapper backend null when wallet isn't connected, common export
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/NavbarCart.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenButton.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

fix: date issue
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: don't hide zuzalu round
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-explorer

fix date parsing (#2985)
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
