Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

feat: staking explorer integration (#3802)
  .env.example
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/Dropdown.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundStakingSummary.tsx
  packages/grant-explorer/src/features/projects/hooks/useSortApplications.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingCountDownLabel.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/utils.ts
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/SortDropdown.tsx
Due: prettier, lint-explorer

chore: added staking countdown functionality (#3800)
  .env.example
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/Dropdown.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundStakingSummary.tsx
  packages/grant-explorer/src/features/projects/hooks/useSortApplications.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBanner.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingCountDownLabel.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsDonationPeriod.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/hooks/useIsStakable.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/types.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/utils.ts
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/SortDropdown.tsx
Due: prettier, lint-explorer

fix bug cart
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

chore:small ui fix
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

chore:small ui fix (#3805)
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

fix bug cart (#3804)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fix direct grants payout table
  packages/data-layer/src/data-layer.ts
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager, lint-data-layer

fix direct grants payout table (#3807)
  packages/data-layer/src/data-layer.ts
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager, lint-data-layer

added error message
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

undo linter breaking change
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

better error handling
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

added gh verification error message (#3808)
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

chore: remove limit
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: manager applications query with pagination
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: manager applications query with pagination (#3810)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

chore: issue on apply
  packages/builder/src/components/application/Form.tsx
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-builder, lint-explorer, lint-data-layer

chore: issue on apply (#3811)
  packages/builder/src/components/application/Form.tsx
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-builder, lint-explorer, lint-data-layer

set amount to fixed decimals
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
Due: prettier, lint-explorer

Fix decimals staked (#3813)
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
Due: prettier, lint-explorer

chore: set default to true
  .env.example
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
Due: prettier, lint-explorer

chore: set default to true (#3814)
  .env.example
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
Due: prettier, lint-explorer

donate to gitcoin fix
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
Due: prettier, lint-explorer

donate to gitcoin fix (#3815)
  packages/grant-explorer/src/features/round/DonateToGitcoinContext.tsx
Due: prettier, lint-explorer

feat: new hook to get total stakes for a round application
  packages/grant-explorer/src/features/round/ViewProjectDetails/hooks/useGetApplicationStakes.ts
Due: prettier, lint-explorer

chore: integrate hook to display staked amount in application view page
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
Due: prettier, lint-explorer

chore(explorer): add newrelic-browser agent
  packages/grant-explorer/public/index.html
Due: none

chore(explorer): add newrelic-browser agent (#3817)
  packages/grant-explorer/public/index.html
Due: none

fix donate to gitcoin
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix donate to gitcoin (#3818)
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

feat: add staked amount in view project details page (#3816)
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/hooks/useGetApplicationStakes.ts
Due: prettier, lint-explorer

fix: prose-pre style to fix width
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Detail.tsx
Due: prettier, lint-explorer

fix: prose-pre style to fix width (#3819)
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/Detail.tsx
Due: prettier, lint-explorer

fix: broken search page on explorer
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
Due: prettier, lint-explorer

feat: project activities
  .env.example
  packages/grant-explorer/src/features/api/gap.ts
  packages/grant-explorer/src/features/round/KarmaGrant/ActivityItem.tsx
  packages/grant-explorer/src/features/round/KarmaGrant/ActivityList.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/ViewProjectDetails.tsx
Due: prettier, lint-explorer

feat: adds learn more btn in the staking banner
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
Due: prettier, lint-explorer

chore: staking-btn minor improvements
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
Due: prettier, lint-explorer

Feat/add learn more about staking btn (#3821)
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingBannerAndModal.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails/components/StakingBannerAndModal/StakingButton.tsx
Due: prettier, lint-explorer

fix: donations query pagination
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: donations query pagination (#3823)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
