Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix csv download (#3767)
  .env.example
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/craco.config.js
  packages/grant-explorer/package.json
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/sentry.ts
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/index.tsx
  packages/round-manager/src/sentry.ts
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

update chian data
  packages/common/package.json
Due: none

update chain data
  pnpm-lock.yaml
Due: none

update chain data (#3769)
  packages/common/package.json
  pnpm-lock.yaml
Due: none

tweaked verbiage
  packages/builder/src/components/base/InputLabel.tsx
Due: prettier, lint-builder

hidden to unlisted
  packages/builder/src/components/base/InputLabel.tsx
Due: prettier, lint-builder

Acknowledge "Hidden" application fields are still public (#3770)
  packages/builder/src/components/base/InputLabel.tsx
Due: prettier, lint-builder

update credentials api to refactor
  packages/builder/src/components/providers/Github.tsx
  packages/builder/src/components/providers/Twitter.tsx
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

fix for linter
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

Fix twitter verification (#3771)
  packages/builder/src/components/providers/Github.tsx
  packages/builder/src/components/providers/Twitter.tsx
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

fix: twitter verification
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

fix: lint issue
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

fix: lint issue in tests
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
Due: prettier, lint-builder

fix: twitter verification (#3772)
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

feat: indexer v2 query migrations
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

Update data-layer.test.ts
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

Update RoundImplementation.json
  packages/builder/src/contracts/abis/RoundImplementation.json
Due: none

og playground
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/src/ogImageGenerator.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

update scorer requests
  .env.example
  packages/common/src/index.ts
  packages/grant-explorer/README.md
Due: prettier

feat: indexer v2 query migrations (#3773)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

rename REACT_APP_INDEXER_V2_API_URL -> REACT_APP_INDEXER_V1_API_URL and set REACT_APP_INDEXER_V2_API_URL to new indexer
  .env.example
  docs/DEV.md
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
Due: prettier, lint-manager, lint-explorer

update query
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager, lint-data-layer

update scorer requests (#3776)
  .env.example
  packages/common/src/index.ts
  packages/grant-explorer/README.md
Due: prettier

add good dollar and price handling
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

add good dollar and price handling
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier, lint-explorer

add missing updates
  .env.example
  pnpm-lock.yaml
Due: none

skip test
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
Due: prettier, lint-builder

add good dollar and price handling using coingecko (#3779)
  .env.example
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

donate gitcoin
  packages/grant-explorer/src/features/round/DonateToGitcoinDialog.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
Due: prettier, lint-explorer

cleanup
  packages/grant-explorer/src/features/round/DonateToGitcoinDialog.tsx
Due: prettier, lint-explorer

add prices and improved chain and token handling
  packages/grant-explorer/src/features/round/DonateToGitcoinDialog.tsx
Due: prettier, lint-explorer

add Gitcoin Runner
  packages/grant-explorer/src/components/GitcoinRunner.tsx
  packages/grant-explorer/src/features/round/DonateToGitcoinDialog.tsx
Due: prettier, lint-explorer

fix games
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/src/components/GitcoinRunner.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

improve gitcoin runner
  packages/grant-explorer/src/components/GitcoinRunner.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
Due: prettier, lint-explorer

fix: retrofunding application dates on builder
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

fix: retrofunding application dates on builder (#3781)
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

specify non-default signature scheme
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
