Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-ge, lint-rm, lint-builder, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-ge:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-rm:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: turbo run typecheck
    build:
      run: turbo run build
    test:
      run: turbo run test --concurrency=50%

remove default value from controller component and fix svg attribute names (#2696)
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ProjectInCart.tsx
Due: prettier, lint-builder

chore: make config item optional
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

chore: remove invalid ACS round from explorer
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

chore: remove invalid ACS round from explorer (#2725)
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

feat: add zksync mainnet & testnet support
  packages/builder/.env.example
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
  packages/common/src/icons/zksync.svg
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/public/logos/zksync-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-ge, lint-rm, lint-builder

fix: build issues
  packages/common/src/index.ts
Due: prettier

chore: move get rounds query to data layer
  packages/data-layer/.eslintrc.json
  packages/data-layer/package.json
  packages/data-layer/src/backends/legacy.test.ts
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ActiveRoundSection.tsx
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundsFilter.tsx
  packages/grant-explorer/src/features/discovery/RoundsGrid.tsx
  packages/grant-explorer/src/features/discovery/SortDropdown.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/features/discovery/utils/getExplorerPageTitle.ts
  packages/grant-explorer/src/features/discovery/utils/getFilterLabel.ts
  packages/grant-explorer/src/features/discovery/utils/getSortLabel.ts
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

chore: move passport verification to the data layer
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

fix: build issues
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-rm

chore: tidy up test
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
Due: prettier, lint-builder

chore: remove positional arguments
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-builder

lint
  packages/grant-explorer/src/features/api/rounds.ts
Due: prettier, lint-builder

feat: allow partial donation with insufficient funds on one chain
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

fix: lints
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

wip: test era-testnet
  packages/builder/src/contracts/deployments.ts
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-ge, lint-rm

fix: handle empty string for round filter
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
Due: prettier, lint-builder

wip: mainnet contract
  packages/builder/src/contracts/deployments.ts
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-ge, lint-rm

wip: mainnet contract
  packages/round-manager/src/features/api/contracts.ts
Due: prettier, lint-rm

feat: add support for base chain
  packages/builder/.env.example
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-ge, lint-rm, lint-builder

chore: update lock file
  pnpm-lock.yaml
Due: none

feat: don't display and check out chains with insufficient funds
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

feat: don't display and check out chains with insufficient funds“
  package.json
  pnpm-lock.yaml
Due: none

chore: update env test
  packages/builder/.env.test
  packages/common/.env.test
  packages/grant-explorer/.env.test
  packages/round-manager/.env.test
Due: none

fix: issues
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-builder

fix: tests
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
Due: prettier, lint-builder

chore: todos
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-builder

Insufficient funds handling (#2662)
  package.json
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder

feat: add usdt and other tokens
  packages/builder/.env.example
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/grant-explorer/public/logos/lusd-logo.svg
  packages/grant-explorer/public/logos/mute-logo.svg
  packages/grant-explorer/public/logos/usdt-logo.svg
  packages/grant-explorer/public/logos/zkSync.svg
  packages/grant-explorer/public/logos/zksync-logo.svg
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.env.example
  packages/round-manager/public/logos/lusd-logo.svg
  packages/round-manager/public/logos/mute-logo.svg
  packages/round-manager/public/logos/usdt-logo.svg
  packages/round-manager/public/logos/zksync-logo.svg
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-ge, lint-rm, lint-builder

fix: build issues
  packages/builder/src/utils/wallet.ts
  packages/common/src/chains.ts
  packages/common/src/icons/zksync-logo.svg
  packages/grant-explorer/public/logos/zksync-logo.svg
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-ge, lint-builder

chore: fix builder
  packages/builder/src/utils/chains.ts
Due: prettier, lint-ge

chore: update ChainId
  packages/common/src/chain-ids.ts
Due: prettier

chore: update .env.test
  packages/builder/.env.test
  packages/common/.env.test
  packages/common/src/config.ts
  packages/grant-explorer/.env.test
  packages/round-manager/.env.test
Due: prettier

fix: build issues
  packages/common/src/config.ts
Due: prettier

fix: build issues
  packages/common/.env.test
Due: none

chore: fix issues
  packages/builder/.env.test
  packages/grant-explorer/.env.test
  packages/round-manager/.env.test
Due: none

fix: failing test
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
Due: prettier, lint-builder

feat: add base logo
  packages/common/src/chains.ts
  packages/common/src/icons/base-logo.svg
  packages/grant-explorer/public/logos/base-logo.svg
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/public/logos/base-logo.svg
  packages/round-manager/src/features/api/utils.ts
Due: prettier, lint-rm, lint-builder
