Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

Fetch Round Detail from Indexer (#2935)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/context/round/RoundContext.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager, lint-data-layer

chore: address engg feedback
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix: other issues
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

fix: lint issues
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
Due: prettier, lint-explorer

feeback fixes
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

temporary fix to filter out programs not owned by the current user
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

temporary fix to filter out programs not owned by the current user (#3032)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

add roles filter to getProgramByUserAndTag query
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

update test/type
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

duplicate queries to load program and programs
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

rename program query
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/program.ts
Due: prettier, lint-manager, lint-data-layer

fix test
  packages/round-manager/src/features/api/__tests__/program.test.ts
Due: prettier, lint-manager

update tests/types
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-builder, lint-data-layer

Fix Get Programs Query (#3033)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/api/program.ts
Due: prettier, lint-manager, lint-data-layer

fix builder
  packages/builder/src/actions/roundApplication.ts
Due: prettier, lint-builder

delete unsed import
  packages/round-manager/src/setupTests.ts
Due: prettier, lint-manager

UI for creating a project
  packages/round-manager/src/context/program/CreateProgramContext.tsx
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

create program hook integration test
  packages/common/src/index.ts
  packages/round-manager/src/context/program/__tests__/CreateProgramContext.test.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/useCreateProgram.tsx
  packages/round-manager/src/setupTests.ts
Due: prettier, lint-manager

initial work create program in allo interface
  packages/common/src/allo/abis/allo-v1/ProgramFactory.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/operation.ts
  packages/round-manager/src/context/program/CreateProgramContext.tsx
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager

fix builder
  packages/builder/src/actions/newGrant.ts
Due: prettier, lint-builder

fix duplicate operators
  packages/common/src/allo/backends/allo-v1.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager

fix: address pr feedback
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

Fetch landing page and explore rounds from indexer (#2916)
  .gitignore
  package.json
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/data-layer/src/backends/legacy.test.ts
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/api/__tests__/round.test.tsx
  packages/grant-explorer/src/features/api/contracts.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/grant-explorer/src/features/discovery/ActiveRoundSection.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundDaysDetails.tsx
  packages/grant-explorer/src/features/discovery/RoundStrategyBadge.tsx
  packages/grant-explorer/src/features/discovery/RoundsGrid.tsx
  packages/grant-explorer/src/features/discovery/SortDropdown.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getExplorerPageTitle.test.tsx
  packages/grant-explorer/src/features/discovery/utils/__tests__/getFilterLabel.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundLoadingData.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/features/discovery/utils/getSortLabel.ts
  packages/grant-explorer/src/test-utils.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

fix create program on v2 allo operation
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/operation.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
Due: prettier, lint-manager, lint-data-layer

remove uneeded query
  packages/builder/src/actions/rounds.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

remove func
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

bump allo sdk
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

fix: increase the timeout
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix: delete leftover file
  packages/grant-explorer/src/features/api/contracts.ts
Due: prettier, lint-explorer

fix: lints
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

work on apply to direct/tests
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: stale public client
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
  packages/grant-explorer/src/checkoutStore.ts
Due: prettier, lint-explorer

fix: stale public client
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

add roundCategory
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

reuse type
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

bug fix
  packages/builder/src/components/grants/stats/Stats.tsx
Due: prettier, lint-builder

fix tests
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

remove unused variable
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/data-layer/src/data.types.ts
Due: prettier, lint-builder, lint-data-layer

fix
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

fix
  packages/builder/src/components/grants/ApplicationCard.tsx
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
