Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

add missing chain
  packages/grant-explorer/src/features/api/utils.ts
Due: prettier, lint-explorer

update addresses
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

smol update/deps
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/voting.ts
Due: prettier, lint-explorer

Add SEI (#3470)
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/builder/src/utils/wallet.ts
  packages/common/package.json
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/contracts.ts
  packages/round-manager/src/features/api/utils.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

feat: add project page in explorer
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/hooks/useProject.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

update explorer types
  packages/grant-explorer/src/cartStore.test.tsx
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/discovery/RoundMatchAmountBadge.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/CartWithProjects.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Summary.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

manager type updates
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
Due: prettier, lint-manager

update wagmi file
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager

clean up/update explorer chains
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/round-manager/src/app/wagmi.ts
Due: prettier, lint-manager, lint-explorer

some builder fixes
  packages/builder/src/utils/chains.ts
Due: prettier, lint-builder

update docs to match unified env
  docs/DEV.md
Due: none

common updates/
  packages/builder/src/index.tsx
  packages/builder/src/utils/wallet.ts
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/config.ts
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/api/subgraph.ts
  packages/grant-explorer/src/index.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

more env guidance
  docs/DEV.md
Due: none

minor styling fixes
  docs/DEV.md
Due: none

rm round filter
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

rm round filter (#3473)
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/api/round.ts
Due: prettier, lint-manager

update docs to match unified env (#3472)
  docs/DEV.md
Due: none

test: add viewProject tests
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

fix: tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: updated at
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix: edited match amount post round end
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix: edited match amount post round end (#3475)
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

feat: add rounds tab in project page
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add stats tab
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix SEI Mainnet name
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

fix SEI Mainnet name (#3480)
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/program/CreateProgramPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

url blobs
  packages/common/package.json
  packages/round-manager/src/app/wagmi.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

builder and manager working
  packages/builder/src/components/application/AboutProject.tsx
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/contracts/deployments.ts
  packages/builder/src/utils/chains.ts
  packages/common/src/chains.ts
  packages/common/src/index.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-builder, lint-manager

cleanup
  packages/builder/src/components/application/AboutProject.tsx
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/Card.tsx
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/utils/wallet.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

bump version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

rebase
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

updates
  packages/builder/src/utils/chains.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer

bump package version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

f
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/store.ts
Due: prettier, lint-explorer

updated explorer
  packages/grant-explorer/src/app/wagmi.ts
Due: prettier, lint-explorer

fix tests
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/context/__tests__/RoundContext.test.tsx
  packages/grant-explorer/src/features/api/__tests__/voting.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/__tests__/useFilterRounds.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

builder tests
  packages/builder/src/__tests__/components/grants/Stats.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/components/grants/Edit.tsx
  packages/builder/src/setupTests.ts
  packages/builder/src/utils/test_utils.tsx
  packages/common/src/allo/addresses/allo-v1.ts
  packages/grant-explorer/src/setupTests.ts
  packages/round-manager/src/setupTests.ts
Due: prettier, lint-builder, lint-manager, lint-explorer

f
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none
