Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix: lit decryption issue in manager on zksync. (#2821)
  packages/builder/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

profile creation v2
  packages/common/package.json
  packages/common/src/allo/abis/allo-v2/Registry.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/transaction-sender.ts
Due: prettier

wip
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

wip
  packages/builder/src/index.tsx
  packages/common/src/index.ts
Due: prettier, lint-builder

lint builder
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/index.tsx
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/react.tsx
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
Due: prettier, lint-builder

add updateProfileMetadata
  packages/builder/src/actions/newGrant.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

rm unused
  packages/builder/src/actions/newGrant.ts
Due: prettier, lint-builder

things
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix compile errors
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix: builder startup
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

f
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/base/Preview.tsx
Due: prettier, lint-builder

fix
  packages/builder/src/components/AlloWrapper.tsx
Due: prettier, lint-builder

create profile
  packages/builder/src/components/AlloWrapper.tsx
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier, lint-builder

profile creation
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/components/base/Preview.tsx
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/ipfs.ts
Due: prettier, lint-builder

updated test
  packages/common/src/allo/backends/allo-v2.test.ts
Due: prettier

updated lock
  pnpm-lock.yaml
Due: none

fixed chainId error
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

fix test
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

things
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix: esbuild error
  packages/round-manager/craco.config.js
Due: prettier, lint-manager

common to output commonjs
  packages/common/package.json
  packages/common/tsconfig.json
Due: none

remove unused packages
  packages/common/package.json
  pnpm-lock.yaml
Due: none

upgrade manager ts to 5
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

fix common deps
  packages/common/package.json
  pnpm-lock.yaml
Due: none

address feedback
  packages/builder/package.json
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/ipfs.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

update
  pnpm-lock.yaml
Due: none

use corrct ipfs gateway
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

fix: ipfs gateway
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

use correct ipfs gateway for datalayer (#2823)
  packages/data-layer/src/backends/legacy.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer, lint-data-layer

feat: add allo contract abi
  packages/common/src/allo/abis/allo-v2/Allo.ts
Due: prettier

feat: add createRound to allo interface
  packages/common/src/allo/allo.ts
Due: prettier

feat: update allo-v1 and allo-v2 backend
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

Add Allo V2 SDK and Implement Project Creation with Common Interface (#2806)
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/List.test.tsx
  packages/builder/src/__tests__/components/rounds/Show.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/index.tsx
  packages/common/package.json
  packages/common/src/allo/abis/allo-v2/Registry.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/ipfs.ts
  packages/common/src/allo/react.tsx
  packages/common/src/allo/transaction-sender.ts
  packages/common/src/index.ts
  packages/common/tsconfig.json
  packages/round-manager/craco.config.js
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager

add round manager types to common
  packages/common/src/types.ts
Due: prettier

update createRound
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

wip: migrate round creation in allo v1
  packages/common/src/allo/addresses/allo-v1.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/common.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

wip: migrate round creation in allo v1
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/payoutTokens.ts
Due: prettier

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
