Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

wip-explorer/common
  packages/common/src/allo/allo.ts
  packages/common/src/allo/transaction-sender.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/app/chainConfig.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/AlloWrapper.tsx
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/grant-explorer/src/features/common/Auth.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/RoundMatchAmountBadge.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/global.ts
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

DG: Add payout token list (#3436)
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationDirectPayout.test.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-manager

improve builder default envs (#3444)
  packages/builder/.env.example
Due: none

lint fix
  packages/grant-explorer/src/features/api/__tests__/utils.test.tsx
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/test-utils.tsx
  packages/round-manager/src/features/api/__tests__/utils.test.ts
Due: prettier, lint-manager, lint-explorer

address feedback
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer

fix
  packages/grant-explorer/src/test-utils.tsx
Due: prettier, lint-explorer

Clean payout token (#3448)
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/src/features/api/payoutTokens.ts
Due: prettier, lint-manager, lint-explorer

work on adding chain data to common/manager/failing test still
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/chains.test.ts
  packages/common/src/payoutTokens.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

bump package
  packages/common/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

more updates/tweaks
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/checkoutStore.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

add funding.json
  funding.json
Due: none

add funding.json (#3457)
  funding.json
Due: none

updates based on npm updates
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/payoutTokens.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

feat: update copy in manage team depending on user role
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-manager

wire in contract calls
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

wip
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

update allo functions, add context
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/UpdateRolesContext.tsx
Due: prettier, lint-manager

working transactions but buggy modal
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/UpdateRolesContext.tsx
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/index.tsx
Due: prettier, lint-manager

add error handling
  packages/round-manager/src/context/round/UpdateRolesContext.tsx
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

cleanup
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

fix
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

fic
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

lint fix
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

fix
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

Apply suggestions from code review
  packages/round-manager/src/features/round/ViewManageTeam.tsx
Due: prettier, lint-manager

- deploy strategy contract for era using factory - update sdk version
  packages/common/package.json
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

update MRC contract
  packages/common/src/allo/addresses/mrc.ts
Due: prettier

enable rounds on era on v2 (#3455)
  packages/common/package.json
  packages/common/src/allo/addresses/mrc.ts
  packages/common/src/allo/backends/allo-v2.ts
  pnpm-lock.yaml
Due: prettier

fix: erc20 fund contract safe approval bug
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/round/FundContract.tsx
Due: prettier, lint-manager

new funding.json
  funding.json
Due: none

update rainbowkit patch version to be able to override logos of existing chains
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

new funding.json (#3462)
  funding.json
Due: none

update payout tokens
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/voting.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/checkoutStore.ts
  packages/grant-explorer/src/features/api/voting.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

token updates
  packages/round-manager/package.json
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/context/round/FundContractContext.tsx
  packages/round-manager/src/features/api/application.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/FundContract.tsx
  packages/round-manager/src/features/round/QuadraticFundingForm.tsx
  packages/round-manager/src/features/round/ReclaimFunds.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewFundGrantees.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
Due: prettier, lint-manager

reinstall deps with the same pnpm version used before
  pnpm-lock.yaml
Due: none

fix lukso icon background
  packages/common/src/chains.ts
Due: prettier

Lukso network capitalized case
  packages/common/src/chains.ts
Due: prettier
