Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-ge, prettier-rm, prettier-b, lint:ci-ge, lint:ci-rm, lint:ci-b

prettier-ge:
  run: pnpm --filter "grant-explorer" prettier --write {staged_files}
  stage_fixed: true

prettier-rm:
  run: pnpm --filter "round-manager" prettier --write {staged_files}
  stage_fixed: true

prettier-b:
  run: pnpm --filter "builder" prettier --write {staged_files}
  stage_fixed: true

lint:ci-ge:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint:ci-rm:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint:ci-b:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

chore: lint all packages
  .prettierignore
  lefthook.yml
  package.json
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/.prettierignore
  packages/round-manager/package.json
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/tsconfig.json
  pnpm-lock.yaml
Due: prettier-rm, lint:ci-rm

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: verify-env tests
  packages/verify-env/src/index.test.ts
Due: none

chore: enable caching of eslint in hooks
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

fix: dont fix lint errors in ci, only report
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

chore: rebase
  pnpm-lock.yaml
Due: none

fix: re-add prettier to make eslint work in builder
  packages/builder/package.json
  pnpm-lock.yaml
Due: none

feat(common): update closeDelay in MatchingEstimateTooltip component (1931-spike-matching-estimates-for-donations)
  packages/grant-explorer/src/features/common/MatchingEstimateTooltip.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

enh: run code checks in pre-commit and pre-push hooks (#2314)
  .prettierignore
  lefthook.yml
  package.json
  packages/builder/package.json
  packages/eslint-config-gitcoin/index.js
  packages/eslint-config-gitcoin/package.json
  packages/grant-explorer/package.json
  packages/round-manager/.prettierignore
  packages/round-manager/package.json
  packages/round-manager/src/features/round/RoundDetailForm.tsx
  packages/round-manager/src/features/round/ViewRoundStats.tsx
  packages/round-manager/tsconfig.json
  packages/verify-env/src/index.test.ts
  pnpm-lock.yaml
Due: prettier-rm, lint:ci-rm

chore: add common and verify-env tests to CI, address feedback from PR
  .github/workflows/common.yml
  .github/workflows/verify-env.yml
  package.json
  packages/common/package.json
  packages/common/src/chains.test.ts
  packages/common/src/chains.ts
  packages/grant-explorer/src/features/api/types.ts
  packages/grant-explorer/src/features/common/MatchingEstimateTooltip.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/verify-env/src/index.test.ts
  pnpm-lock.yaml
Due: prettier-ge, prettier-b, lint:ci-ge

fix: dg applications received issue
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
Due: prettier-rm, lint:ci-rm

fix: dg applications received issue (#2432)
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
Due: prettier-rm, lint:ci-rm

add power pool logo
  packages/round-manager/public/logos/power-pool.png
Due: none

add the PowerPool token (CVP) in the payout tokens
  packages/common/src/index.ts
  packages/round-manager/src/features/api/utils.ts
Due: prettier-rm, lint:ci-rm

make direct grant question "payout token" editable
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier-rm, lint:ci-rm

fix: test
  packages/grant-explorer/src/features/contributors/__tests__/ViewContributionHistory.test.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

feat: enable single option in a dropdown
  packages/round-manager/src/features/common/AddQuestionModal.tsx
Due: prettier-rm, lint:ci-rm

chore: drop a todoˆ
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier-ge, prettier-b, lint:ci-ge

chore: add PR checklist to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: don't show matching funds in dg pre round
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

feat: enable custom payout in dg
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier-rm, lint:ci-rm

[DO NOT MERGE]: static matching results from custom URL
  packages/round-manager/src/hooks.ts
Due: prettier-rm, lint:ci-rm

feat(pr-template): address pr feedback
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: update contributing docs
  CONTRIBUTING.md
  README.md
  docs/DEV.md
  docs/KB.md
  packages/grant-explorer/docs/DEV.md
  packages/round-manager/README.md
  packages/round-manager/docs/DEV.md
Due: none

docs: better wordingˆ
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: update .env.examples
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/round-manager/.env.example
Due: none

docs: update readmes
  README.md
  packages/builder/README.md
  packages/round-manager/README.md
Due: none

chore: add PR checklist to pr template (#2434)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: remove gas limit
  packages/round-manager/src/context/application/usePayout.ts
Due: prettier-rm, lint:ci-rm

add the PowerPool token (CVP) in the payout tokens (#2424)
  packages/common/src/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/public/logos/power-pool.png
  packages/round-manager/src/context/application/usePayout.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/common/AddQuestionModal.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
Due: prettier-ge, prettier-rm, prettier-b, lint:ci-ge, lint:ci-rm

docs: update passport guidance
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/round-manager/.env.example
Due: none

fix(VerificationForm): Remove +
  packages/builder/src/components/base/VerificationForm.tsx
Due: lint:ci-b

docs: update .env.examples (#2443)
  packages/builder/.env.example
  packages/grant-explorer/.env.example
  packages/round-manager/.env.example
Due: none

fix: incorrect token name bug in donations page
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

fix: other token name issues
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

fix: token name issues
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

feat: update frontend matching estimates
  .prettierrc.json
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
Due: prettier-ge, prettier-b, lint:ci-ge

fix: don't pass undefined as voter in matching estimates, pass zeroAddy insteadˆ
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

fix: lint
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

fix incorrect token name on Donation History page (#2447)
  packages/grant-explorer/src/features/contributors/DonationsTable.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier-ge, prettier-b, lint:ci-ge

Path conditions:
  prettier-ge: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  prettier-rm: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  prettier-b: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint:ci-ge: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint:ci-rm: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint:ci-b: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
