Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

add whitelist
  packages/common/src/index.ts
  packages/common/src/programWhitelist.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/round-manager/src/features/program/TabGroup.tsx
Due: prettier, lint-manager, lint-explorer, lint-data-layer

implement different statuses
  packages/common/src/programWhitelist.ts
  packages/round-manager/src/assets/explorer-black.svg
  packages/round-manager/src/features/program/TabGroup.tsx
Due: prettier, lint-manager

fix test
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
Due: prettier, lint-explorer

fix icon color
  packages/round-manager/src/assets/explorer-black.svg
Due: none

chore: trigger deployment
  trigger
Due: none

chore: apply fix version dependency allo sdk
  packages/common/package.json
Due: none

recreat lock
  pnpm-lock.yaml
Due: none

few updates
  package.json
  packages/grant-explorer/package.json
  pnpm-lock.yaml
Due: none

update package
  package.json
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

updates
  packages/builder/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
  pnpm-lock.yaml
Due: none

updates
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

npm=>yarn
  package.json
  packages/round-manager/package.json
Due: none

npm=>yarn
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
Due: none

updated package
  package.json
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

use pnpm
  package.json
  packages/builder/package.json
  packages/data-layer/package.json
  packages/grant-explorer/package.json
  packages/round-manager/package.json
Due: none

Update DefaultLayout.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

better handling of unapproved projects
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

better handling of unapproved projects (#3731)
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

better handling of unapproved grants
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

[BUGFIX] DefaultGradient bug (#3728)
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
Due: prettier, lint-explorer

fix: make manager safe app compatible
  packages/round-manager/package.json
  packages/round-manager/public/manager-logo.svg
  packages/round-manager/public/manifest.json
  packages/round-manager/setUpProxy.js
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/features/api/SafeAutoConnect.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

add whitelist
  packages/common/src/index.ts
  packages/common/src/programWhitelist.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/round-manager/src/assets/explorer-black.svg
  packages/round-manager/src/features/program/TabGroup.tsx
Due: prettier, lint-manager, lint-explorer, lint-data-layer

adds missing dependency to tests
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/common/__tests__/ErrorModal.test.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager

add whitelist (#3725)
  packages/common/src/index.ts
  packages/common/src/programWhitelist.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/features/api/rounds.ts
  packages/grant-explorer/src/features/discovery/ExploreRoundsPage.tsx
  packages/grant-explorer/src/features/discovery/FilterDropdown.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/round-manager/src/assets/explorer-black.svg
  packages/round-manager/src/features/program/TabGroup.tsx
Due: prettier, lint-manager, lint-explorer, lint-data-layer

add missing deps for tests
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
Due: prettier, lint-manager

fix: make manager safe app compatible (#3737)
  packages/round-manager/package.json
  packages/round-manager/public/manager-logo.svg
  packages/round-manager/public/manifest.json
  packages/round-manager/setUpProxy.js
  packages/round-manager/src/app/wagmi.ts
  packages/round-manager/src/context/program/__tests__/ReadProgramContext.test.tsx
  packages/round-manager/src/context/round/__tests__/ReclaimFundsContext.test.tsx
  packages/round-manager/src/context/round/__tests__/RoundContext.test.tsx
  packages/round-manager/src/context/round/__tests__/UpdateRoundContext.test.tsx
  packages/round-manager/src/features/api/SafeAutoConnect.tsx
  packages/round-manager/src/features/api/__tests__/round.test.ts
  packages/round-manager/src/features/common/__tests__/ErrorModal.test.tsx
  packages/round-manager/src/features/program/__tests__/CreateProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ListProgramPage.test.tsx
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/CreateRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/QuadraticFundingForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/features/round/__tests__/RoundDetailForm.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewFundGrantees.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

Update TOKENS.md
  docs/TOKENS.md
Due: none

Update README.md
  packages/round-manager/README.md
Due: none

Grammar and Style Improvements (#3739)
  docs/TOKENS.md
  packages/round-manager/README.md
Due: none

fix: par-799
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: tests
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

remove lit from manager
  packages/common/src/index.ts
Due: prettier

fix: par-799 (#3745)
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer, lint-data-layer

add in review Applicaitons Button
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/src/features/round/GrantApplications.tsx
Due: prettier, lint-manager

fix route
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/round-manager/src/features/round/GrantApplications.tsx
Due: prettier, lint-builder, lint-manager

wire in view application
  packages/builder/src/components/grants/ApplicationCard.tsx
Due: prettier, lint-builder

enable sync with checker on pool creation and apply
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

show only checker
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/index.tsx
  packages/builder/src/routes.tsx
Due: prettier, lint-builder

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
