Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

lefthook.yml:

pre-commit:
  skip:
    - merge
    - rebase
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm format {staged_files}
      stage_fixed: true

    lint-builder:
      root: "packages/builder"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "builder" lint:local {staged_files}
      stage_fixed: true

    lint-manager:
      root: "packages/round-manager"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "round-manager" lint:local {staged_files}
      stage_fixed: true

    lint-explorer:
      root: "packages/grant-explorer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "grant-explorer" lint:local {staged_files}
      stage_fixed: true

    lint-data-layer:
      root: "packages/data-layer"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: pnpm --filter "data-layer" lint {staged_files}
      stage_fixed: true


pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm turbo run typecheck
    build:
      run: pnpm turbo run build
    test:
      run: pnpm turbo run test --concurrency=50%

swap out fo sdk
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

test: update tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: handle error states
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

update poolId (new contract deployed
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

wip
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: fetch txData from sdk
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
Due: prettier

fix: other issues
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: erc20 donation issue
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: add getDirectAllocationPoolId
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
Due: prettier, lint-explorer

fix: build issues
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: add handleDonate to project
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

tests: fix failing tests
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

feat: add directAllocation to allo-v2
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: update max height
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
Due: prettier, lint-explorer

feat: minor ui updates
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add progress modal cmponent in explorer
  packages/grant-explorer/src/features/common/ProgressModal.tsx
Due: prettier, lint-explorer

fix: build issue
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: add error modal
  packages/common/src/allo/backends/allo-v2.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: update ui
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

chore: code cleanup
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

feat: handle case when wallet is not connected
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

fix: zeroAddress bug
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

update UI
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

fix: decimal issue on donation modal
  packages/grant-explorer/src/features/projects/ViewProject.tsx
Due: prettier, lint-explorer

feat: add direct donate button (#3553)
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/ProgressModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

Revert "feat: add direct donate button (#3553)"
  packages/common/package.json
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/types.ts
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/ProgressModal.tsx
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/PayoutTokenDropdown.tsx
  packages/grant-explorer/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

feat: update allo sdk version
  packages/common/package.json
  pnpm-lock.yaml
Due: none

feat: add useDirectAllocation hook
  packages/grant-explorer/src/features/projects/hooks/useDirectAllocation.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer
