Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

undo linting change
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

fix github verification (#3782)
  packages/builder/src/components/providers/identity/credentials.ts
Due: prettier, lint-builder

update passport iam
  packages/common/src/services/passport/credentialVerifier.ts
  packages/common/src/services/passport/passportCredentials.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

update tests
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
Due: prettier, lint-builder

rm logs
  packages/common/src/services/passport/credentialVerifier.ts
Due: prettier

update passport iam (#3783)
  packages/builder/src/components/providers/identity/__tests__/credentials.test.ts
  packages/common/src/services/passport/passportCredentials.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-builder, lint-manager

load projects
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/actions/projects.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/utils.ts
Due: prettier, lint-builder, lint-data-layer

rm log
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

fixes
  packages/builder/tsconfig.tsbuildinfo
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
Due: prettier, lint-explorer

small updates
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix query
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

fixes
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager, lint-data-layer

fix explorer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
Due: prettier, lint-explorer, lint-data-layer

rm logs
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

fix attestations
  packages/data-layer/src/services/AttestationService/AttestationService.ts
Due: prettier, lint-data-layer

rm tests
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
Due: none

lint
  packages/builder/tsconfig.tsbuildinfo
Due: none

typecheck
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
Due: prettier, lint-explorer

update attestations
  packages/grant-explorer/src/assets/alt1.svg
  packages/grant-explorer/src/assets/alt2.svg
  packages/grant-explorer/src/assets/alt3.svg
  packages/grant-explorer/src/assets/alt4.svg
  packages/grant-explorer/src/assets/alt5.svg
  packages/grant-explorer/src/assets/preview_alt_1.svg
  packages/grant-explorer/src/assets/preview_alt_2.svg
  packages/grant-explorer/src/assets/preview_alt_3.svg
  packages/grant-explorer/src/assets/preview_alt_4.svg
  packages/grant-explorer/src/assets/preview_alt_5.svg
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

update attestation url
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

WIP
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
Due: prettier, lint-explorer

migrate builder (#3778)
  .env.example
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  docs/DEV.md
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

feat: indexer v2 query migrations (#3773) (#3777)
  .env.example
  .github/workflows/builder.yml
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  .github/workflows/grant-explorer.yml
  .github/workflows/round-manager.yml
  docs/DEV.md
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/components/grants/Show.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/tsconfig.tsbuildinfo
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/data-layer/src/services/AttestationService/AttestationService.ts
  packages/data-layer/src/utils.ts
  packages/grant-explorer/src/app/wagmi.ts
  packages/grant-explorer/src/features/discovery/hooks/useFilterRounds.ts
  packages/grant-explorer/src/features/discovery/hooks/useProjects.ts
  packages/grant-explorer/src/features/discovery/utils/__tests__/createRoundsStatusFilter.test.tsx
  packages/grant-explorer/src/features/discovery/utils/createRoundsStatusFilter.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/hooks/matchingEstimate.ts
  packages/round-manager/src/features/api/exports.ts
  packages/round-manager/src/features/api/program.ts
  packages/round-manager/src/features/api/round.ts
  packages/round-manager/src/features/api/utils.ts
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundResults/ViewRoundResults.tsx
  packages/round-manager/src/features/round/usePayouts.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

update attestations
  packages/grant-explorer/src/assets/alt1.svg
  packages/grant-explorer/src/assets/alt2.svg
  packages/grant-explorer/src/assets/alt3.svg
  packages/grant-explorer/src/assets/alt4.svg
  packages/grant-explorer/src/assets/alt5.svg
  packages/grant-explorer/src/assets/preview_alt_1.svg
  packages/grant-explorer/src/assets/preview_alt_2.svg
  packages/grant-explorer/src/assets/preview_alt_3.svg
  packages/grant-explorer/src/assets/preview_alt_4.svg
  packages/grant-explorer/src/assets/preview_alt_5.svg
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/components/ImageWithLoading.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationImage.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

chore: split ViewRoundPage components in different files
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/AlloVersionBanner.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/CartButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/CartButtonToggle.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundStatsTabContent.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundTabs.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ShareButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ShareStatsButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/StatCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/Stats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage/utils.ts
Due: prettier, lint-explorer

chore: get project metadata from application metadata
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

fix: (data-layer) getRoundForExplorer and ViewRoundPage refactor (#3786)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/AlloVersionBanner.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/CartButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/CartButtonToggle.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectList.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundStatsTabContent.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/RoundTabs.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ShareButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ShareStatsButton.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/StatCard.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/Stats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage/utils.ts
Due: prettier, lint-explorer, lint-data-layer

fix: missing canonical metadata
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

chore: removed unused imports
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
Due: prettier, lint-explorer

fix: lint
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer

fix: missing canonical metadata (#3787)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/discovery/RoundCard.tsx
  packages/grant-explorer/src/features/projects/__tests__/ViewProject.test.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage/ProjectCard.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
Due: prettier, lint-explorer, lint-data-layer

chore: updated minting attestations SVG(#3784)
  packages/grant-explorer/src/assets/alt1.svg
  packages/grant-explorer/src/assets/alt2.svg
  packages/grant-explorer/src/assets/alt3.svg
  packages/grant-explorer/src/assets/alt4.svg
  packages/grant-explorer/src/assets/alt5.svg
  packages/grant-explorer/src/assets/preview_alt_1.svg
  packages/grant-explorer/src/assets/preview_alt_2.svg
  packages/grant-explorer/src/assets/preview_alt_3.svg
  packages/grant-explorer/src/assets/preview_alt_4.svg
  packages/grant-explorer/src/assets/preview_alt_5.svg
  packages/grant-explorer/src/features/attestations/MintProgressModalBody.tsx
  packages/grant-explorer/src/features/attestations/MintYourImpactComponents.tsx
  packages/grant-explorer/src/features/common/components/ImageWithLoading.tsx
  packages/grant-explorer/src/features/contributors/components/Buttons/MintingActionButton.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationImage.tsx
  packages/grant-explorer/src/features/contributors/components/ViewAttestationModal/ViewAttestationModal.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/hooks/attestations/useColorAndBackground.ts
  packages/grant-explorer/src/hooks/attestations/useEASAttestation.ts
  packages/grant-explorer/src/hooks/attestations/useGetAttestationData.ts
Due: prettier, lint-explorer

fix: donations without application
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionContribution.tsx
Due: prettier, lint-explorer, lint-data-layer

fix: getApprovedApplicationsByExpandedRefs canonical
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: getApprovedApplicationsByExpandedRefs canonical (#3789)
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

fix: donations without application (#3788)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/grant-explorer/src/features/contributors/components/RoundAccordion/RoundAccordionContribution.tsx
Due: prettier, lint-explorer, lint-data-layer

beginning
  packages/grant-explorer/src/features/round/DonateToGitcoin.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

improvements
  packages/grant-explorer/src/features/round/DonateToGitcoin.tsx
Due: prettier, lint-explorer

update roles to lowercase
  packages/builder/src/actions/grantsMetadata.ts
  packages/data-layer/src/data-layer.test.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/program/ViewManageProgram.tsx
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

update roles to lowercase (#3790)
  packages/builder/src/actions/grantsMetadata.ts
  packages/data-layer/src/data-layer.test.ts
  packages/grant-explorer/src/features/projects/ViewProject.tsx
  packages/round-manager/src/features/api/__tests__/program.test.ts
  packages/round-manager/src/features/program/ViewManageProgram.tsx
  packages/round-manager/src/features/round/ViewManageTeam.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
