Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

Revert "fix (#3321)"
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

Revert "fix (#3321)" (#3327)
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

update styles to make dynamic tailwind classNames compile
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

twitter / github verify: assume expired stamp is valid (#3319)
  packages/builder/package.json
  packages/builder/src/__tests__/components/grants/Details.test.tsx
  packages/builder/src/__tests__/components/providers/Github.test.tsx
  packages/builder/src/__tests__/components/providers/Twitter.test.tsx
  packages/builder/src/hooks/useValidateCredential.tsx
  packages/common/package.json
  packages/common/src/credentialVerifier.ts
  packages/common/src/index.ts
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/round-manager/package.json
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

update UTC references to local timezone
  packages/common/src/index.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/common/parseRoundDates.tsx
  packages/round-manager/src/features/program/ViewProgramPage.tsx
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/ViewRoundPage.tsx
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager, lint-explorer

actually fixed test case
  packages/round-manager/src/features/program/__tests__/ViewProgramPage.test.tsx
Due: prettier, lint-manager

remove commented code
  packages/common/src/index.ts
Due: prettier

hotfix/update query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

hotfix/update query (#3333)
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

chore: prevent unchecking all chains in checkout
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
Due: prettier, lint-explorer

updated share buttons
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

round & application page design updates + add stats tab
  packages/common/src/components/Footer.tsx
  packages/common/src/icons.tsx
  packages/grant-explorer/src/assets/warpcast-logo.svg
  packages/grant-explorer/src/assets/x-logo.svg
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/__tests__/GenericModal.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.css
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

round page: add total donations count
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer, lint-data-layer

add missing image for the X logo
  packages/grant-explorer/src/assets/x-logo-black.png
Due: none

fixes for sepolia/zksync/bump allo sdk
  packages/builder/src/contracts/deployments.ts
  packages/common/package.json
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

update tweet text
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

fix merge conflict error/lockfile
  pnpm-lock.yaml
Due: none

update og meta tags
  packages/grant-explorer/public/index.html
  packages/grant-explorer/public/share.png
Due: none

add og:type tag
  packages/grant-explorer/public/index.html
Due: none

add og:url
  packages/grant-explorer/public/index.html
Due: none

use REACT_APP_VERCEL_URL
  packages/grant-explorer/public/index.html
Due: none

use absolute url for og:image
  packages/grant-explorer/public/index.html
Due: none

export CollectionShareButtonContainer to have button and dialog together
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
Due: prettier, lint-explorer

show collections button only in allo-v2
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
Due: prettier, lint-explorer

fix: ensure we get total Applications from contract
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

fix: ensure we get total Applications from contract (#3342)
  packages/common/src/allo/backends/allo-v2.ts
Due: prettier

update icon names
  packages/common/src/components/Footer.tsx
  packages/common/src/icons/BuilderIcon.tsx
  packages/common/src/icons/ManagerIcon.tsx
Due: prettier

Create ipfs collections (#3324)
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/components/base/ImageInput.tsx
  packages/builder/src/utils/components.ts
  packages/common/src/routes/explorer.ts
  packages/common/src/services/pinata.ts
  packages/grant-explorer/public/index.html
  packages/grant-explorer/public/share.png
  packages/grant-explorer/src/assets/x-logo-black.png
  packages/grant-explorer/src/features/collections/CollectionDetails.tsx
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/ExploreRoundsDropdown.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/styles.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/discovery/hooks/useApplications.ts
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/Header.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ViewCartPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.css
  packages/grant-explorer/src/store.ts
Due: prettier, lint-builder, lint-explorer

3301/Thank you page updates (#3306)
  packages/common/src/components/Footer.tsx
  packages/common/src/icons/BuilderIcon.tsx
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/common/src/icons/ManagerIcon.tsx
  packages/grant-explorer/src/assets/thank-you.svg
  packages/grant-explorer/src/features/round/ThankYou.test.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/round-manager/src/features/common/Navbar.tsx
Due: prettier, lint-manager, lint-explorer

chore: prevent unchecking all chains in checkout (#3335)
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
Due: prettier, lint-explorer

fixes for sepolia/zksync/bump allo sdk (#3312)
  packages/builder/src/contracts/deployments.ts
  packages/common/package.json
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  pnpm-lock.yaml
Due: prettier, lint-builder

create OSO functions, UI space
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

fix: passport issue
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

update chain confirm modal
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
Due: prettier, lint-explorer

update mrc modal style
  packages/grant-explorer/src/features/common/MRCProgressModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

remove gas fee content
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
Due: prettier, lint-explorer

fix conflict
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
Due: prettier, lint-explorer

3318/mrc style updates (#3329)
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
  packages/grant-explorer/src/features/common/MRCProgressModal.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer

merge main
  packages/builder/src/contracts/deployments.ts
  packages/common/package.json
  packages/common/src/chain-ids.ts
  packages/common/src/chains.ts
  packages/common/src/components/Footer.tsx
  packages/common/src/icons/BuilderIcon.tsx
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/common/src/icons/ManagerIcon.tsx
  packages/grant-explorer/src/assets/thank-you.svg
  packages/grant-explorer/src/features/common/ConfirmationModal.tsx
  packages/grant-explorer/src/features/common/MRCProgressModal.tsx
  packages/grant-explorer/src/features/round/ThankYou.test.tsx
  packages/grant-explorer/src/features/round/ThankYou.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/ChainConfirmationModalBody.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/MRCProgressModalBody.tsx
  packages/grant-explorer/tailwind.config.js
  packages/round-manager/src/features/common/Navbar.tsx
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-manager, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
