Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

update tabs based on collections pr
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

fix conflict errors
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

show search input/not working very well for results
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer

remove version banner
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

one more version banner
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix: passport issue (#3347)
  packages/grant-explorer/src/features/round/ViewCartPage/RoundInCart.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

Feat: round & application page design updates (#3337)
  packages/common/src/components/Footer.tsx
  packages/common/src/icons.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/assets/warpcast-logo.svg
  packages/grant-explorer/src/assets/x-logo.svg
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/__tests__/GenericModal.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/index.css
  packages/grant-explorer/tailwind.config.js
Due: prettier, lint-explorer, lint-data-layer

add static ipfs collections
  packages/common/src/icons/Discord.tsx
  packages/common/src/icons/Gitbook.tsx
  packages/common/src/icons/Github.tsx
  packages/grant-explorer/src/features/collections/CollectionCard.tsx
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
  packages/grant-explorer/src/features/collections/community/index.ts
  packages/grant-explorer/src/features/collections/hooks/useCollections.ts
  packages/grant-explorer/src/features/discovery/CardBanner.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
Due: prettier, lint-explorer

useMemo before condition
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
Due: prettier, lint-explorer

render collections only if !== undefined
  packages/grant-explorer/src/features/collections/CollectionsGrid.tsx
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
Due: prettier, lint-explorer

Update packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

WIP/3297 Add Explore Projects Tab (#3328)
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
  packages/grant-explorer/src/features/discovery/LandingTabs.tsx
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-explorer

working minimal OSO stats
  package.json
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

add copy to contribution history page
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

add copy to contribution history page (#3353)
  packages/grant-explorer/src/features/contributors/ViewContributionHistory.tsx
Due: prettier, lint-explorer

345 remove version banner (#3349)
  packages/grant-explorer/src/features/discovery/LandingPage.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

remove the extra nav
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix double header
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix double header (#3358)
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix loading app request for explorer
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer, lint-data-layer

fix loading app request for explorer (#3359)
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer, lint-data-layer

update permit dealine func
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

fully working stats display
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

FIX LINT
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

Stop killing my browser
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

Stop killing my browser (#3363)
  packages/grant-explorer/src/features/round/CollectionShareDialog.tsx
Due: prettier, lint-explorer

fix/update permit deadline func (#3361)
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

finished OSO stats display
  packages/grant-explorer/.env.example
  packages/grant-explorer/src/features/api/oso.ts
  packages/grant-explorer/src/features/round/KarmaGrant/GrantList.tsx
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

linter fixes
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
Due: prettier, lint-explorer

linter fix
  packages/grant-explorer/src/features/api/oso.ts
Due: prettier, lint-explorer

link project stats
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/styles/index.css
  packages/builder/tailwind.config.js
Due: prettier, lint-builder

link project stats (#3367)
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/styles/index.css
  packages/builder/tailwind.config.js
Due: prettier, lint-builder

code cleaning from pr feedback
  package.json
  packages/grant-explorer/.env.example
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/utils/utils.ts
  packages/grant-explorer/src/features/round/OSO/ImpactStats.tsx
  pnpm-lock.yaml
Due: prettier, lint-explorer

convert round creator to local time
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

restore explicit timeformat
  packages/round-manager/src/features/round/RoundDetailForm.tsx
Due: prettier, lint-manager

converted UTC references to local on settings page
  packages/round-manager/src/features/round/ViewRoundSettings.tsx
Due: prettier, lint-manager

make projectstats panel collapse on mobile
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
Due: prettier, lint-explorer

add anchor to collections
  packages/data-layer/src/openapi-search-client/models/ApplicationSummary.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer, lint-data-layer

added anchor
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/openapi-search-client/apis/DefaultApi.ts
  packages/grant-explorer/src/features/discovery/ExploreProjectsPage.tsx
Due: prettier, lint-explorer, lint-data-layer

add transak example setup
  packages/grant-explorer/.env.example
  packages/grant-explorer/package.json
  packages/grant-explorer/src/transak.ts
  pnpm-lock.yaml
Due: prettier, lint-explorer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
