Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

update test
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

log errors
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager

fix data layer test
  packages/data-layer/src/data-layer.test.ts
Due: prettier, lint-data-layer

fix: get applications query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

fix builder lint
  packages/builder/src/__tests__/reducers/projects.test.ts
Due: prettier, lint-builder

fix loading project applications
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: roud & application page redesign & integrate report card #2909
  packages/common/src/abi/merklePayoutStrategyImplementation.ts
  packages/common/src/abi/roundImplementation.ts
  packages/common/src/components/Footer.tsx
  packages/common/src/contracts.ts
  packages/common/src/icons.tsx
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
  packages/grant-explorer/package.json
  packages/grant-explorer/src/features/common/Breadcrumb.tsx
  packages/grant-explorer/src/features/common/DefaultLayout.tsx
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/common/Navbar.tsx
  packages/grant-explorer/src/features/common/ProjectCard.tsx
  packages/grant-explorer/src/features/common/__tests__/GenericModal.test.tsx
  packages/grant-explorer/src/features/projects/hooks/useRoundApplications.ts
  packages/grant-explorer/src/features/projects/hooks/useRoundUniqueDonorsCount.ts
  packages/grant-explorer/src/features/round/ApplyButton.tsx
  packages/grant-explorer/src/features/round/BeforeRoundStart.tsx
  packages/grant-explorer/src/features/round/ViewProjectDetails.tsx
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageHero.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageTabs.tsx
  packages/grant-explorer/src/hooks/useWindowDimensions.ts
  packages/grant-explorer/src/index.css
  packages/grant-explorer/src/index.tsx
  packages/grant-explorer/tailwind.config.js
  pnpm-lock.yaml
Due: prettier, lint-explorer, lint-data-layer

fix pnpm-lock
  pnpm-lock.yaml
Due: none

fix tests
  packages/grant-explorer/src/features/common/GenericModal.tsx
  packages/grant-explorer/src/features/round/ViewRoundPageStats.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
Due: prettier, lint-explorer

Apply to Direct Round ON MUMBAI (#3034)
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/builder/src/__tests__/reducers/projects.test.ts
  packages/builder/src/actions/projects.ts
  packages/builder/src/actions/roundApplication.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/application/Form.tsx
  packages/builder/src/components/grants/ApplicationCard.tsx
  packages/builder/src/components/grants/rounds/RoundListItem.tsx
  packages/builder/src/components/grants/stats/Stats.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/Show.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/builder/src/types/index.ts
  packages/builder/src/utils/test_utils.tsx
  packages/builder/src/utils/utils.ts
  packages/common/src/allo/allo.ts
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

fix merge conflict
  pnpm-lock.yaml
Due: none

fix loading project owners
  packages/data-layer/src/data.types.ts
  packages/data-layer/src/queries.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager, lint-data-layer

fix view app test
  packages/round-manager/package.json
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
Due: prettier, lint-manager

remove commented code
  packages/round-manager/src/features/round/ApplicationDirectPayout.tsx
Due: prettier, lint-manager

Restore --silent
  packages/round-manager/package.json
Due: none

add getRoundByIdAndChainIdWithApprovedApplications query
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

set name as required in RoundMetadataGetRound
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

add lastUpdated field in metadata built in getRoundByIdAndChainIdWithApprovedApplications
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

getRoundByIdAndChainIdWithApprovedApplications can return null
  packages/data-layer/src/data-layer.ts
  packages/grant-explorer/src/context/RoundContext.tsx
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer, lint-data-layer

remove wrong comment
  packages/grant-explorer/src/features/round/ViewCartPage/SummaryContainer.tsx
Due: prettier, lint-explorer

approve and reject qf applications for allo v1 and v2
  packages/common/src/allo/allo.ts
  packages/common/src/allo/application.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/data-layer/src/data.types.ts
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager, lint-data-layer

fix linter
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
Due: prettier, lint-manager

fix applications tests
  packages/round-manager/package.json
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsApproved.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsRejected.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-manager

fix more tests
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
Due: prettier, lint-manager

:fix type
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
Due: prettier, lint-manager

remove uneeded test, it is tested through the ui component
  packages/round-manager/src/context/application/__tests__/BulkUpdateGrantApplicationContext.test.tsx
Due: prettier, lint-manager

fix bulk footer
  packages/round-manager/src/features/round/BulkApplicationCommon.tsx
Due: prettier, lint-manager

fix(explorer) convert p to div to allow div child elements
  packages/grant-explorer/src/features/round/ViewRoundPage.tsx
Due: prettier, lint-explorer

fix goto definition
  packages/common/tsconfig.json
  packages/data-layer/tsconfig.json
Due: none

lint and typecheck common and datalayer
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier

Revert "lint and typecheck common and datalayer"
  .github/workflows/common.yml
  .github/workflows/data-layer.yml
  package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/common/src/allo/backends/allo-v1.test.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/icons/Dropdown.tsx
  packages/common/src/index.ts
  packages/common/src/transactions.ts
  pnpm-lock.yaml
Due: prettier

fix use allo issue
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/common/src/allo/react.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/program/useCreateProgram.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-builder, lint-manager

fix round details link
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

fix in review
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
Due: prettier, lint-manager

fix: single review change for dg
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
Due: prettier, lint-manager

fix in review
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
Due: prettier, lint-manager

fix: remove debugger;
  packages/common/src/allo/transaction-sender.ts
Due: prettier

Review applications for QF Rounds on Allo V1 and Allo V2 (#3058)
  packages/builder/src/components/base/Preview.tsx
  packages/builder/src/components/rounds/Apply.tsx
  packages/builder/src/components/rounds/ViewApplication.tsx
  packages/common/src/allo/allo.ts
  packages/common/src/allo/application.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/react.tsx
  packages/data-layer/src/data.types.ts
  packages/round-manager/package.json
  packages/round-manager/src/context/application/BulkUpdateGrantApplicationContext.tsx
  packages/round-manager/src/context/application/__tests__/BulkUpdateGrantApplicationContext.test.tsx
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/features/api/types.ts
  packages/round-manager/src/features/common/useApplicationsByRoundId.tsx
  packages/round-manager/src/features/program/useCreateProgram.tsx
  packages/round-manager/src/features/round/ApplicationsApproved.tsx
  packages/round-manager/src/features/round/ApplicationsRejected.tsx
  packages/round-manager/src/features/round/ApplicationsToApproveReject.tsx
  packages/round-manager/src/features/round/ApplicationsToReview.tsx
  packages/round-manager/src/features/round/BulkApplicationCommon.tsx
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/ViewApplicationPage.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsApproved.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsRejected.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToApproveReject.test.tsx
  packages/round-manager/src/features/round/__tests__/ApplicationsToReview.test.tsx
  packages/round-manager/src/features/round/__tests__/FundContract.test.tsx
  packages/round-manager/src/features/round/__tests__/ReclaimFunds.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewApplicationPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundResults.test.tsx
  packages/round-manager/src/features/round/__tests__/ViewRoundSettings.test.tsx
  packages/round-manager/src/test-utils.tsx
Due: prettier, lint-builder, lint-manager, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
