Repository gitcoinco/grants-stack: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-builder, lint-manager, lint-explorer, lint-data-layer

prettier:
  run: pnpm format {staged_files}
  stage_fixed: true

lint-builder:
  run: pnpm --filter "builder" lint:local {staged_files}
  stage_fixed: true

lint-manager:
  run: pnpm --filter "round-manager" lint:local {staged_files}
  stage_fixed: true

lint-explorer:
  run: pnpm --filter "grant-explorer" lint:local {staged_files}
  stage_fixed: true

lint-data-layer:
  run: pnpm --filter "data-layer" lint {staged_files}
  stage_fixed: true

fix tests
  packages/builder/src/__tests__/components/grants/Show.test.tsx
Due: prettier, lint-builder

fix lint
  packages/builder/src/__tests__/components/grants/Show.test.tsx
Due: prettier, lint-builder

fix not existing roles
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

rm logs
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

clean up logs/some inline docs
  packages/builder/src/actions/projects.ts
  packages/builder/src/utils/utils.ts
Due: prettier, lint-builder

wip: clone alloprovider to RMˆ
  packages/common/src/allo/backends/allo-v2.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/api/AlloWrapper.tsx
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

fix queries
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

clean
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

lint
  packages/builder/src/components/grants/Show.tsx
Due: prettier, lint-builder

changed endpoint
  packages/builder/src/index.tsx
Due: prettier, lint-builder

update env.example/fix
  packages/builder/.env.example
Due: none

remove unused folder/fix
  cache/solidity-files-cache.json
Due: none

rounds.ts cleanup/fix
  packages/builder/src/actions/rounds.ts
Due: prettier, lint-builder

Update packages/builder/src/utils/test_utils.tsx
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

fix: circular dep and other bugsˆ
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/chain-ids.ts
  packages/common/src/graphql_fetch.ts
  packages/common/src/index.ts
  packages/common/src/payoutTokens.ts
  packages/round-manager/package.json
  packages/round-manager/src/features/api/__tests__/application.test.ts
  packages/round-manager/src/features/api/payoutTokens.ts
  packages/round-manager/src/index.tsx
  pnpm-lock.yaml
Due: prettier, lint-manager

restore send transaction type safety
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
Due: prettier

update test utils/null check/fix
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/utils/test_utils.tsx
Due: prettier, lint-builder

update version types/fix
  packages/common/src/config.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/data-layer.types.ts
Due: prettier, lint-data-layer

restore send transaction type safety (#2840)
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
Due: prettier

fix: creating rounds
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/chain-ids.ts
  packages/round-manager/src/stores/createRoundStore.ts
  pnpm-lock.yaml
Due: prettier, lint-manager

fix: test
  packages/common/src/allo/backends/allo-v1.test.ts
Due: prettier

fix: create round tests
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/features/round/__tests__/RoundApplicationForm.test.tsx
  packages/round-manager/src/stores/createRoundStore.ts
Due: prettier, lint-manager

fix: temporarily fix build by not using bigint literals
  packages/builder/tsconfig.json
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/transaction-sender.ts
  packages/common/tsconfig.json
  packages/round-manager/craco.config.js
  packages/round-manager/tsconfig.json
Due: prettier, lint-manager

update missing import
  packages/common/src/allo/transaction-sender.ts
Due: prettier

remove registry address from allo-v2 wrapper
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/utils/test_utils.tsx
  packages/common/src/allo/backends/allo-v2.test.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/backends/test-utils.ts
Due: prettier, lint-builder

wip/adding indexer getIndexedBlock
  packages/builder/src/actions/newGrant.ts
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-builder, lint-data-layer

tests: unignore and fix tests (#2835)
  packages/builder/src/__tests__/components/application/Form.test.tsx
  packages/grant-explorer/src/features/common/__tests__/ErrorModal.test.tsx
  packages/grant-explorer/src/features/discovery/__tests__/LandingPage.test.tsx
  packages/grant-explorer/src/features/round/ViewCartPage.ignored.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewProjectDetails.test.tsx
  packages/grant-explorer/src/features/round/__tests__/ViewRoundPage.test.tsx
  packages/grant-explorer/src/index.tsx
Due: prettier, lint-builder, lint-explorer

wip/working on placement
  packages/common/src/allo/indexer.ts
  packages/data-layer/src/data-layer.ts
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

rm code
  cache/solidity-files-cache.json
  packages/builder/src/actions/newGrant.ts
Due: prettier, lint-builder

rm cached file
  cache/solidity-files-cache.json
Due: none

wait for indexer
  packages/builder/src/actions/newGrant.ts
  packages/builder/src/actions/rounds.ts
  packages/builder/src/components/AlloWrapper.tsx
  packages/builder/src/utils/utils.ts
  packages/common/src/allo/backends/allo-v1.ts
  packages/common/src/allo/backends/allo-v2.ts
  packages/common/src/allo/indexer.ts
  packages/common/src/index.ts
  packages/data-layer/package.json
  packages/data-layer/src/data-layer.ts
  pnpm-lock.yaml
Due: prettier, lint-builder, lint-data-layer

rm cahed file and dependency
  packages/data-layer/package.json
Due: none

update lock
  pnpm-lock.yaml
Due: none

fix/update for gh username
  packages/builder/src/actions/grantsMetadata.ts
  packages/builder/src/types/index.ts
  packages/common/src/index.ts
  packages/data-layer/src/data-layer.test.ts
  packages/data-layer/src/data.types.ts
Due: prettier, lint-builder, lint-data-layer

fix: dg rounds, add synpressˆ
  packages/common/src/allo/backends/allo-v1.ts
  packages/grant-explorer/src/features/api/utils.ts
  packages/round-manager/.gitignore
  packages/round-manager/fixtures.ts
  packages/round-manager/package.json
  packages/round-manager/playwright.config.js
  packages/round-manager/src/features/round/RoundApplicationForm.tsx
  packages/round-manager/src/stores/createRoundStore.ts
  packages/round-manager/tests/createDgRound.test.ts
  packages/round-manager/tests/createProgram.test.ts
  pnpm-lock.yaml
Due: prettier, lint-manager, lint-explorer

update .env variable
  packages/builder/.env.example
  packages/builder/src/actions/projects.ts
Due: prettier, lint-builder

fix: round program and operatorsˆ
  packages/common/src/allo/backends/allo-v1.ts
Due: prettier

feat: add fetch program queries
  packages/data-layer/src/queries.ts
Due: prettier, lint-data-layer

feat: add program type
  packages/data-layer/src/data.types.ts
Due: prettier, lint-data-layer

feat: add getProgramsByUser
  packages/data-layer/src/data-layer.ts
Due: prettier, lint-data-layer

Path conditions:
  prettier: any of: **/*.{js,ts,jsx,tsx}
  lint-builder: any of: **/*.{js,ts,jsx,tsx} and ^packages/builder/
  lint-manager: any of: **/*.{js,ts,jsx,tsx} and ^packages/round\-manager/
  lint-explorer: any of: **/*.{js,ts,jsx,tsx} and ^packages/grant\-explorer/
  lint-data-layer: any of: **/*.{js,ts,jsx,tsx} and ^packages/data\-layer/
